<%# TODO: Show an error of some sort if the last delivery was not successful %>
<li class="mt-6 border-t border-light-grey">
  <h3 class="mt-4 text-2xl font-bold text-navy"><%= alert.address %></h3>
  <div>
    <h4 class="mt-5 text-2xl font-bold leading-6 text-navy">Last email sent</h4>
    <p class="text-2xl font-normal text-navy">
      <% if alert.last_sent %>
        <%= time_ago_in_words(alert.last_sent) %>
        ago
      <% else %>
        not yet sent
      <% end %>
    </p>
  </div>
  <div>
    <h4 class="mt-5 text-2xl font-bold text-navy">Alert distance</h4>
    <%= form_with model: [:profile, alert], builder: FormBuilders::Tailwind do |f| %>
      <%# TODO: Get the proper radius values here %>
      <%= f.select :radius_meters, [["200 metres", 200], ["500 metres", 500]], {}, class: "w-full text-navy text-2xl font-normal py-4 mt-2 border-light-grey2" %>
      <%# TODO: Update radius on map when we change the select above %>
      <%= tag.div class: "map h-80 bg-google-maps-green mt-4", data: { lat: alert.lat, lng: alert.lng, address: alert.address, zoom: 13, radius_meters: alert.radius_meters } %>
      <div class="my-6">
        <%= f.button "Update distance" %>
      </div>
    <% end %>
  </div>
  <%= form_with model: [:profile, alert], method: :delete, data: { confirm: "Are you sure you want to unsubscribe for email alerts for #{alert.address}?" }, builder: FormBuilders::Tailwind do |f| %>
    <% f.button "Delete this alert" %>
  <% end %>
</li>
