<%= link_to "< Back to menu", profile_alerts_path, class: "text-2xl font-medium underline text-navy" %>

<h3 class="text-4xl font-bold mt-14 text-navy font-display"><%= @alert.address %></h3>
<div>
  <h4 class="text-2xl font-bold leading-6 mt-14 text-navy">Last email sent</h4>
  <p class="text-2xl font-normal text-navy">
    <%= last_sent_in_words(@alert.last_sent) %>
  </p>
</div>

<div class="pb-24 border-b text-light-grey">
  <%= form_with model: [:profile, @alert], builder: FormBuilders::Tailwind, class: "mt-5" do |f| %>
    <%= f.label :radius_meters, "Alert distance" %>
    <%# TODO: Add tick to current value %>
    <div x-data="{radius_meters: <%= @alert.radius_meters %>, circle: null}" x-init="$watch('radius_meters', value => circle.setRadius(value))">
      <%= f.select :radius_meters,
                   Alert::VALID_RADIUS_METERS_VALUES.map { |r| [meters_in_words(r), r] },
                   {},
                   class: "w-full text-navy text-2xl font-normal py-4 mt-2 border-light-grey2",
                   "x-model.number": "radius_meters" %>
      <%# TODO: Add a fallback for the map (probably just tell the user) if javascript is disabled %>
      <%= tag.div class: "map h-80 bg-google-maps-green mt-4",
                  data: { lat: @alert.lat, lng: @alert.lng, address: @alert.address, zoom: 13, radius_meters: @alert.radius_meters },
                  "x-data" => true,
                  "x-ref" => "map",
                  # This handles both when google maps is ready before alpine and the
                  # other way around
                  "x-init" => "if('google' in window) circle = initialiseAlertMap($el)",
                  "x-on:map-loaded.window" => "circle = initialiseAlertMap($el)" %>
    </div>
    <div class="mt-6">
      <%= f.button "Update distance" %>
    </div>
  <% end %>
</div>

<%# TODO: Show an error of some sort if the last delivery was not successful %>
<%# TODO: Add icon %>
<%# TODO: Make this a secondary button %>
<%# TODO: Add standard spacer before footer - do that in layout %>
<div class="mt-8">
  <%= form_with model: [:profile, @alert], method: :delete, data: { confirm: "Are you sure you want to unsubscribe for email alerts for #{@alert.address}?" }, builder: FormBuilders::Tailwind do |f| %>
    <% f.button "Delete this alert", type: :secondary, icon: :trash %>
  <% end %>
</div>
