<h2 class="text-3xl font-bold text-navy font-display">Your alerts</h2>
<div>
  <p class="mt-3 text-2xl font-normal text-navy">
    Alerts are sent to your email at
    <%= current_user.email %>
  </p>
  <%= link_to "Change", edit_user_registration_path, class: "text-orange underline font-bold text-2xl mt-1 inline-block" %>
</div>

<% if @alerts.empty? %>
  <div class="flex items-center justify-between border mt-11 border-light-grey2">
    <div class="flex justify-center flex-grow">
      <div class="ml-12 mr-4">
        <p class="text-2xl font-normal text-navy">You have no saved alerts</p>
        <%= link_to "Create your first one", new_profile_alert_path, class: "text-orange text-2xl font-bold underline" %>
      </div>
    </div>
    <%= image_tag "tailwind/woman-looking-off-illustration.svg", class: "mt-6" %>
  </div>
<% else %>
  <ul class="mt-11">
    <% @alerts.each do |alert| %>
      <li class="py-4 border-t text-light-grey">
        <%= link_to edit_profile_alert_path(alert) do %>
          <div class="flex items-baseline justify-between">
            <dl>
              <dt class="hidden">Address</dt>
              <dd class="text-3xl font-bold text-navy"><%= alert.address %></dd>
              <dt class="mt-5 text-2xl font-bold leading-6 text-navy">Last email sent</dt>
              <dd class="text-2xl font-normal text-navy">
                <%= last_sent_in_words(@alert.last_sent) %>
              </dd>
            </dl>
            <%= image_tag "tailwind/right-arrow.svg", class: "pb-1" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
