<h2 class="text-3xl font-bold text-navy font-display">Your alerts</h2>
<div>
  <p class="mt-3 text-2xl font-normal text-navy">
    Alerts are sent to your email at
    <%= current_user.email %>
  </p>
  <%= pa_link_to "Change", edit_user_registration_path, class: "text-2xl mt-1 inline-block" %>
</div>

<% if @alerts.empty? %>
  <div class="flex items-center justify-between border mt-11 border-light-grey2">
    <div class="flex justify-center flex-grow">
      <div class="ml-12 mr-4">
        <p class="text-2xl font-normal text-navy">You have no saved alerts</p>
        <%= pa_link_to "Create your first one", new_profile_alert_path, class: "text-2xl" %>
      </div>
    </div>
    <%= image_tag "tailwind/illustration/woman-looking-off.svg", class: "mt-6", alt: "Illustration of a woman looking off into the distance" %>
  </div>
<% else %>
  <ul class="mt-11">
    <% @alerts.each do |alert| %>
      <li class="">
        <%= link_to edit_profile_alert_path(alert) do %>
          <div class="flex items-center justify-between px-4 py-8 border-t hover:pt-[30px] hover:border-t-[3px] hover:border-navy border-light-grey active:bg-sun-yellow group">
            <dl>
              <dt class="hidden">Address</dt>
              <dd class="text-2xl font-bold underline text-fuchsia group-hover:text-fuchsia-darker"><%= alert.address %></dd>
              <dt class="mt-3 text-2xl font-bold leading-6 text-navy">Last email sent</dt>
              <dd class="text-2xl font-normal text-navy">
                <%= last_sent_in_words(alert.last_sent) %>
              </dd>
            </dl>
            <svg class="stroke-light-grey2 group-hover:stroke-navy" width="29" height="56" viewBox="0 0 29 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L27.2929 27.2929C27.6834 27.6834 27.6834 28.3166 27.2929 28.7071L1 55" stroke-width="2" stroke-linecap="round"/>
            </svg>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
