<h2 class="text-3xl font-bold text-navy font-display">Create new alert</h2>

<%= form_with model: [:profile, @alert], builder: FormBuilders::Tailwind do |f| %>
  <%= f.label :address, "Enter a street address", class: "block mt-12" %>
  <%# TODO: Show errors %>
  <%= f.street_address_field :address, class: "mt-2 block w-full" %>
  <ul class="mt-8 list-none">
    <%# TODO: Switch order of descriptions %>
    <%= f.collection_radio_buttons :radius_meters, Alert::VALID_RADIUS_METERS_VALUES, ->(r) { r }, ->(r) { size_option_sentence(r) } do |b| %>
      <li>
        <%# TODO: Style radio button like design %>
        <%= b.radio_button %>
        <%= b.label class: "ml-2" %>
      </li>
    <% end %>
  </ul>
  <div class="mt-12">
    <%= f.button "Create alert" %>
  </div>
<% end %>
