<h3>Edit User</h3>

<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.inputs do %>
    <%= f.input :name, hint: "Please use your full name", input_html: { autofocus: true, autocomplete: "name" } %>
    <%= f.input :email, input_html: { autocomplete: "email" } %>
    <% if resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%= f.input :password, required: false, hint: "leave blank if you don't want to change it", input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password, required: true, hint: "we need your current password to confirm your changes", input_html: { autocomplete: "current-password" } %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Update", button_html: { class: "button button-rounded button-large button-action" } %>
  <% end %>
<% end %>
