- content_for :page_title, "Performance"

%h1= yield :page_title

%h2
  -# FIXME: pluralization of 'are' will be wrong if there's 1 person
  = pluralize(Alert.active.distinct.count(:email), "person")
  are signed up for PlanningAlerts

%h2 Comments on planning applications

-# target for chart script
.chart#comment-performance-chart

%table#comment-performance-table
  %caption
    New and returning people commenting on applications each day
  %thead
    %tr
      %th Date
      %th First time commenters
      %th Returning commenters
  %tbody
    - @daily_comment_metrics.each do |day|
      %tr
        %th= day[:date]
        %td= day[:first_time_commenters]
        %td= day[:returning_commenters]

= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"
= javascript_include_tag "stacked_area_chart"
:javascript
  stackedAreaTimeseries(
    "#comment-performance-chart",
    "#{comments_performance_index_url(format: :json)}",
    "New and returning people commenting on applications each day"
  );

  // Make the table only visible to screen readers
  var table = document.getElementById('comment-performance-table')

  if (table.classList) {
    table.classList.add('sr-only');
  } else {
    table.className += ' sr-only';
  }
