%h3= @geocode_query.query

%table
  %tbody
    %tr
      %th Address
      %td= @geocode_query.query
    %tr
      %th Average distance to average result (to nearest metre)
      %td= @geocode_query.average_distance_to_average_result&.round
    %tr
      %th Google Lat
      %td= @geocode_query.result("google").lat
    %tr
      %th Google Lng
      %td= @geocode_query.result("google").lng
    %tr
      %th Mappify Lat
      %td= @geocode_query.result("mappify").lat
    %tr
      %th Mappify Lng
      %td= @geocode_query.result("mappify").lng

:css
  #geocoding-map {
    height: 500px;
  }

#geocoding-map

:javascript
  $(document).ready(function(){
    var googleLatLng = {lat: #{@geocode_query.result("google").lat}, lng: #{@geocode_query.result("google").lng}};
    var mappifyLatLng = {lat: #{@geocode_query.result("mappify").lat}, lng: #{@geocode_query.result("mappify").lng}};

    var map = new google.maps.Map(document.getElementById('geocoding-map'), {
      zoom: 13,
      center: googleLatLng
    });

    // TODO: Generalise to any number of geocoder results

    var googleContentString = '<h3>Google</h3>';
    var mappifyContentString = '<h3>Mappify</h3>';

    var googleInfowindow = new google.maps.InfoWindow({
      content: googleContentString
    });

    var mappifyInfowindow = new google.maps.InfoWindow({
      content: mappifyContentString
    });

    var googleMarker = new google.maps.Marker({
      position: googleLatLng,
      map: map,
      title: 'Google'
    });

    var mappifyMarker = new google.maps.Marker({
      position: mappifyLatLng,
      map: map,
      title: 'Mappify'
    });

    googleMarker.addListener('click', function() {
      googleInfowindow.open(map, googleMarker);
    });

    mappifyMarker.addListener('click', function() {
      mappifyInfowindow.open(map, mappifyMarker);
    });
  });
