%h3= @geocode_query.query

:css
  #geocoding-map {
    height: 500px;
  }

#geocoding-map

:javascript
  $(document).ready(function(){
    var googleLatLng = {lat: #{@geocode_query.result("google").lat}, lng: #{@geocode_query.result("google").lng}};
    var mappifyLatLng = {lat: #{@geocode_query.result("mappify").lat}, lng: #{@geocode_query.result("mappify").lng}};

    var map = new google.maps.Map(document.getElementById('geocoding-map'), {
      zoom: 13,
      center: googleLatLng
    });

    // TODO: Generalise to any number of geocoder results

    var googleContentString = '#{escape_javascript(render "geocode_results/result", result: @geocode_query.result("google"))}';
    var mappifyContentString = '#{escape_javascript(render "geocode_results/result", result: @geocode_query.result("mappify"))}';

    var googleInfowindow = new google.maps.InfoWindow({
      content: googleContentString
    });

    var mappifyInfowindow = new google.maps.InfoWindow({
      content: mappifyContentString
    });

    var googleMarker = new google.maps.Marker({
      position: googleLatLng,
      map: map,
      title: 'Google'
    });

    var mappifyMarker = new google.maps.Marker({
      position: mappifyLatLng,
      map: map,
      title: 'Mappify'
    });

    googleMarker.addListener('click', function() {
      googleInfowindow.open(map, googleMarker);
    });

    mappifyMarker.addListener('click', function() {
      mappifyInfowindow.open(map, mappifyMarker);
    });
  });
