<div class="max-w-lg mx-auto">
  <h1 class="my-20 text-4xl font-bold text-center text-fuchsia font-display">Create an account</h1>

  <%= form_with model: resource, url: registration_path(resource_name), builder: FormBuilders::Tailwind do |f| %>
    <%# TODO: Add error display and styling %>
    <div class="mb-5">
      <%= f.label :name, "Your full name", class: "mb-1 block" %>
      <%= f.text_field :name, class: "block w-full", autofocus: true, autocomplete: "name", placeholder: "e.g. Jane Citizen" %>
    </div>
    <div class="mb-5">
      <%= f.label :email, class: "mb-1 block" %>
      <%= f.email_field :email, class: "block w-full", autocomplete: "email" %>
    </div>
    <div class="mb-8">
      <%= f.label :password, "Create a password", class: "mb-1 block" %>
      <%= f.password_field :password, class: "block mb-1 w-full", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <p class="text-2xl font-light text-navy"><%= @minimum_password_length %> characters minimum</p>
      <% end %>
    </div>
    <%= f.button "Create my account" %>
  <% end %>

  <div class="mt-10 text-2xl text-navy">
    <%= render "privacy_policy" %>
  </div>

  <hr class="mt-16 text-[#D2CFC1]">
  <div class="flex mt-8">
    <%= image_tag "tailwind/already-have-an-account-illustration.svg" %>
    <div class="flex-grow text-2xl font-bold text-center text-navy">
      <p>
        Already have an account?
      </p>
      <p>
        <%= link_to "Sign in", new_user_session_path, class: "underline" %> or
        <%= link_to "activate", new_users_activation_path, class: "underline" %>.
      </p>
    </div>
  </div>
</div>
