!!!
%html{lang: "en"}
  = render "shared/html_head", rss: @rss
  %body
    .container
      = render "application/header", with_navigation: true, alert_count: @alert_count
      = render "application/main"
      = render "shared/stats"
      -# = render "shared/donations"
      = render "application/footer"
    -# = render "shared/end_matter", with_maps_scripts: true
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", integrity: "sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", crossorigin:"anonymous"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", integrity: "sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k", crossorigin:"anonymous"}
