<ul class="ml-5 text-lg font-bold text-navy list-image-dash">
  <li><div class="pl-4"><%= pa_link_to_unless_current "Your alerts", alerts_path %></div></li>
  <li><div class="pl-4"><%= pa_link_to_unless_current "Create new alert", new_alert_path %></div></li>
  <li><div class="pl-4"><%= pa_link_to_unless_current "Your comments", comments_profile_path %></div></li>
  <li><div class="pl-4"><%= pa_link_to_unless_current "Edit account", edit_user_registration_path %></div></li>
  <% if Flipper.enabled?(:api_keys_in_profile) %>
    <li><div class="pl-4"><%= pa_link_to_unless_current "API keys", api_keys_path %></div></li>
  <% end %>
  <%# Setting "Sign out" to a block breaks on ios/safari %>
  <li><div class="pl-4"><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "#{pa_link_classes(quiet: false)} cursor-pointer" %></div></li>
</ul>

<% if current_user.admin? %>
  <ul class="mt-10 ml-5 text-lg list-image-dash">
    <li><div class="pl-4"><%= pa_link_to_unless_current "Administration panel", admin_root_path %></div></li>
    <li><div class="pl-4"><%= pa_link_to_unless_current "Feature flags", admin_flipper_path %></div></li>
  </ul>
<% end %>
