= bootstrap_form_for alert do |f|
  = render "alerts/signup_introduction" if with_intro
  - if address_hidden
    = f.hidden_field :address
  - else
    = f.text_field :address,
                   label: "Enter a street address",
                   placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580",
                   required: "required",
                   class: "address-autocomplete-input"
  = f.email_field :email, label: "Enter your email address",
                          placeholder: "your@email.com",
                          required: "required"
  = f.submit "Create alert", class: "btn btn-primary"
