%figure.reply-from-councillor.comment-item.panel{ id: "reply#{reply.id}" }
  .panel-body
    .comment-heading.h-card
      = render "councillors/councillor_image", councillor: reply.councillor
      %figcaption.comment-meta
        .comment-author.councillor
          %span.p-name= reply.councillor.name
          %span.p-role local councillor for #{reply.councillor.authority.full_name}
        %span.comment-time-block
          replied to
          = link_to reply.comment.name, "#comment#{reply.comment.id}", title: "View comment"
          = link_to reply_path(reply), title: "View reply" do
            %time.comment-time{ datetime: reply.received_at.strftime("%F") }
              #{time_ago_in_words(reply.received_at)} ago
    %blockquote.comment-text= simple_format(reply.text)
    - if current_user && current_user.admin?
      %footer
        .comment-actions
          = link_to "admin", admin_reply_path(reply), class: 'comment-action'
