<% content_for :page_title, "Thank you for reporting a comment" %>

<div class="mb-8">
  <%= pa_link_to "< Back to application", @comment.application, extra_classes: "text-xl" %>
</div>

<%= render Tailwind::CentreBlock.new(extra_classes: "mt-16") do %>
  <%= render Tailwind::Heading.new(tag: :h1) do %>
    <%= yield :page_title %>
  <% end %>

  <%= image_tag "tailwind/illustration/thank_you.svg", alt: "Illustration of a woman giving a thumbs up", class: "my-12" %>

  <div class="text-xl text-navy">
    <p>
      Thank you for noticing!
    </p>

    <p class="mt-6">
      A moderator will review the comment in light of your report and our guidelines and see if it should be removed or not.
      Either way we'll get back to you.
    </p>

    <p class="mt-6">
      Your action helps keep community discussions respectful and safe.
    </p>
  </div>
<% end %>