<section class="main-content__body">
  <%# These URLs require you to login to our Kibana instance with a username and password. %>
  <%# So they're relatively safe to include here. %>
  <p>
    <%= link_to "View dashboard in Kibana", "https://d2ba5a791b81410f8d2365c8a6d59905.ap-southeast-2.aws.found.io:9243/app/kibana#/dashboard/8e1285f0-3582-11e9-8f74-c54feae3d9a2?_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-1y%2Cmode%3Aquick%2Cto%3Anow))" %>
  </p>

  <h1>Top 50 users of the API (by number of requests) over the last <%= pluralize(@period, 'day') %></h1>

  <p>
    Note that these numbers are measured before any authorization is done.
    So, for instance if an API key has been disabled but a user is still
    making requests with that key, which are then getting denied, those
    requests will still show up in the list here.
  </p>

  <ul>
    <li><%= link_to_unless_current "last 30 days", period: 30 %></li>
    <li><%= link_to_unless_current "last 7 days", period: 7 %></li>
    <li><%= link_to_unless_current "last 1 day", period: 1 %></li>
  </ul>

  <table>
    <thead>
      <th>Name</th>
      <th>Organisation</th>
      <th>Email</th>
      <th>Disabled</th>
      <th>Commercial</th>
      <th>Daily Limit</th>
      <th>Requests</th>
    </thead>
    <tbody>
      <% @result.each do |usage| %>
        <tr>
          <td><%= link_to usage.api_key_object.user.name,         new_admin_api_key_path(usage.api_key_object) %></td>
          <td><%= link_to usage.api_key_object.user.organisation, new_admin_api_key_path(usage.api_key_object) %></td>
          <td><%= link_to usage.api_key_object.user.email,        new_admin_api_key_path(usage.api_key_object) %></td>
          <td><%= link_to usage.api_key_object.disabled.to_s,     new_admin_api_key_path(usage.api_key_object) %></td>
          <td><%= link_to usage.api_key_object.commercial.to_s,   new_admin_api_key_path(usage.api_key_object) %></td>
          <td><%= link_to usage.api_key_object.daily_limit.to_s,  new_admin_api_key_path(usage.api_key_object) %></td>
          <td><%= usage.requests %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
