%h3 Resend confirmation instructions

= semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource

  = f.inputs do
    = f.input :email, required: false, input_html: { autofocus: true }

  = f.actions do
    = f.action :submit, label: "Resend confirmation instructions", button_html: { class: "button button-rounded button-large button-action" }

= render "devise/shared/links"
