<div class="login-block">
  <h2>Resend confirmation instructions</h2>
  <p class="login-explanation">
    Or you could <%= link_to "create an account", new_user_registration_path %> or
    <%= link_to "sign in", new_user_session_path %>.
  </p>

  <%= semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.inputs do %>
      <%= f.input :email, input_html: { autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) } %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, label: "Resend confirmation instructions", button_html: { class: "button button-rounded button-large button-action" } %>
    <% end %>
  <% end %>
</div>
