<%# TODO: Add real content %>
<%# TODO: Handle hidden comments %>
<%# TODO: Add ability to link directly to this comment %>
<article class="flex gap-6">
  <div class="text-navy text-7xl">”</div>
  <div>
    <div class="prose prose-2xl">
      <%= comment_as_html(comment.text) %>
    </div>

    <%# TODO: Smaller line height? %>
    <div class="mt-2 text-xl font-bold text-navy">
      <%= comment.name %>
    </div>
    <div class="text-xl text-navy">
      <%= time_tag comment.confirmed_at do %>
        <%= time_ago_in_words(comment.confirmed_at).capitalize %> ago
      <% end %>
    </div>
    <%# TODO: Add disclosure icon %>
    <%# TODO: Make it work %>
    <%# TODO: Progressive enhancement? %>
    <%# TODO: Make this show the correct thing %>
    <div class="text-xl font-bold text-fuchsia">Delivered to the planning authority</div>
    <div>
      <%# TODO: Link to correct place %>
      <%= link_to "Report this comment", "#", class: "text-fuchsia text-xl underline" %>
    </div>
  </div>
</article>
