<%# TODO: Can we factor out common elements between this partial and _comment.html.erb? %>
<%= render Tailwind::LinkBlock.new(url: comment_path(comment)) do %>
  <div class="my-4">
    <%= render Tailwind::QuotedBlock.new do %>
      <% if comment.visible? %>
        <div class="mb-6 text-2xl text-navy">
          <div class="text-2xl font-bold underline text-fuchsia group-hover:text-fuchsia-darker"><%= comment.application.address %></div>
          <%# TODO: Limit length of description to two lines (even on mobile?) %>
          <div class="font-bold">"<%= comment.application.description %>"</div>
        </div>
        <%# TODO: Use blockquote for the body of the comment? %>
        <%= render "comments/comment_text", comment: %>

        <%# TODO: Smaller line height? %>
        <div class="mt-2 text-xl font-bold text-navy">
          <%= comment.name %>
        </div>

        <%= render "comments/comment_date", comment: %>

        <%= render "comments/delivery_status", comment: %>
      <% else %>
        <p class="text-2xl italic text-navy">This comment was hidden by site administrators</p>

        <div class="mt-6">
          <%= render "comments/comment_date", comment: %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%
=begin
%>

<figure class="comment-item panel" id="comment<%= comment.id %>">
  <%= render "comments/location_heading", comment: comment if with_address %>
  <div class="panel-body">
    <figcaption class="comment-meta comment-heading">
      <%= render "comments/meta_sentence", comment: %>
    </figcaption>
    <blockquote class="comment-text">
      <% if comment.visible? %>
        <%= comment_as_html(comment.text) %>
      <% else %>
        <em>Hidden by site administrators</em>
      <% end %>
    </blockquote>
  </div>
</figure>

<%
=end
%>
