<%# TODO: Do we want to right align the arrow with the expanded content? %>
<%# TODO: We probably want to visually separate the whole component from its surroundings %>
<%# TODO: We don't want the content to fill the full width %>
<% if comment.last_delivered_successfully.nil? %>
  <%# TODO: Add explanatory text that says something along the lines of "email has been created but not yet delivered. This can happen..." %>
  <div class="text-xl text-navy">Sent to the planning authority</div>
<% elsif comment.last_delivered_successfully %>
  <div class="text-xl text-navy">
    Delivered to the planning authority
    <%= render Tailwind::InfoPopup.new do %>
      <%# TODO: Use more sensible time zone %>
      This comment was successfully delivered to the email server of
      <%= comment.comment_recipient_full_name %>
      on
      <%= comment.last_delivered_at.utc.to_fs(:long) %> UTC
    <% end %>
  </div>
<% else %>
  <div class="text-xl text-navy">
    There was a problem delivering this to the planning authority
    <%= render Tailwind::InfoPopup.new do %>
      The comment was hard bounced by the email server of
      <%= comment.comment_recipient_full_name %>
      on
      <%= comment.last_delivered_at.utc.to_fs(:long) %> UTC.
      Please follow up by
      <%= pa_link_to "contacting us", documentation_contact_path %>
      so that we can try to help resolve this issue
    <% end %>
  </div>
<% end %>
