<%# TODO: Do we want to right align the arrow with the expanded content? %>
<%# TODO: We probably want to visually separate the whole component from its surroundings %>
<%# TODO: We don't want the content to fill the full width %>
<% if comment.last_delivered_successfully.nil? %>
  <%# TODO: Do we style this as a link even though it isn't? %>
  <p class="text-xl font-bold text-fuchsia">Sent to the planning authority</p>
<% elsif comment.last_delivered_successfully %>
  <%= render Tailwind::DisclosureComponent.new(size: "xl") do |component| %>
    <% component.with_summary { "Delivered to the planning authority" } %>
    <%# TODO: Use more sensible time zone %>
    This comment was successfully delivered to the email server of
    <%= comment.application.comment_authority_with_fallback %>
    on
    <%= comment.last_delivered_at.utc.to_fs(:long) %> UTC
  <% end %>
<% else %>
  <%= render Tailwind::DisclosureComponent.new(size: "xl") do |component| %>
    <% component.with_summary { "There was a problem delivering this to the planning authority" } %>
    The comment was hard bounced by the email server of
    <%= comment.application.comment_authority_with_fallback %>
    on
    <%= comment.last_delivered_at.utc.to_fs(:long) %> UTC
    Please follow up by
    <%= pa_link_to "contacting us", documentation_contact_path %>
    so that we can try to help resolve this issue
  <% end %>
<% end %>
