<% content_for :footer_illustration do %>
  <%= image_tag "tailwind/illustration/bottom-of-page-man.svg", alt: "" %>
<% end %>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  Review and publish
<% end %>

<%# TODO: Make sure that there is consistency on formatting of h1, h2, h3, etc. across the site %>
<%# TODO: Using non-standard font %>
<%= render Tailwind::Heading.new(tag: :h2, font: "sans", extra_classes: "mt-14").with_content("Your comment") %>
<p class="text-3xl text-navy">Does this look right?</p>

<article class="flex gap-6 mt-10">
  <div class="text-navy text-7xl">”</div>
  <div>
    <div class="prose prose-2xl">
      <%= comment_as_html(@comment.text) %>
    </div>

    <%# TODO: Smaller line height? %>
    <div class="mt-8 text-xl font-bold text-navy">
      <%= @comment.name %>
    </div>
    <p class="text-xl font-bold text-navy">(Your address is automatically hidden when published on our website)</p>

    <div class="mt-12">
      <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :secondary, href: application_path(@comment.application, anchor: "add-comment"), icon: :edit).with_content("Edit comment") %>
    </div>

    <div class="mt-4">
      <%= pa_button_to publish_application_comment_path(@comment) do %>
        Publish (and send to <%= @comment.comment_recipient_full_name %>)
      <% end %>
    </div>
  </div>
</article>

<section class="pt-16 mt-20 border-t border-dashed border-cool-blue-gray">
  <%# TODO: Using non-standard font %>
  <%= render Tailwind::Heading.new(tag: :h2, font: "sans").with_content("Email preview") %>

  <p class="mt-8 text-2xl text-navy">
    Your comment and details will also automatically be sent to <strong><%= @comment.comment_recipient_full_name %></strong>.
    They may consider your submission when they decide whether to approve this application.
  </p>
  <p class="mt-4 text-2xl text-navy">
    Here's a preview (nobody but you and the council will see this):
  </p>

  <%# TODO: Don't use random gray colour #ccc here %>
  <div class="inline-block px-20 py-16 mt-8 text-xl text-navy bg-random-gray">
    <p>To: <%= @comment.application.comment_email_with_fallback %></p>
    <p>Subject: <%= t("comment_mailer.notify_authority.subject", council_reference: @comment.application.council_reference) %></p>

    <div class="mt-8 prose prose-xl prose-tr:border-none prose-hr:border-[#ccc] prose-td:py-0 prose-th:w-56 prose-table:text-xl">

      <%= render "comment_mailer/notify_authority", comment: @comment %>
    </div>
  </div>

  <div class="flex justify-end">
    <div class="relative mt-12">
      <section class="max-w-3xl py-8 pl-16 pr-32 text-2xl text-white rounded-3xl bg-lavender">
        <%= render Tailwind::Heading.new(tag: :h3, color: "white", font: "sans").with_content("Why do we include the privacy notice?") %>

        <p class="mt-6">
          Different planning authorities handle your private information (email address and street address) in
          all kinds of different ways.
        </p>
        <p class="mt-6">
          This privacy notice is our attempt to force planning authorities
          to give you the same privacy protection as provided by Planning Alerts and force them to ask
          for your active consent if they want to publish or pass on your private information.
        </p>
      </section>
      <div class="w-0 h-0 absolute -top-24 left-16
        border-l-[19px] border-l-transparent
        border-b-[127px] border-b-lavender
        border-r-[19px] border-r-transparent">
      </div>
    </div>
  </div>
</section>

<section class="pt-20 border-t border-dashed border-cool-blue-gray mt-14">
  <%# TODO: Using a non-standard font %>
  <%= render Tailwind::Heading.new(tag: :h2, font: "sans") do %>
    Have you made a donation or gift to a Councillor or Council employee?
  <% end %>
  <p class="mt-6 text-2xl text-navy">You may need to disclose this.</p>
  <p class="mt-6 text-2xl text-navy">
    In NSW, for example, it is an offence if you fail to disclose this when making a
    submission under the
    <%= pa_link_to "Environmental Planning and Assessment Act 1979", "http://www.austlii.edu.au/au/legis/nsw/consol_act/epaaa1979389/s10.4.html" %>.
    If this applies to you, please ensure you contact the council responsible so that
    you can make this disclosure.
  </p>
</section>
