- content_for :page_title, "Get the Data — API"

%h3= yield :page_title

%p
  Planning application data is available programmatically. Details of the API are listed below.

%p
  Non&ndash;commercial, low&ndash;volume use of this service is free.
  = link_to "Read more.", anchor: "hLicenseInfo"
%p
  All the API calls listed below return planning application sorted by the date they were scraped from the planning authority website with the most
  recent listed first.
%p
  The API can return different formats including <a href="http://www.georss.org/">GeoRSS</a> and <a href="http://www.json.org/">JSON</a>. The examples below return
  JSON. To get GeoRSS instead simply replace ".js" in the URL with ".rss".

%hr
.notice
  %p
    - if current_user
      The API examples below contain your API key:
      = api_key
    - else
      To use the API you will need an API key which you get automatically when you
      = link_to "register for an account", new_user_registration_path
      or
      = link_to "sign in", new_user_session_path
      to your existing account. (Note that this is different
      than having signed up for an email alert). Once you've done that, return to this page
      and the API examples below will contain your API key.

  - if current_user
    %p
      = link_to "Logout", destroy_user_session_path, class: "button button-rounded"
  - else
    %p
      = link_to "Register for an account", new_user_registration_path, class: "button button-rounded"
      or
      = link_to "Sign in", new_user_session_path, class: "button button-rounded"

%h4 API documentation
.apiitem
  %h5
    Single Location by longitude/latitude
  %p.apidefinition
    Return applications near a given longitude/latitude. The area included is a circle with a radius of the given size (in metres)
    with the longitude/latitude at its center. Suggested sizes are 400, 800 or 4000 metres.
  %code= raw api_example_latlong_url_html("js", api_key)
  - if current_user
    .apiexamples
      = link_to "Example", api_example_latlong_url("js", api_key), class: "button button-rounded"
.apiitem
  %h5
    Area by longitude/latitude
  %p.apidefinition
    Return applications within a rectangle defined by longitude/latitude.
  %code= raw api_example_area_url_html("js", api_key)
  - if current_user
    .apiexamples
      = link_to "Example", api_example_area_url("js", api_key), class: "button button-rounded"
.apiitem
  %h5
    Planning authority
  %p.apidefinition
    Return applications for a specific planning authority (e.g. a local council) by authority short name. To discover the authority short name
    to use here, find the planning authority on the
    = link_to "list of authorities", authorities_path
    and follow the link. The url has the authority short name in it.
  %code= raw api_example_authority_url_html("js", api_key)
  - if current_user
    .apiexamples
      = link_to "Example", api_example_authority_url("js", api_key), class: "button button-rounded"
.apiitem
  %h5
    Postcode
  %p.apidefinition
    Return applications for a specific postcode area
  %code= raw api_example_postcode_url_html("js", api_key)
  - if current_user
    .apiexamples
      = link_to "Example", api_example_postcode_url("js", api_key), class: "button button-rounded"
.apiitem
  %h5
    Suburb
  %p.apidefinition
    Return applications in a suburb. Including &ldquo;state&rdquo; and &ldquo;postcode&rdquo; in the search is optional.
  %code= raw api_example_suburb_state_and_postcode_url_html("js", api_key)
  - if current_user
    .apiexamples
      = link_to "Example", api_example_suburb_state_and_postcode_url("js", api_key), class: "button button-rounded"

%hr
%h4 Extra query parameters
%p
  There are several parameters that can be applied to each of the above queries for extra usefulness.
.apiitem
  %h5 page
  %p.apidefinition
    API calls return a maximum of #{Application.per_page} results. To retrieve more results simply do another request with page
    set to 2, 3, etc&hellip; Not setting the page parameter is the same as requesting page 1.
  %code= raw api_example_postcode_url("js", api_key, "2780", page: 2)
.apiitem
  %h5 count
  %p.apidefinition
    API calls by default return a maximum of #{Application.per_page} results. To return less than that per page simply set the count parameter to the maximum number you want to return.
  %code= raw api_example_postcode_url("js", api_key, "2780", count: 10)

%hr
%h4 Warning about client side API queries
%p
  Client-side API queries are supported using <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">CORS</a>. You might do this, for example,
  in a Javascript application that runs in the browser making requests directly to the PlanningAlerts API. This is fine for testing. However, this should <strong>not be used
  in production</strong> as you would be effectively making your API key public, which is a very bad. It is your responsibility to keep the API key
  safe and secure.
%p
  Instead we recommend either loading the data ahead of time server-side and passing the data to your client or alternatively proxying the client-side requests
  through your own server where you add the API key.

%hr
%h4#hLicenseInfo
  Usage &amp; License
%p
  Data is licensed under the&nbsp;
  %a{ href: "http://creativecommons.org/licenses/by-sa/3.0/" }> Creative Commons Attribution&ndash;Share Alike 3.0 license
  \.
%p
  Low volume,
  %strong non&ndash;commercial
  use of the API service is free. We ask that personal and non&ndash;profit use of this service attribute the OpenAustralia Foundation on your website or application.

%p
  Standard agreements for commercial use are at&nbsp;
  %a{ href: "https://www.oaf.org.au/standard-agreements/planningalerts-commercial/"}>oaf.org.au/standard-agreements/planningalerts-commercial.
  \. Please
  = mail_to "contact@planningalerts.org.au", "contact us"
  for
  %strong commercial
  use. Commercial users may include Real Estate Agencies, Architects, Planners or Builders.

%p
  Also, please #{mail_to "contact@planningalerts.org.au", "get in touch"} if you intend to use the service on a large scale. In order to maintain quality of service for our API users, this service is rate limited by default to approximately 1000 requests per day.

%p
  We offer a range of paid options, from rate&ndash;limited to unlimited use of this service.

%h4#hBeNice
  Be Nice
%p
The PlanningAlerts service is intended to help people be aware of what's happening in their local neighborhood, and to enable a civil discussion about those changes.
%p
Don't use the service (or information obtained from the service) to market goods or services to individuals.
%p
Don't use the service (or information obtained from the service) to harass or intimidate a person.
