<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "html_head" %>
  </head>
  <body>
    <%= render "header", alert_count: @alert_count %>
    <%= render "main" %>
    <%= render "stats" %>
    <%= render "footer" %>
    <%= render "end_matter" %>
  </body>
</html>
