!!! 5
%html{ lang: "en" }
  = render "html_head", with_placeholder_polyfill: true, rss: @rss
  %body
    = render "header", with_navigation: true, alert_count: @alert_count
    = render "main"
    = render "stats"
    = render "donations"
    = render "footer"
    = render "end_matter"
