!!! 5
%html{ lang: "en" }
  = render "html_head", rss: @rss
  %body
    = render "header", alert_count: @alert_count
    = render "main"
    = render "stats"
    = render "donations"
    = render "footer"
    = render "end_matter"
