<%= form_with model: contact_message, builder: FormBuilders::Tailwind do |f| %>
  <% if current_user.nil? %>
    <div>
      <%= f.label :name, "Your name", class: "block mb-3" %>
      <%= f.text_field :name, class: "block w-full" %>
      <%= f.error :name, class: "mt-2" %>
      <%= f.hint do %>
        Or <%= pa_link_to "sign in", new_user_session_path %>
      <% end %>
    </div>
    <div class="mt-8">
      <%= f.label :email, "Your email", class: "block mb-3" %>
      <%= f.email_field :email, class: "block w-full" %>
      <%= f.error :email, class: "mt-2" %>
    </div>
  <% end %>
  <div class="mt-8">
    <%= f.label :reason, "I'm getting in touch because", class: "block mb-3" %>
    <%# TODO: Make sure that we can't choose "Please select" %>
    <%# TODO: The grey border here does not match the design but matches other form elements %>
    <%= f.select :reason, [["Please select", ""]] + ContactMessage::REASONS_LONG, {}, class: "block w-full sm:w-auto" %>
    <%= f.error :reason, class: "mt-2" %>
  </div>
  <div class="mt-8">
    <%# TODO: This should really ask people to explain in detail NOT briefly %>
    <%= f.label :details, "Please tell us briefly about your request", class: "block mb-3" %>
    <%= f.text_area :details, class: "block w-full", rows: 8 %>
    <%= f.error :details, class: "mt-2" %>
  </div>
  <div class="relative inline-block mt-12">
    <section class="px-16 py-8 text-2xl text-white rounded-3xl bg-lavender">
      <%= render Tailwind::Heading.new(tag: :h3, color: "white", font: "sans") do %>
        Some questions that might help you describe your request
      <% end %>

      <ul class="mt-8">
        <li>What are you trying to do?</li>
        <li>What happens when you try to do that?</li>
        <li>What have you tried to fix it?</li>
        <li>How do you think we could help?</li>
      </ul>
      <p>Please include a link to the page on the site where this happened.</p>
    </section>
    <div class="w-0 h-0 absolute -top-16 left-16
      border-l-[15px] border-l-transparent
      border-b-[65px] border-b-lavender
      border-r-[15px] border-r-transparent">
    </div>
  </div>

  <div class="mt-16">
    <%= f.label :attachments, "Attach files or screenshots", class: "block mb-3" %>
    <%# TODO: Can we change the text on the button? %>
    <%= f.file_field :attachments,
                     multiple: true,
                     data: { direct_upload_url: rails_direct_uploads_url } %>
  </div>
  <% if current_user.nil? && Rails.application.credentials[:recaptcha] %>
    <div class="mt-12">
      <%= recaptcha_tags %>
      <%# TODO: Make sure recaptcha errors are shown here %>
      <%= f.error :base, class: "mt-2" %>
      <%= f.hint class: "mt-2" do %>
        Or <%= pa_link_to "sign in", new_user_session_path %> to remove this annoying reCaptcha
      <% end %>
    </div>
  <% end %>
  <div class="mt-12">
    <%= f.button "Send message to the Planning Alerts team" %>
  </div>
  <p class="mt-6 text-2xl text-navy">We run this site, not the Government!</p>
<% end %>
