%figure.comment-item.panel{class: ("comment-to-councillor" if comment.councillor), id: "comment#{comment.id}"}
  - if with_address
    %h2.comment-location
      In
      %strong #{comment.application.suburb} #{comment.application.state}
      on
      = link_to application_path(comment.application.id), title: "View application", class: "comment-application" do
        #{display_description_with_address(comment.application)}:
  .panel-body
    %figcaption.comment-meta.comment-heading
      %span.comment-author= comment.name
      - if comment.councillor
        wrote to
        %span.comment-recipient.h-card
          local councillor
          %span.p-name= comment.councillor.name
      %span.comment-time-block
        = "commented" unless comment.councillor
        = link_to comment_path(comment), title: "View comment" do
          %time.comment-time{datetime: comment.updated_at.strftime("%F")}
            #{time_ago_in_words(comment.updated_at)} ago
    %blockquote.comment-text= comment_as_html(comment.text)
    %footer
      - unless comment.councillor
        %p.comment-meta delivered to the planning authority
      .comment-actions= render 'comments/comment_actions', comment: comment
  - if comment.councillor && comment.replies.empty?
    .panel-body.comment-to-councillor-status
      %p
        Delivered to #{comment.councillor.prefixed_name}.
        %span They are yet to respond.
= render comment.replies
