- if current_page?(comments_path)
  = link_to application_path(comment.application), class: "panel-link" do
    %figure.comment.panel
      %h2.comment-address.panel-heading
        %strong #{comment.application.suburb} #{comment.application.state}
        #{"on “" + truncate(comment.application.description) + "”"}
        at
        #{comment.application.address}
      %blockquote.comment-text= comment_as_html(comment.text)
      %figcaption.comment-meta
        %span.comment-author by #{comment.name}
        %time.comment-time{datetime: comment.updated_at.strftime("%F")}
          #{time_ago_in_words(comment.updated_at)} ago
- else
  %figure.comment.panel
    %blockquote.comment-text= comment_as_html(comment.text)
    %figcaption.comment-meta
      %span.comment-author by #{comment.name}
      %time.comment-time{datetime: comment.updated_at.strftime("%F")}
        #{time_ago_in_words(comment.updated_at)} ago
      - if current_page?(application_path(comment.application))
        = link_to "report comment", new_comment_report_path(comment), class: "comment-report"
