.comment
  %blockquote.comment-text= comment_as_html(comment.text)
  %span.author by #{comment.name} #{time_ago_in_words(comment.updated_at)} ago
  - if current_page?(comments_path)
    on "#{link_to truncate(comment.application.description), application_path(comment.application)}"
    at #{comment.application.address}.
  - if current_page?(application_path(comment.application))
    %span.report= link_to "report comment", new_comment_report_path(comment)
