- if current_page?(comments_path)
  =link_to application_path(comment.application), class: "panel-link" do
    %figure.comment.panel
      - if current_page?(comments_path)
        %h2.comment-address.panel-heading
          %strong #{comment.application.suburb} #{comment.application.state}
          #{"on “" + truncate(comment.application.description) + "”"}
          at
          #{comment.application.address}
      %blockquote.comment-text= comment_as_html(comment.text)
      %figcaption.comment-meta
        %span.author
          by #{comment.name}
        =link_to "#{time_ago_in_words(comment.updated_at)} ago", application_path(comment.application), class: "comment-time"
        - if current_page?(application_path(comment.application))
          %span.report= link_to "report comment", new_comment_report_path(comment)
- else
  %figure.comment.panel
    %blockquote.comment-text= comment_as_html(comment.text)
    %figcaption.comment-meta
      %span.author
        by #{comment.name}
      %span.comment-time
        #{time_ago_in_words(comment.updated_at)} ago
      - if current_page?(application_path(comment.application))
        %span.report= link_to "report comment", new_comment_report_path(comment)
