- if with_address
  %h2.comment-address
    In
    %strong #{comment.application.suburb} #{comment.application.state}
    on
    = comment.application.description ? "“" + truncate(comment.application.description) + "” at" : "application for"
    #{comment.application.address}:
%figure.comment-item.panel{id: "comment#{comment.id}"}
  .panel-body
    %figcaption.comment-meta.comment-heading
      %span.comment-author #{comment.name}
      %span.comment-time-block
        commented
        %time.comment-time{datetime: comment.updated_at.strftime("%F")}
          #{time_ago_in_words(comment.updated_at)} ago
    %blockquote.comment-text= comment_as_html(comment.text)
    %footer
      %p.comment-meta
        - # TODO: Change this to show the date in user local time.
        - #       Could be nice and human to do 'today' and 'yesterday'
        Posted #{ comment.updated_at.strftime("%e %b %Y") } and
        %span delivered to #{comment.application.authority.full_name}
      .comment-actions
        - if current_user && current_user.admin?
          = link_to "admin", admin_application_comment_path(comment), class: 'comment-action'
        - unless current_page?(new_comment_report_path(comment.id))
          = link_to "report comment", new_comment_report_path(comment), title: "Report this comment by #{comment.name} for removal", class: "comment-action"
