#comments-area
  - if @comments.present?
    %h4= pluralize(@comments.count, "Comment")
    %p.small.quiet
      Have your say by #{link_to "adding your own comment", "#add-comment", class: "link-to-comment-form"}.
    %ol#comments
      - @comments.each do |comment|
        %li{:id => "comment#{comment.id}"}
          = render :partial => 'comments/comment', :locals => {:comment => comment}
  - if current_user && current_user.admin?
    = render "comments/comment_form_with_councillors"
  - else
    = render "comments/comment_form"
