%h4#add-comment Add your own comment
- if @application.authority.contactable?
  = render "comments/comment_form_introduction"
  = render "comments/comment_form_inputs"
- elsif !@application.comment_url.blank?
  %p
    = link_to "How to comment", @application.comment_url
    on this application (from #{@application.authority.full_name}).
    - if @application.on_notice_to
      = on_notice_text(@application)
