<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js", defer: true %>
  </head>
  <body class="mb-36">
    <%= render "header" %>
    <%= render Tailwind::ContainerComponent.new do %>
      <%= yield %>
    <% end %>
    <%= render "footer" %>
  </body>
</html>
