<!doctype html>
<html lang="en">
  <head>
    <%= render "html_head" %>
  </head>
  <body x-data="{ bodyScrolling: true }" x-bind:class="{ 'overflow-hidden': !bodyScrolling}">
    <%= render "header" %>
    <%= render Tailwind::ContainerComponent.new do %>
      <%# TODO: Make it that we can add the flashes somewhere else for particular pages %>
      <%= render "flashes" %>

      <div class="my-9 sm:my-16">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    <% end %>
    <%= render "footer" %>
    <%= render "end_matter" %>
  </body>
</html>
