- content_for :page_title, "Get involved"
%h3= yield :page_title
%p
  PlanningAlerts is run by the charity <a href="http://www.openaustraliafoundation.org.au">OpenAustralia Foundation</a>,
  and relies on the support of
  = link_to "volunteers", about_path(anchor: :contributors)
  and
  = link_to "donations", donate_url
  from people like you. If you would like to get involved we'd love to hear from you:

%hr
%h4#hacker
  I am a programmer and want to add my local planning authority
%p
  You can help by writing a
  = link_to "screen scraper", "http://en.wikipedia.org/wiki/Screen_scraping"
  for your local planning authority.
  Using our
  = link_to "morph.io", "https://morph.io/"
  scraping platform you can write it in any one of your favorite languages: Ruby, Python, JavaScript, Perl or PHP.
%p.cta= link_to "Read our step-by-step instructions", how_to_write_a_scraper_path

%hr
%h4#non-technical
  I'm not technical and I want to get my local council on to PlanningAlerts. What can I do?
%p
  You can lobby your local council to publish its planning data in a machine readable format. Email the council planning department and General Manager. Contact your councillors and get them to support your mission.
%p.cta
  Here is our #{link_to "quick guide on how to lobby your local council", how_to_lobby_your_local_council_path}.

%hr
%h4#donation
  I don't have the time or I don't have the skills. How can I help?
%p
  If you value the service provided by PlanningAlerts but simply don't have the time or
  the specialist skills to help out personally then the best thing that you can do is
  to #{link_to "donate to the OpenAustralia Foundation", donate_url},
  the charity behind PlanningAlerts.
%p.cta
  Your donation will go to improving the service.

%hr
%h4#council
  I work for a local council or planning authority and would like to make our data available
%p
  The most important thing you can do is publish your data in a simple machine-readable format that is freely available on the internet.
%p
  We highly recommend using the
  #{link_to "Application Tracking Data Interchange Specification (ATDIS)", atdis_test_path}.
  This modern, open format was developed by the NSW government, Carpadium Pty Ltd and
  OpenAustralia Foundation in 2014. ATDIS is supported by many commercial software vendors
  in their products for local councils in Australia. These include:
  %ul
    %li= link_to "Aten Systems", "http://www.atensystems.com/councillink"
    %li= link_to "Civica", "https://www.civica.com/en-au/container---product-pages/authority-enterprise-suite/"
    %li= link_to "Internetrix", "https://www.internetrix.com.au/"
    %li= link_to "ITVision", "https://www.itvision.com.au/our-solutions/synergyonline-product-suite.aspx"
    %li= link_to "SolOrient", "http://www.solorient.com.au/horizon-application-portal.html"
    %li= link_to "Technology One", "https://www.technologyonecorp.com/products/planningxchange"

%p.cta
  Please
  = mail_to "contact@planningalerts.org.au", "get in touch"
  if you would like to discuss how you can help.
