<% content_for :meta_description, Rails.configuration.planningalerts_meta_description %>

<%= render "address_search_form", q: nil, error: %>

<%# TODO: Show more stuff as per design %>

<div class="grid grid-flow-col grid-rows-[repeat(3,_max-content)] gap-6 mt-20">
  <h2 class="text-3xl font-bold text-navy font-display">Most commented applications</h2>
  <div class="space-y-8">
    <%# TODO: Replace this with Application.trending.limit(3) %>
    <% Application.limit(3).each do |application| %>
      <%= link_to application, class: "block" do %>
        <article>
          <h3 class="text-2xl font-bold text-fuchsia"><%= application.address %></h3>
          <p class="text-2xl font-bold text-navy">Commented on <%= pluralize(application.visible_comments_count, "time") %></p>
          <%# TODO: Limit length of description %>
          <p class="text-2xl text-navy">for "<%= application.description %>"</p>
          <%# TODO: Add map like the design? %>
        </article>
      <% end %>
    <% end %>
  </div>
  <%= pa_link_to "View more trending applications", trending_applications_path, class: "text-2xl pt-6" %>
  <h2 class="text-3xl font-bold text-navy font-display">Latest applications across Australia</h2>
  <div class="space-y-8">
    <%# TODO: Probably want some ordering that shows applications from different places %>
    <% Application.order(first_date_scraped: :desc).limit(3).each do |application| %>
      <%= link_to application, class: "block" do %>
        <article>
          <h3 class="text-2xl font-bold text-fuchsia"><%= application.address %></h3>
          <p class="text-2xl font-bold text-navy">
            <%= time_ago_in_words(application.first_date_scraped) %> ago
          </p>
          <%# TODO: Limit length of description %>
          <p class="text-2xl text-navy"><%= application.description %></p>
          <%# TODO: Add state illustration like the design? %>
        </article>
      <% end %>
    <% end %>
  </div>
  <%= pa_link_to "View more latest applications", applications_path, class: "text-2xl pt-6" %>
</div>
