<% content_for :meta_description, Rails.configuration.planningalerts_meta_description %>

<%= render "address_search_form", q: nil, error: %>

<%# TODO: Show more stuff as per design %>

<div class="grid grid-flow-col grid-rows-[repeat(3,_max-content)] auto-cols-fr gap-6 mt-20">
  <h2 class="text-3xl font-bold text-navy font-display">Most commented applications</h2>
  <div class="space-y-8">
    <% Application.trending.limit(3).each do |application| %>
      <%= link_to application, class: "block" do %>
        <article>
          <h3 class="text-2xl font-bold text-fuchsia"><%= application.address %></h3>
          <p class="text-2xl font-bold text-navy">Commented on <%= pluralize(application.visible_comments_count, "time") %></p>
          <%# TODO: Limit length of description %>
          <p class="text-2xl text-navy">for "<%= application.description %>"</p>
          <%# TODO: Add map like the design? %>
        </article>
      <% end %>
    <% end %>
  </div>
  <%= pa_link_to "View more trending applications", trending_applications_path, class: "text-2xl pt-6" %>
  <h2 class="text-3xl font-bold text-navy font-display">Latest applications across Australia</h2>
  <div class="space-y-8">
    <%# TODO: Probably want some ordering that shows applications from different places %>
    <% Application.order(first_date_scraped: :desc).limit(3).each do |application| %>
      <%= link_to application, class: "block" do %>
        <article>
          <h3 class="text-2xl font-bold text-fuchsia"><%= application.address %></h3>
          <p class="text-2xl font-bold text-navy">
            <%= time_ago_in_words(application.first_date_scraped) %> ago
          </p>
          <%# TODO: Limit length of description %>
          <p class="text-2xl text-navy"><%= application.description %></p>
          <%# TODO: Add state illustration like the design? %>
        </article>
      <% end %>
    <% end %>
  </div>
  <%= pa_link_to "View more latest applications", applications_path, class: "text-2xl pt-6" %>
</div>

<section class="py-12 mt-8 text-2xl border-t border-light-grey2 text-navy">
  <h2 class="pb-2 text-3xl font-bold text-navy font-display">Coverage</h2>
  <p class="pt-4">
    We currently cover
    <%= Authority.percentage_population_covered_by_all_active_authorities.to_i %>% of
    Australia's population within <%= Authority.active.count %> authorities.
    For this number we're only counting places where the main planning authority is covered.
    As an example, most of Victoria is covered by the SPEAR system but not all Victorian
    planning applications go through it. So, we don't include SPEAR in our population count.
  </p>
  <p class="pt-4">
    We don't yet cover the whole country, but we are working on it.
    New authorities are being added all the time.
  </p>
  <p class="pt-4">
    If you are a programmer and would like to write a scraper for your local authority,
    or work for a local authority and would like to make your data available,
    <%= pa_link_to "find out how you can get involved", get_involved_path %>.
  </p>
</section>

<section class="py-12 text-2xl border-t text-navy border-light-grey2">
  <%# TODO: Better heading? %>
  <h2 class="pb-2 text-3xl font-bold text-navy font-display">Planning Data</h2>
  <p class="pt-4">
    From time to time planning authorities change their websites which breaks the scrapers
    that gather the planning data. Help by providing a
    <%= pa_link_to "donation", donate_url %> to help us fix it.
  </p>
  <p class="pt-4">
    <%= pa_link_to "Check if planning data is broken for your authority", authorities_path %>
  </p>
</section>
