<% content_for :meta_description, Rails.configuration.planningalerts_meta_description %>

<%= render Tailwind::Heading.new(tag: :h1, extra_classes: "sr-only").with_content("Search") %>
<%= render "address_search_form", q:, error:, autofocus: true %>

<% if error.nil? %>
  <div class="grid md:grid-flow-col grid-rows-[repeat(3,_max-content)] auto-cols-fr gap-y-8 gap-x-16 mt-8 sm:mt-12">
    <%= render Tailwind::Heading.new(tag: :h2).with_content("Most commented applications") %>
    <%# Wrapping in a div to make the bottom of the illustrations match up %>
    <div class="flex items-end mb-4">
      <%= image_tag "tailwind/illustration/people-talking.svg", alt: "" %>
    </div>
    <div class="space-y-8">
      <ol class="space-y-8 [counter-reset:section]">
        <%= render partial: "trending", collection: Application.all.limit(3), as: :application %>
      </ol>
      <%= pa_link_to "View top 20 commented applications", trending_applications_path, extra_classes: "text-xl inline-block pl-10" %>
    </div>
    <%= render Tailwind::Heading.new(tag: :h2, extra_classes: "mt-6 md:mt-0").with_content("Latest applications across Australia") %>
    <div class="flex items-end mb-4">
      <%= image_tag "tailwind/illustration/houses.svg", alt: "" %>
    </div>
    <div class="space-y-8">
      <ul class="space-y-8">
        <%# TODO: Probably want some ordering that shows applications from different places %>
        <% Application.order(first_date_scraped: :desc).limit(3).each do |application| %>
          <li class="flex items-start gap-6">
            <%= image_tag "tailwind/clock.svg", class: "mt-1", alt: "" %>
            <%= render Tailwind::LinkBlock.new(url: application_path(application)) do |c| %>
              <%# TODO: Extract this piece below as a partial %>
              <div class="text-xl text-navy">
                <div><%= c.linkify application.address %></div>
                <div class="line-clamp-2"><%= application.description %></div>
                <div class="mt-2 text-lg text-warm-grey">Found <%= time_ago_in_words(application.first_date_scraped) %> ago</div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%# TODO: Don't hack the spacing to make it line up %>
      <%= pa_link_to "View more latest applications", applications_path, extra_classes: "text-xl inline-block pl-14" %>
    </div>
  </div>

  <section class="pt-6 pb-12 mt-8 text-xl border-t sm:pt-12 border-light-grey2 text-navy">
    <%= render Tailwind::Heading.new(tag: :h2, extra_classes: "pb-2").with_content("Coverage") %>

    <div class="flex flex-col-reverse items-start justify-between gap-8 pt-4 md:flex-row">
      <div class="max-w-2xl">
        <%= render "authorities/coverage_explanation",
                   percentage: Authority.percentage_population_covered_by_all_active_authorities.to_i,
                   count: Authority.active.count %>
        <p class="pt-4">
          We don't yet cover the whole country, but we are working on it.
          New authorities are being added all the time.
        </p>
        <p class="pt-4">
          If you are a programmer and would like to write a scraper for your local authority,
          or work for a local authority and would like to make your data available,
          <%= pa_link_to "find out how you can get involved", get_involved_path %>.
        </p>
      </div>
      <div class="flex-shrink-0">
        <%= render "authorities/coverage_percentage", percentage: Authority.percentage_population_covered_by_all_active_authorities.to_i %>
      </div>
    </div>
  </section>

  <section class="pt-6 pb-12 text-xl border-t sm:pt-12 text-navy border-light-grey2">
    <%# TODO: Better heading? %>
    <%# TODO: Do we want to include something like pb-2 for all headings in the component? %>
    <%= render Tailwind::Heading.new(tag: :h2, extra_classes: "pb-2").with_content("Planning Data") %>
    <div class="flex flex-col items-start justify-between gap-8 md:flex-row">
      <div class="max-w-2xl">
        <p class="pt-4">
          From time to time planning authorities change their websites which breaks the scrapers
          that gather the planning data. Help by providing a
          <%= pa_link_to "donation", donate_url %> to help us fix it.
        </p>
        <p class="pt-4">
          <%= pa_link_to "Check if planning data is broken for your authority", authorities_path %>
        </p>
      </div>
      <%= image_tag "tailwind/illustration/mechanic.svg", alt: "" %>
    </div>
  </section>
<% end %>
