<%# TODO: It would be good to integrate this back with our standard tailwind form builder %>
<%# Right now the styling is quite different from the other forms %>
<%# TODO: Reuse at least some of the styling from the default form builder %>
<div class="px-6 py-10 sm:py-16 bg-navy sm:px-28">
  <%= form_with url: address_applications_path, method: :get, class: "gap-4 flex flex-col items-center" do |form| %>
    <%# Not using a heading here so that we don't mess up the heading order on different pages. %>
    <%# TODO: There's probably something simpler and more sensible we should do here %>
    <div class="max-w-xl text-3xl font-bold text-center text-white sm:text-4xl font-display">
      Find applications within <%= meters_in_words(Alert::DEFAULT_RADIUS) %> of:
    </div>
    <div class="flex flex-col items-center w-full gap-4" x-data="{
      loading: false,
      address: '',
      async geolocate(event) {
        this.loading = true;
        try {
          this.address = await getAddress();
        } catch(err) {
          // Hacky way to show an error message
          alert(err);
        }
        this.loading = false;
      }
    }">
      <div class="flex flex-col w-full gap-2">
        <%= form.label :q, "Street address", class: "text-white font-bold text-2xl self-start" %>
        <%# TODO: Do we want this to show the little red cross like other form fields on error? %>
        <%= form.text_field :q,
                            value: q,
                            placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580",
                            class: class_names("text-2xl", "text-navy", "w-full", "px-4", "py-3", "sm:py-4", "placeholder-shown:truncate", "focus:ring-4", "focus:ring-sun-yellow", "border-error-red" => error),
                            required: "required",
                            autofocus: true,
                            "x-data" => "{ async initAutocomplete() {
                                            const { Autocomplete } = await google.maps.importLibrary('places');
                                            new Autocomplete($el, {componentRestrictions: {country: 'au'}, types: ['address']})}
                                        }",
                            "x-init" => "initAutocomplete()",
                            "x-model.fill" => "address" %>
        <% if error %>
          <%# TODO: Add color to tailwind config %>
          <%# TODO: This is the only box in the whole design with rounded corners. Huh? %>
          <p class="text-error-red bg-[#E8CDCD] w-full text-center py-4 text-2xl px-4 rounded-lg">
            <%= error %>
          </p>
        <% end %>
      </div>
      <%= button_tag type: "button", class: "text-white sm:text-xl inline focus:text-navy focus:outline-none focus:bg-sun-yellow", "@click": "geolocate($event)", "x-bind:disabled": "loading" do %>
        <%# TODO: Fix occasional clipping of icon problem %>
        <span class="inline-block mr-2 align-middle">
          <%= render "application/svg/location" %>
        </span>
        <span :class="loading ? '' : 'underline'" x-text="loading ? 'getting current location...' : 'or use my current location'">or use my current location</span>
      <% end %>
    </div>

    <div class="mt-4">
      <%= render Tailwind::ButtonComponent.new(tag: :button, size: "2xl", type: :primary_on_dark_background) do %>
        <div class="px-12">Search</div>
      <% end %>
    </div>
  <% end %>
</div>
