<%= link_to application do %>
  <article class="flex justify-between py-8">
    <div class="max-w-xl">
      <h2 class="text-2xl font-bold text-fuchsia"><%= application.address %></h2>
      <p class="text-2xl text-navy">
        <%# Local variable highlights is optional. Only use it if it is there %>
        <% if local_assigns.key? :highlights %>
          <%= local_assigns[:highlights][:description].html_safe %><%# erblint:disable Rubocop %>
        <% else %>
          <%= application.description %>
        <% end %>
      </p>
      <p class="text-lg text-warm-grey">
        <% if application.respond_to? :distance %>
          Found <%= time_ago_in_words(application.first_date_scraped) %> ago,
          <%= km_in_words(application.distance.to_f) %> away
        <% else %>
          Found <%= time_ago_in_words(application.first_date_scraped) %> ago
        <% end %>
      </p>
    </div>
    <%# TODO: Make it the right width at different numbers %>
    <% if application.visible_comments_count.positive? %>
      <div class="text-2xl text-navy">
        <%= render Tailwind::SpeechBubbleComponent.new(size: "2xl", alignment: :left) do %>
          <%= application.visible_comments_count %>
        <% end %>
        <%= application.visible_comments_count == 1 ? "comment" : "comments" %>
      </div>
    <% end %>
  </article>
<% end %>
