<% if current_user %>
  <div class="flex items-center justify-between px-4 py-2 bg-light-grey">
    <div class="flex gap-6 pl-4">
      <%= image_tag "tailwind/bookmark.svg", alt: "" %>
      <p class="text-2xl font-bold text-navy">Save this search as an email alert</p>
    </div>
    <%= form_with model: [:profile, alert], builder: FormBuilders::Tailwind do |f| %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :radius_meters %>
      <%= f.button "Save" %>
    <% end %>
  </div>
<% else %>
  <div class="flex flex-col items-center justify-between gap-8 md:flex-row bg-light-grey px-14 mt-14">
    <%# TODO: Is h2 correct here? %>
    <div class="pt-14 md:pb-14">
      <h2 class="text-3xl font-bold font-display text-navy">Save this search as an email alert?</h2>
      <p class="mt-4 text-2xl text-navy">
        <%= pa_link_to "Create an account", new_user_registration_path %>
        or
        <%= pa_link_to "sign in", new_user_session_path %>.
      </p>
      <p class="text-2xl text-navy">
        It only takes a moment.
      </p>
    </div>
    <%# On this page we want the box to be less tall than on the application detail page %>
    <div class="self-end overflow-hidden h-[240px] md:pt-4">
      <%= image_tag "tailwind/illustration/save-search.svg" %>
    </div>
  </div>
<% end %>
