<%# TODO: Show static map and pano when javascript is disabled %>
<% if application.location %>
  <%# Only using map class here to help target accessibility tests in rspec/features/comment_to_authority_spec.rb %>
  <div class="flex justify-between map">
    <div class="<%= class_names("w-full", "sm:h-[528px]", "aspect-1", "h-auto", "xl:w-[528px]" => !Flipper.enabled?(:disable_streetview_in_app, current_user)) %>">
      <%= render Tailwind::Map.new(lat: application.lat, lng: application.lng, address: application.address, zoom: 16) do %>
        <%= google_static_map(application, size: "528x528") %>
      <% end %>
    </div>
    <%# TODO: Don't show pano if there's no useful streetview available %>
    <% unless Flipper.enabled?(:disable_streetview_in_app, current_user) %>
      <div x-data class="hidden xl:block w-[528px] h-[528px]">
        <%= render Tailwind::Streetview.new(lat: application.lat, lng: application.lng, address: application.address) do %>
          <%# TODO: The no javascript version of streetview isn't working for some reason %>
          <%= google_static_streetview(application, size: "528x528") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
