<%# TODO: Style this as per designs. Need to make it accessible and degrade gracefully (with javascript switched off) %>
<p class="pt-6 text-2xl text-navy">
  Sorted by
  <%= pa_link_to_unless_current "most recent first", { sort: "time", page: nil }.merge(extra_params) %>
  <%= pa_link_to_unless_current "closest first", { sort: "distance", page: nil }.merge(extra_params) %>
</p>

<%
=begin
%>

<%= render(Standard::DropdownComponent.new) do |component| %>
  <% component.with_button do %>
    Sorted by
    <% if sort == "time" %>
      most recent first
    <% else %>
      closest first
    <% end %>
  <% end %>
  <% component.with_menu do |menu| %>
    <% menu.with_item(disabled: sort == "time") do %>
      <%= link_to "most recent first", { sort: "time", page: nil }.merge(extra_params) %>
    <% end %>
    <% menu.with_item(disabled: sort == "distance") do %>
      <%= link_to "closest first", { sort: "distance", page: nil }.merge(extra_params) %>
    <% end %>
  <% end %>
<% end %>

<%
=end
%>