<div x-data="{ link: '<%= sort == "time" ? "time" : "distance" %>' }"
     x-init="$watch('link', value => {
       url = new URL(window.location);
       url.searchParams.set('sort', value);
       window.location = url.toString();
     })"
     class="text-2xl text-navy">
  <%# Hiding the select tag initially. It gets unhidden by javascript %>
  <div class="invisible" x-bind:class="{ invisible: false }">
    <%= label_tag "sort", "Sorted by", class: "mr-2" %>
    <%= select_tag "sort",
                   options_for_select(
                     [
                       ["most recent", "time"],
                       ["closest", "distance"]
                     ]
                   ),
                   class: "pl-4 py-3 pr-16 border-navy text-2xl text-navy",
                   "x-model" => "link" %>
  </div>
  <noscript>
    <p>
      Sorted by
      <% if sort == "time" %>
        most recent.
        <%= pa_link_to "closest", { sort: "distance" }.merge(extra_params) %>
      <% else %>
        closest.
        <%= pa_link_to "most recent", { sort: "time" }.merge(extra_params) %>
      <% end %>
    </p>
  </noscript>
</div>
