<%# TODO: Hide select initially and unhide with javascript %>
<div x-data="{ link: '<%= sort == "time" ? "time" : "distance" %>' }"
     x-init="$watch('link', value => {
       url = new URL(window.location);
       url.searchParams.set('sort', value);
       window.location = url.toString();
     })"
     class="text-2xl text-navy">
  <%= label_tag "sort", "Sorted by", class: "mr-2" %>
  <%= select_tag "sort",
                 options_for_select(
                   [
                     ["most recent", "time"],
                     ["closest", "distance"]
                   ]
                 ),
                 class: "pl-4 py-3 pr-16 border-navy text-2xl text-navy",
                 "x-model" => "link" %>
  <noscript>
    <%= pa_link_to_unless sort == "time", "most recent first", { sort: "time" }.merge(extra_params) %>
    <%= pa_link_to_unless sort == "distance", "closest first", { sort: "distance" }.merge(extra_params) %>
  </noscript>
</div>
