<%= pa_link_to "< Back to application", @application, class: "text-2xl" %>

<div class="flex flex-col items-center max-w-4xl m-auto mt-16 text-center">
  <%= image_tag "tailwind/illustration/send-comment2.svg" %>

  <h1 class="mt-16 text-4xl font-bold text-navy font-display">
    We will now try to direct you to this application on the <%= @application.authority.full_name %> website
  </h1>

  <div class="text-2xl text-navy mt-14">
    <p class="font-bold">
      This may not work!
    </p>
    <p>
      (It will depend on how friendly the system that planning authority uses)
    </p>
    <p class="mt-4">
      If we can't find the application we'll at least take you to the planning authority's homepage.
    </p>
    <p class="mt-4">
      Here's the application reference number:
    </p>
  </div>

  <div class="mt-8">
    <%= render Tailwind::ClickToCopyComponent.new.with_content(@application.council_reference) %>
  </div>

  <div class="mt-20">
    <%# TODO: This should use target: "_blank", rel: "noopener" on the link to the external site %>
    <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :primary, href: @application.info_url) do %>
      Continue to
      <span class="font-normal"><%= @application.authority.full_name %> website</span>
    <% end %>
  </div>
</div>
