<%= pa_link_to "< Back to application", @application, class: "text-2xl" %>

<div class="flex flex-col items-center max-w-4xl m-auto mt-16 text-center">
  <%= image_tag "tailwind/illustration/send-comment2.svg" %>

  <h1 class="mt-16 text-4xl font-bold text-navy font-display">
    We will now try to direct you to this application on the <%= @application.authority.full_name %> website
  </h1>

  <div class="text-2xl text-navy mt-14">
    <p class="font-bold">
      This may not work!
    </p>
    <p>
      (It will depend on how friendly the system that planning authority uses)
    </p>
    <p class="mt-4">
      If we can't find the application we'll at least take you to the planning authority's homepage.
    </p>
    <p class="mt-4">
      Here's the application reference number:
    </p>
  </div>

  <div class="flex items-baseline mt-4" x-data="{ copied: false }">
    <div class="px-8 py-2 mt-4 text-2xl select-all text-navy bg-light-grey" x-ref="value"><%= @application.council_reference %></div>
    <%# We only want the button to appear once javascript (and alpine) are going %>
    <%# Using invisible here so that we avoid content reflow when javascript is running %>
    <button class="flex items-baseline invisible gap-2 px-4 py-2 text-2xl font-semibold text-white w-28 bg-warm-grey"
            x-on:click="
              navigator.clipboard.writeText($refs.value.innerText);
              copied = true;
              setTimeout(() => { copied = false }, 750)"
            x-bind:disabled="copied"
            x-bind:class="{ 'invisible': false }">
      <%= image_tag "tailwind/copy-to-clipboard.svg", "x-show": "!copied" %>
      <div x-text="copied ? 'Copied' : 'Copy' ">Copy</div>
    </button>
  </div>

  <div class="mt-20">
    <%# TODO: This should use target: "_blank", rel: "noopener" on the link to the external site %>
    <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :primary, href: @application.info_url) do %>
      Continue to
      <span class="font-normal"><%= @application.authority.full_name %> website</span>
    <% end %>
  </div>
</div>
