<% content_for :page_title, @description %>

<%# TODO: Update this description %>
<%= render Tailwind::Heading.new(tag: :h1) do %>
  <%= @description %>
<% end %>

<ol class="applications">
  <%= render partial: "application", collection: @applications %>
</ol>

<%# TODO: Extract this into a custom pager component %>
<%# Probably want to do this over using kaminari's built in theming %>
<%# TODO: Speed up controller by using without_count %>
<nav role="navigation" aria-label="pager" class="flex justify-between text-2xl">
  <div>
    <% if path_to_prev_page(@applications) %>
      <%= pa_link_to "< Previous page", path_to_prev_page(@applications) %>
    <% end %>
  </div>
  <div>
    <% if path_to_next_page(@applications) %>
      <%= pa_link_to "Next page >", path_to_next_page(@applications) %>
    <% end %>
  </div>
</nav>

<%
=begin
%>

<div class="attention">
  <%= render "alerts/signup_introduction" %>
  <%= render "alerts/frequency" %>
  <%= render "privacy_policy" %>
  <%= render "alerts/signup_form", alert: @alert, address_hidden: false %>
</div>
<% if @authority&.broken? %>
  <% if @authority.date_last_new_application_scraped.nil? %>
    <span class="highlight">There are no applications yet for this authority</span>
  <% else %>
    <span class="highlight">It looks like something might be wrong. The latest new application was received #{time_ago_in_words(@authority.date_last_new_application_scraped)} ago.</span>
    <%= link_to "Why?", faq_path(anchor: "broken_scraper") %>
  <% end %>
<% end %>

<%
=end
%>