<% content_for :page_title, page_title(@application) %>
<% content_for :meta_description, @application.description %>
<% content_for :extra_meta_tags do %>
  <meta content="summary" name="twitter:card">
  <meta content="@PlanningAlerts" name="twitter:site">
  <meta content="<%= @application.address %>" name="twitter:title">
  <meta content="<%= (@application.description[0..199] if @application.description) %>" name="twitter:description">
  <meta content="<%= google_static_map_url(lat: @application.lat, lng: @application.lng, size: "512x512") %>" name="twitter:image">
  <meta content="<%= application_url(@application) %>" property="og:url">
  <meta content="place" property="og:type">
  <meta content="<%= @application.address %>" property="og:title">
  <meta content="<%= (@application.description[0..199] if @application.description) %>" property="og:description">
  <meta content="<%= google_static_map_url(lat: @application.lat, lng: @application.lng, size: "512x512") %>" property="og:image">
  <meta content="512" property="og:image:width">
  <meta content="512" property="og:image:height">
  <% if @application.location %>
    <meta content="<%= @application.lat %>" property="place:location:latitude">
    <meta content="<%= @application.lng %>" property="place:location:longitude">
  <% end %>
<% end %>

<h1 class="mb-10 text-4xl font-bold text-navy"><%= @application.address %></h1>

<%# TODO: Weird that the line below fails a test if it's just "map" rather than "applications/map" %>
<%= render "applications/map", application: @application %>

<dl class="mt-16 grid grid-cols-[18rem_1fr] text-navy text-2xl">
  <dt class="font-bold">Description</dt>
  <dd><%= @application.description %></dd>
  <dt class="font-bold">Planning Authority</dt>
  <dd>
    <%= link_to @application.authority.full_name,
                authority_path(@application.authority.short_name_encoded),
                class: "hover:underline" %>
  </dd>
  <dt class="font-bold">& Reference number</dt>
  <dd>
    <div>
    <%# TODO: Add ability to copy with a click %>
      <%= @application.council_reference %>
    </div>
    <%# TODO: Link off to actual page %>
    <%# TODO: Add disclosure information %>
    <%# TODO: Add disclosure triangle icon %>
    <%= link_to "What is a reference number?", "#", class: "text-fuchsia text-2xl font-bold underline" %>
  </dd>
</dl>

<%# TODO: The icons next to the labels are not all the same size / proportion %>
<dl class="text-2xl text-navy grid grid-cols-[18rem_1fr] border-light-grey2 border-y py-4 mt-14">
  <dt class="py-1 font-bold">
    <div class="flex gap-4">
      <%= image_tag "tailwind/calendar.svg", width: 23 %>
      <div>Date sourced</div>
    </div>
  </dt>
  <dd class="py-1">
    <%= render "applications/scraped_and_received_text", application: @application %>
  </dd>
  <%# TODO: Do we show the notified line if nobody has been notified? %>
  <dt class="py-1 font-bold">
    <div class="flex gap-4">
      <%= image_tag "tailwind/letter.svg", width: 23 %>
      <div>Notified</div>
    </div>
  </dt>
  <dd class="py-1 border-t border-light-grey2">
    <%= render "notified_text", application: @application %>
  </dd>
  <dt class="py-1 font-bold">
    <div class="flex gap-4">
      <%= image_tag "tailwind/comments.svg", width: 23 %>
      <div>Comments</div>
    </div>
  </dt>
  <dd class="py-1 border-t border-light-grey2">
    <%= render "comments_text", comments: @comments %>
  </dd>
</dl>

<div class="mt-12">
  <%# TODO: Make sure that #add-comment exists %>
  <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :primary, href: "#add-comment") do %>
    Make a comment on this application
  <% end %>
</div>

<div class="mt-2">
  <%# TODO: This should link to an interstitial page %>
  <%# TODO: The interstitial page should use target: "_blank", rel: "noopener" on the link to the external site %>
  <%# TODO: Add icon %>
  <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :primary, href: @application.info_url) do %>
    View more at <%= @application.authority.full_name %> website
  <% end %>
</div>

<%# TODO: Also add logged out state %>
<div class="flex items-center gap-8 bg-light-grey px-14 pt-14 mt-14">
  <%# TODO: Is h2 correct here? %>
  <div class="pb-14">
    <h2 class="mb-2 text-3xl font-bold font-display text-navy">Save this search as an email alert?</h2>
    <%# TODO: Show correct address %>
    <p class="text-2xl text-navy">Save your search for applications within 2 kilometres of 25 Agate Avenue, Pearl Beach, NSW?</p>
  <div class="flex gap-3 mt-8">
    <%# TODO: Make this button work %>
    <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :primary, href: "#") do %>
      Save
    <% end %>
    <%# TODO: Make this button work %>
    <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :primary, href: "#") do %>
      No thanks
    <% end %>
  </div>
  </div>
  <%= image_tag "tailwind/illustration/save-search.svg", class: "self-end" %>
</div>

<section class="border-t mt-14 pt-14 border-light-grey2">
  <h2 class="mb-6 text-3xl font-bold text-navy font-display">Comments on this application</h2>
  <%# TODO: Add count %>
  <p class="text-2xl text-navy">
    Comment made here were sent to <strong>Central Coast Council</strong>.
    <%# TODO: Make sure that #add-comment exists %>
    <%= link_to "Add your own comment", "#add-comment", class: "text-fuchsia font-bold" %>.
  </p>
  <% @comments.each do |comment| %>
    <div class="mt-12"><%= render comment %></div>
  <% end %>
  <div class="flex gap-6">
    <div class="mt-36 text-navy text-7xl">”</div>
    <div class="pt-10 border-t border-dashed mt-14 border-warm-grey">
      <h3 class="mb-3 text-3xl font-bold text-navy font-display">Add your own comment<h3>
      <%# TODO: Handle logged out state %>
      <%= render "comments/form", application: @application, comment: @comment %>
    </div>
  </div>
</section>

<%
=begin
%>

<div id="main">
  <div id="application">
    <article id="application-info">
      <%= link_to @application.info_url, class: "button button-rounded", target: "_blank", rel: "noopener" do %>
        <%= image_tag "standard/external_link.png", size: "10x10", alt: "External link" %>
        Read more information
      <% end %>
      <div id="comments-area">
        <% if @comments.present? %>
          <h4>
            <%= pluralize(@comments.count, "Comment") %>
          </h4>
          <% if current_user.nil? %>
            <p>
              <%= link_to "Create an account", new_user_registration_path %>
              or
              <%= link_to "sign in", new_user_session_path %>
              to have your say by adding your own comment.
            </p>
          <% else %>
            <p class="small quiet">
              Have your say by #{link_to "adding your own comment", "#add-comment", class: "link-to-comment-form"}.
            </p>
          <% end %>
          <ol id="comments">
            <% @comments.each do |comment| %>
              <li>
                <%= render comment, with_address: false %>
              </li>
            <% end %>
          </ol>
        <% end %>
        <h4 id="add-comment">Have your say on this application</h4>
        <% if @application.authority.email.present? %>
          <%= render "comments/form_introduction", application: @application %>
          <% if current_user.nil? %>
            <p>
              <%= link_to "Create an account", new_user_registration_path %>
              or
              <%= link_to "sign in", new_user_session_path %>
              to make a comment
            </p>
          <% else %>
            <%= render "comments/form", application: @application, comment: @comment %>
          <% end %>
        <% else %>
          <%= render "comments/no_authority_email_explanation", application: @application %>
        <% end %>
      </div>
    </article>
  </div>
</div>
<div id="sidebar">
  <div id="alert">
    <div class="attention">
      <%= render "alerts/signup_introduction" %>
      <% if current_user.nil? %>
        <%= link_to "Create an account", new_user_registration_path %>
        or
        <%= link_to "sign in", new_user_session_path %>
        to create an alert.
      <% else %>
        <%= semantic_form_for @alert do |f| %>
          <%= f.inputs do %>
            <%= f.input :address, label: "Enter a street address", placeholder: "Enter a street address" %>
          <% end %>
          <%= f.actions do %>
            <%= f.action :submit, label: "Create alert", button_html: { class: "button button-rounded button-action button-large" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="application-stats">
    <%= link_to "Recent nearby applications", nearby_application_url(@application, sort: "time"), class: "button button-rounded" %>
  </div>
  <%= render "applications/social_share", application: @application %>
</div>

<%
=end
%>
