<% content_for :page_title, page_title(@application) %>
<% content_for :meta_description, @application.description %>
<% content_for :extra_meta_tags do %>
  <meta content="summary" name="twitter:card">
  <meta content="@PlanningAlerts" name="twitter:site">
  <meta content="<%= @application.address %>" name="twitter:title">
  <meta content="<%= (@application.description[0..199] if @application.description) %>" name="twitter:description">
  <meta content="<%= google_static_map_url(lat: @application.lat, lng: @application.lng, size: "512x512") %>" name="twitter:image">
  <meta content="<%= application_url(@application) %>" property="og:url">
  <meta content="place" property="og:type">
  <meta content="<%= @application.address %>" property="og:title">
  <meta content="<%= (@application.description[0..199] if @application.description) %>" property="og:description">
  <meta content="<%= google_static_map_url(lat: @application.lat, lng: @application.lng, size: "512x512") %>" property="og:image">
  <meta content="512" property="og:image:width">
  <meta content="512" property="og:image:height">
  <% if @application.location %>
    <meta content="<%= @application.lat %>" property="place:location:latitude">
    <meta content="<%= @application.lng %>" property="place:location:longitude">
  <% end %>
<% end %>

<h1 class="text-4xl font-bold text-navy"><%= @application.address %></h1>

<%# TODO: Weird that the line below fails a test if it's just "map" rather than "applications/map" %>
<%= render "applications/map", application: @application %>

<%
=begin
%>

<div id="main">
  <div id="application">
    <article id="application-info">
      <p class="description">
        <%= @application.description %>
      </p>
      <%= link_to @application.info_url, class: "button button-rounded", target: "_blank", rel: "noopener" do %>
        <%= image_tag "standard/external_link.png", size: "10x10", alt: "External link" %>
        Read more information
      <% end %>
      <footer>
        <p class="dates">
          <%= render "applications/scraped_and_received_text", application: @application %>
        </p>
        <p class="source">(Source: #{link_to @application.authority.full_name, authority_path(@application.authority.short_name_encoded)}, reference #{@application.council_reference})</p>
      </footer>
      <div id="comments-area">
        <% if @comments.present? %>
          <h4>
            <%= pluralize(@comments.count, "Comment") %>
          </h4>
          <% if current_user.nil? %>
            <p>
              <%= link_to "Create an account", new_user_registration_path %>
              or
              <%= link_to "sign in", new_user_session_path %>
              to have your say by adding your own comment.
            </p>
          <% else %>
            <p class="small quiet">
              Have your say by #{link_to "adding your own comment", "#add-comment", class: "link-to-comment-form"}.
            </p>
          <% end %>
          <ol id="comments">
            <% @comments.each do |comment| %>
              <li>
                <%= render comment, with_address: false %>
              </li>
            <% end %>
          </ol>
        <% end %>
        <h4 id="add-comment">Have your say on this application</h4>
        <% if @application.authority.email.present? %>
          <%= render "comments/form_introduction", application: @application %>
          <% if current_user.nil? %>
            <p>
              <%= link_to "Create an account", new_user_registration_path %>
              or
              <%= link_to "sign in", new_user_session_path %>
              to make a comment
            </p>
          <% else %>
            <%= render "comments/form", application: @application, comment: @comment %>
          <% end %>
        <% else %>
          <%= render "comments/no_authority_email_explanation", application: @application %>
        <% end %>
      </div>
    </article>
  </div>
</div>
<div id="sidebar">
  <div id="alert">
    <div class="attention">
      <%= render "alerts/signup_introduction" %>
      <% if current_user.nil? %>
        <%= link_to "Create an account", new_user_registration_path %>
        or
        <%= link_to "sign in", new_user_session_path %>
        to create an alert.
      <% else %>
        <%= semantic_form_for @alert do |f| %>
          <%= f.inputs do %>
            <%= f.input :address, label: "Enter a street address", placeholder: "Enter a street address" %>
          <% end %>
          <%= f.actions do %>
            <%= f.action :submit, label: "Create alert", button_html: { class: "button button-rounded button-action button-large" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="application-stats">
    <% if @application.no_alerted %>
      <p class="no_alerted">
        <% if @application.no_alerted == 1 %>
          1 person was
        <% else %>
          <%= @application.no_alerted %>
          people were
        <% end %>
        notified of this application via
        <%= link_to "email alerts", new_alert_path %>
      </p>
    <% end %>
    <%= link_to "Recent nearby applications", nearby_application_url(@application, sort: "time"), class: "button button-rounded" %>
  </div>
  <%= render "applications/social_share", application: @application %>
</div>

<%
=end
%>
