<% content_for :page_title, "Most commented applications across Australia" %>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  <%= yield :page_title %>
<% end %>

<div class="text-2xl text-navy">
  <p class="mt-12">
    Some planning applications attract considerably more community interest than others.
    In 2016 hundreds of people in the local community opposed
    <%= pa_link_to "the loss of a historic Sydney building", "https://www.planningalerts.org.au/applications/534084" %>.
    Their efforts
    <%= pa_link_to "succeeded in saving this building", "https://www.oaf.org.au/2016/02/10/you-saved-the-historic-alexandria-hotel-go-you/" %>,
    their much loved hotel, due in no small part to their comments on PlanningAlerts.
  </p>

  <p class="mt-6">
    However you probably would not have heard about this application unless you lived nearby.
  </p>

  <p class="mt-6">
    Now we bring you the trending applications so you can see what
    people find most popular or contentious. This
    <%# TODO: Is it always 20? %>
    <%# TODO: Also say the time period we look over %>
    page shows you the top 20 recent applications from across Australia that
    people have made the most comments on.
  </p>
</div>

<div class="mt-16 mb-8 divide-y divide-light-grey2 border-y border-light-grey2">
  <%= render partial: "application", collection: @applications %>
</div>

<%
=begin
%>

<div id="sidebar">
  <div class="box">
    <h4>Journalist?</h4>
    <p>
      When you include information from PlanningAlerts in a story or post,
      please cite it by including a link with a <strong>full URL</strong>.
    </p>
    <p>
      That way your
      readers can see the facts for themselves, understand the broader context
      and write their own comment.
    </p>
  </div>
</div>

<%
=end
%>