%h3= result.geocoder.capitalize

%table
  %tbody
    %tr
      %th Lat
      %td= result.lat
    %tr
      %th Lng
      %td= result.lng
    %tr
      %th Suburb
      %td= result.suburb
    %tr
      %th State
      %td= result.state
    %tr
      %th Postcode
      %td= result.postcode
    %tr
      %th Address
      %td= result.full_address
