%fieldset
  %legend Add a councillor
  = f.fields_for :suggested_councillors, @councillor_contribution.suggested_councillors.last do |suggested_councillor_field|
    %p{:class => "nameField"}
      = suggested_councillor_field.label :name
      = suggested_councillor_field.text_field :name
    %p{:class => "emailField"}
      = suggested_councillor_field.label :email
      = suggested_councillor_field.text_field :email
