= form_for @councillor_contribution, url: authority_councillor_contribution_thank_you_path(@authority.short_name_encoded) do |f|
  = f.hidden_field :id, value: @councillor_contribution.id
  = f.fields_for :contributor do |contributor_field|
    %fieldset
      %legend
        Great! Please tell us about yourself, so we can send you a little note of appreciation
        and updates about your contribution when it goes live.
        %p
          = contributor_field.label :name
          = contributor_field.text_field :name
        %p
          = contributor_field.label :email
          = contributor_field.text_field :email
  = f.button "No thanks", class: "button", value: "skip"
  = f.submit "Submit", class: "button-action"
