= form_for @councillor_contribution, url: authority_councillor_contribution_thank_you_path(@authority.short_name_encoded) do |f|
  = f.hidden_field :id, value: @councillor_contribution.id
  = f.fields_for :contributor do |contributor_field|
    %fieldset
      %legend
        Great! Please tell us about yourself, so we can send you a little note of appreciation
        and updates about your contribution when it goes live.
        %p This field is optional.
        %p
          = contributor_field.label :name
          = contributor_field.text_field :name
        %p
          = contributor_field.label :email
          = contributor_field.text_field :email
  %p.button
    = f.submit "Submit"
    -#TODO: don't submit the form data if the user clicks "No thanks"
    = f.submit "No thanks"
