%h1 Add another councillor for #{@authority.full_name}
%h2 The councillor(s) you submitted:
%ul
  - @councillor_contribution.suggested_councillors.each do |s|
    %li
      %dt Name
      %dd
        = s.name
      %dt Email
      %dd
        = s.email
= form_for [@authority, @councillor_contribution], url: authority_councillor_contribution_path do |f|
  = render 'contribution_form_input', f: f
