%h3
  How to contribute councillor information
%p
  Thank you so much for your interest in contributinng councillor information!
  Your work makes it possible for millions of Australians to write to their local councils.
  Here is how to do it.

%h3
  Find your council website
%p
  Go to google and search your council name. To be sure, enter the province name where the council exists
  (ex. "Cessnock City Council, New South Wales”, "George Town Council, Tasmania”)

%p
  Typically, there is a navigation menu that says something like
%ul
  %li
    About Council
  %li
    Council
  %li
    Your Council
  %li
    Our Council
  %li
    About Us
  %li
    etc.

%p
  You may have to click the tab, or sometimes you have to put your cursor on the tab and the submenu shows up.
%h3
  Find councillor information
%p
  Typically, there is a navigation menu that says something like
  %ul
    %li
      About Council
    %li
      Council
    %li
      Your Council
    %li
      Our Council
    %li
      About us
  %p
    You may have to click the tab, or sometimes you have to put your cursor on the tab and the sub-menu shows up.
  = image_tag asset_path("guide/lockyervalley_menu.png"), size: "900x350"
  %br
  = image_tag asset_path("guide/derebin_menu.png"), size: "900x350"
  %br
  = image_tag asset_path("guide/portAugusta_menu.png"), size: "900x350"
  %br
  %br
  %p
    And under the page, typically there are categories like
    %ul
      %li
        Councillor’s profile
      %li
        Councillors
      %li
        Mayor and Councillors
      %li
        Councillors and Wards
      %li
        Elected Councillors
    %br
    = image_tag asset_path("guide/lockyervally_mayorAndCouncil.png"), size: "900x400"
    %br
    = image_tag asset_path("guide/wardsAndCouncillors.png"), size: "900x400"
    %br
    = image_tag asset_path("guide/ourOrganization.png"), size: "900x400"
    %br
    %br
    %p
      Different councils have different navigation to the councillors information.
      Here are some examples of the path
    %br
    %h4
      West Coast Council, Tasmania
    %p
      Home > Council > Councillors
    = image_tag asset_path("guide/councillors.png"), size: "900x400"
    %br
    %h4
      City of Busselton, West Australia
    %p
      Home > Council > Our Organization > Councillors
    = image_tag asset_path("guide/councillors_2.png"), size: "900x400"
    %br
    %h4
      City of Fremantle, West Australia
    %p
      Home > Council > Your Council > Your Elected Members
    = image_tag asset_path("guide/yourElectedMembers.png"), size: "900x400"
    %br
    %h4
      Alpine Shire Council, Victoria
    %p
      Home > Council > About Council > Councillors
    = image_tag asset_path("guide/councillors3.png"), size: "900x400"
    %br
    %br
    %p
      Then finally, you will see a list of councillor information!
    %h3
      Finding the councillor information
    %p
      What we want is:
      %ul
        %li
          Name of the councillor
        %li
          Email address of the councillor
    = image_tag asset_path("guide/councillorInfo.png"), size: "900x400"

    %h3
      Inputting the councillor information
    %p
      Make sure there is ONE space between the first name and the last name
    = image_tag asset_path("guide/contributionInput.png"), size: "700x400"

    %p
      Then input the email of the councillor. If you choose to copy and paste the address,
      your mailor may open up if the councillor's email address is a link. To avoid opening up your
      mailor and copy the email address, use command + click to open the menu and
      choose "Copy Email Address".
    = image_tag asset_path("guide/councillorEmail.png"), size: "700x400"
    %br
    = image_tag asset_path("guide/emailCopyCommand.png"), size: "700x400"
    %br
    %br
    %p
      If you have more than 2 councillor information to submit, hit "Submit Another Councillor" and repeat the process. Once you finish inputting
      the information, click "Submit (number) of councillors information" button
    %h3
      After you submit
    %p
      You will be redirected to the page that asks your contact information.
      This is for us to keep you updated when your contribution goes live, and also to send you a little thank you message and
      %strong this information is optional.
      If you are willing to provide information, please fill in the form and click submit.
      If you prefer not to provide your information, please click "I prefer not to".
    %h3
      Thank you!
    %p
      You are done your contribution! Thank you very much!
