%h1 Add a new councillor for #{@authority.full_name}

= form_for [@authority, @councillor_contribution], url: authority_councillor_contributions_path do |f|
  %fieldset{:class =>"fieldContainer"}
    %legend
      Add a councillor
      = render 'contribution_form_input'

    %p.button{:id => "addMoreCouncillor"}
      = "Add another councillor"

    %p.button{:class => "contribute"}
      = f.submit "Submit"
