.councillor-contributions
  = form_for [@authority, @councillor_contribution], url: authority_councillor_contributions_path(@authority.short_name_encoded), html: { class: "councillor-contribution-form" } do |f|
    .councillor-contribution-intro
      %h1.page-title Who are the elected councillors for #{@authority.full_name}?
      %p
        Once we know, people will be able to ask them about development applications in PlanningAlerts.
        Collecting this information is a great contribution and will only take you a few minutes.
      %details
        %summary Instructions
        = render "instructions_body"
    .councillor-contribution-councillors
      %legend Add all the councillors details you can find:
      - @councillor_contribution.suggested_councillors.each do |s|
        = render 'contribution_form_input', f: f, suggested_councillor: s
      %button{formaction: new_authority_councillor_contribution_path(@authority.short_name_encoded), class: "button button-add-input"} Add another councillor
    .councillor-contribution-actions
      = f.submit "Submit #{pluralize(@councillor_contribution.suggested_councillors.length, "new councillor")}", class: "button-action"
