%h1 Great work! Thank you!
%p
  This data you contributed will be reviewed
  by an administrator, and go live shortly.
= form_for @contributor, url: create_contributor_path(id: @councillor_contribution.id) do |f|
  %fieldset
    %legend
      Please tell us about yourself, so we can send you a little note of appreciation
      and updates about your contribution when it goes live.
      %p This field is optional.
      %p
        = f.label :name
        = f.text_field :name
      %p
        = f.label :email
        = f.text_field :email
    %p.button
      = f.submit "Submit"
    = link_to "No thanks", contributors_thank_you_path
