%h3
  How to contribute councillor information
%p
  Thank you so much for your interest in contributinng councillor information!
  Your work makes it possible for millions of Australians to write to their local councils.
  Here is how to do it.

%h3
  Find your council website
%p
  = link_to "Find your council from here", council_directory_path
%p
  If you could not find the council you are looking for in the directory, try
  = link_to "google", 'google.com'
%p
  To be sure, enter the province name where the council exists
  (ex. "Cessnock City Council, New South Wales”, "George Town Council, Tasmania”)

%h3
  Find councillor information
%p
  Typically, there is a navigation menu that says something like
  %ul
    %li
      About Council
    %li
      Council
    %li
      Your Council
    %li
      Our Council
    %li
      About us
  %p
    You may have to click the tab, or sometimes you have to put your cursor on the tab and the sub-menu shows up.
  = image_tag "/tutorial/lockyervalley.png", size: "900x350"
  %br
  = image_tag "/tutorial/Derebin.png", size: "900x350"
  %br
  = image_tag "/tutorial/PortAugusta.png", size: "900x350"
  %br
  %br
  %p
    And under the page, typically there are categories like
    %ul
      %li
        Councillor’s profile
      %li
        Councillors
      %li
        Mayor and Councillors
      %li
        Councillors and Wards
      %li
        Elected Councillors
    %br
    = image_tag "/tutorial/MayorAndCouncil.png", size: "900x400"
    %br
    = image_tag "/tutorial/MayorAndCouncillor_2.png", size: "900x400"
    %br
    = image_tag "/tutorial/WardsAndCouncillors.png", size: "900x400"
    %br
    = image_tag "/tutorial/OurOrganization.png", size: "900x400"
    %br
    %br
    %p
      Different councils have different navigation to the councillors information.
      Here are some examples of the path
