%p For the attention of the General Manager / Planning Manager / Planning Department

%table
  %tr
    %th{ scope: "row", align: "left" } Application
    %td= comment.application.council_reference
  %tr
    %th{ scope: "row", align: "left" } Address
    %td= comment.application.address
  %tr
    %th{ scope: "row", align: "left" } Description
    %td= comment.application.description
  %tr
    %th{ scope: "row", align: "left" } Name of commenter
    %td= comment.name
  %tr
    %th{ scope: "row", align: "left" } Address of commenter
    %td= comment.address
  %tr
    %th{ scope: "row", align: "left" } Email of commenter
    %td= comment.email

%h4 Comment
= comment_as_html(comment.text)

%hr
= render "comment_mailer/footer", comment:
