%p For the attention of the General Manager / Planning Manager / Planning Department

%table
  %tr
    %th{ scope: "row", align: "left", valign: "top" } Application:
    %td{ valign: "top" }= comment.application.council_reference
  %tr
    %th{ scope: "row", align: "left", valign: "top" } Address:
    %td{ valign: "top" }= comment.application.address
  %tr
    %th{ scope: "row", align: "left", valign: "top" } Description:
    %td{ valign: "top" }= comment.application.description
  %tr
    %th{ scope: "row", align: "left", valign: "top" } Name of commenter:
    %td{ valign: "top" }= comment.name
  %tr
    %th{ scope: "row", align: "left", valign: "top" } Address of commenter:
    %td{ valign: "top" }= comment.address
  %tr
    %th{ scope: "row", align: "left", valign: "top" } Email of commenter:
    %td{ valign: "top" }= comment.email

%h4 Comment
= comment_as_html(comment.text)

%hr
= render "comment_mailer/footer", comment:
