%div.comment.module{class: ("comment-to-councillor" if comment.councillor)}
  %h2.comment-location.panel-body
    On
    = link_to application_url_with_tracking(id: comment.application.id, theme: "default"),
              title: "View application",
              class: "comment-application" do
      #{display_description_with_address(comment.application)}:
  .panel-body
    %p.comment-meta
      %span
        %span.comment-author= comment.name
        - if comment.councillor
          wrote to
          %span.comment-recipient.h-card
            local councillor
            %span.p-name= comment.councillor.name
        - else
          commented
    = comment_as_html(truncate(comment.text, :length => 700))
    = link_to "View comment on PlanningAlerts", comment_url_with_tracking(comment: comment, theme: "default"), class: "action-link"
  - if comment.councillor && comment.replies.empty?
    .panel-body.comment-to-councillor-status
      %p
        Delivered to #{comment.councillor.prefixed_name}.
        %span They are yet to respond.
