%div.comment.box
  %h2.comment-location
    On
    = link_to application_url_with_tracking(id: comment.application.id, theme: @theme),
              title: "View application",
              class: "comment-application" do
      #{display_description_with_address(comment.application)}:
  %p.comment-meta
    %span
      = comment.name
      commented
  = Sanitize.clean(ApplicationController.helpers.simple_format(truncate(comment.text, :length => 700)), Sanitize::Config::BASIC).html_safe
  = link_to "View comment on PlanningAlerts", comment_url_with_tracking(comment: comment, theme: @theme)
