!!!
%html
  %head
    %style= PlanningalertsApp::Application.assets["email.css"].to_s.html_safe

  %body
    = render "header"
    - unless @comments.empty?
      = render "comments", comments: @comments, alert: @alert
    - unless @replies.empty?
      = render "replies", replies: @replies, alert: @alert
    - unless @applications.empty?
      = render "applications", alert: @alert, applications: @applications
    = render "donation_banner"
    .footer-outer
      .footer-inner
        = render "footer_main"
        = render "footer_actions", alert: @alert
