!!!
%html
  %head
    %style= PlanningalertsApp::Application.assets["email.css"].to_s.html_safe

  %body
    = render "header"
    - unless @comments.empty?
      = render "comments"
    - unless @applications.empty?
      = render "applications"
    .footer-outer
      .footer-inner
        = render "footer_main" unless @alert.subscription.try(:trial?)
        = render "footer_actions"
