!!!
%html
  %body{:style => "font-family:sans-serif;"}
    %div{:style => "background: #878787; padding: 5px 0 5px 10px; margin-bottom:5px"}
      %a{:href => "http://www.planningalerts.org.au/", :style => "color: white; font-weight:bold; font-size: 20px; text-decoration:none;"}
        PlanningAlerts
    %div{:style => "margin: 6px 11px 25px; padding: 15px; background: #D0FFFF; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;"}
      = render partial: 'promo'
    - unless @comments.empty?
      %div{:style => "margin: 6px 11px 25px; padding: 15px; background: #fcfbbd; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;"}
        - if @comments.count == 1
          The following new comment has been made on a planning application
        - else
          The following new comments have been made on planning applications
        within #{meters_in_words(@alert.radius_meters)} of
        %strong= @alert.address
      = render :partial => "comment", :collection => @comments
    - unless @applications.empty?
      %div{:style => "margin: 6px 11px 25px; padding: 15px; background: #fcfbbd; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;"}
        The following new planning applications have been found within #{meters_in_words(@alert.radius_meters)} of
        %strong= @alert.address
      = render :partial => "application", :collection => @applications[0..9]
      - if @applications.size > 10
        %p{:style => "padding-left: 15px;"}
          But wait, there are more! Browse the full #{link_to "list of recent nearby applications", address_applications_url(:q => @alert.address)}.
    = render :partial => "footer"
