!!!
%html
  %head
    %style= PlanningalertsApp::Application.assets["email.css"].to_s.html_safe

  %body
    = render "header"
    - if @alert.expired_subscription?
      = render "expired_subscription"
    - else
      - unless @comments_and_replies.empty?
        = render "comments"
      - unless @applications.empty?
        = render "applications"
    .footer-outer
      .footer-inner
        - unless @alert.trial_subscription? || @alert.expired_subscription?
          = render "footer_main"
        = render "footer_actions"
