<!DOCTYPE html>
<html>
  <body>

    <div style="background: #FF7029;padding: 5px 0 5px 10px;margin-bottom:5px">
         <a href="http://www.planningalerts.org.au/" style="color: white;font-weight:bold;font-size: 20px;font-family:sans-serif;text-decoration:none;">
           PlanningAlert.com.au
         </a>
      </div>

    <div style=" margin: 6px 11px 25px; padding: 15px; background: #fcfbbd; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;">
      The following new planning applications have been found within <%= meters_in_words(@alert.radius_meters) %> of <b><%= @alert.address %></b>
    </div>

    <% @applications.each do |application| %>

      <table style="padding-left: 15px;padding-bottom: 15px;">
        <tr>
          <td colspan="2" style="padding-bottom: 5px;">
            <%= link_to application.address, application_url(:id => application.id, :utm_source => 'alerts', :utm_medium => 'email'),
              :style => "font-size: 18px; font-weight: bold; color: #f2630c;" %>
          </td>
        </tr>
        <tr>
          <td style="padding: 5px; width: 155px;">
            <img height="150" width="150" src="http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=150x150&maptype=roadmap&markers=color:red%7C<%= url_encode application.address %>&sensor=false"/>
          </td>
          <td style="padding: 5px;">
            <img height="150" width="150" src="http://maps.googleapis.com/maps/api/streetview?size=150x150&location=<%= url_encode application.address %>&fov=60&sensor=false"/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align:top;" colspan="2">
            <%= application.description %>
          </td>
        </tr>
      </table>

    <% end %>

    <div style="border-top: solid 3px #F2630C;">
      <div style="padding-left: 15px;padding-top: 5px;">
        <p>
          <a href="http://www.planningalerts.org.au/" style="color: #f2630c;">PlanningAlerts.org.au</a>
          is a free service run by the charity <b><a href="http://openaustraliafoundation.org.au/" style="color: #f2630c;">OpenAustralia Foundation</a></b>.
        </p>

        <p>
          <b>This service depends on donations from people like you for its survival.</b> <br/>
          <a href="http://www.openaustraliafoundation.org.au/donate/?utm_medium=email&amp;utm_source=alerts" style="color: #f2630c;">
            If you use this service please consider donating
          </a>
        </p>

        <p>
          <%= link_to 'Click here to change the size of the area covered by the alerts.', area_alert_url(:id => @alert.confirm_id),
            :style => 'color: #f2630c;' %><br/>
          <%= link_to 'Click here to stop receiving these emails.', unsubscribe_alert_url(:id => @alert.confirm_id),
            :style => 'color: #f2630c;' %>
        </p>
      </div>
    </div>

  </body>
</html>
