%dt.address= link_to application.address, application_path(application)
%dd
  .appinfo
    - if application.respond_to? :distance
      #{time_ago_in_words(application.date_scraped)} ago, #{km_in_words(application.distance.to_f)} away
    - else
      #{time_ago_in_words(application.date_scraped)} ago
  .description
    = application.respond_to?(:excerpts) ? application.excerpts.description : application.description
