%li
  %article
    = link_to application do
      %p
        In #{application.suburb}, #{application.state}
        the planning application for
        "#{truncate(application.description, length: 100, separator: ' ')}"
        was commented on
        = pluralize(application.visible_comments_count, "time")
