- content_for :meta_description, "A free service which searches Australian planning authority websites and emails you details of applications near you"

%p
  Find out for free what is being built and knocked down in your area and receive email
  alerts when something new is planned.

%form.address-search.formtastic.one-field{'accept-charset' => "UTF-8", 'action' => "/", 'method' => "get"}
  %fieldset.inputs
    %ol
      %li#q_input.string{:class => ("error" if @error)}
        = label_tag(:q, "Enter a street address")
        = text_field_tag(:q, @q, placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580")
        = link_to "#", class: "inline-hints", id: "geolocate" do
          &hellip; or locate me automatically
        - if @error
          %p.inline-errors= @error
  %fieldset.actions
    %ol
      %li.submit= submit_tag "Search", :name => nil, :class => "button button-rounded button-large button-action"

= render "shared/news"
