- content_for :meta_description, "A free service which searches Australian planning authority websites and emails you details of applications near you"
%p
  Find out for free what is being built and knocked down in your area and receive email
  alerts when something new is planned. Start by entering an Australian street address.
%form.formtastic{'accept-charset' => "UTF-8", 'action' => "/", 'method' => "get"}
  %fieldset.inputs
    %ol
      %li#q_input.string{:class => ("error" if @error)}
        = label_tag(:q, "Enter a street address")
        = text_field_tag(:q, @q)
        %p.inline-hints e.g. 1 Sowerby St, Goulburn, NSW 2580
        - if @error
          %p.inline-errors= @error
  %fieldset.actions
    %ol
      %li.submit
        = submit_tag "Search", :name => nil

- if @q
  - unless @other_addresses.empty?
    %p Or did you want?
    %ul
      - @other_addresses.each do |a|
        %li
          = link_to a, :q => a

  - unless @error
    - if @applications.empty?
      %hr
      %p
        Unfortunately, we don't know of any applications near #{@q}.
        This is most likely because we haven't yet been able to add your local planning authority.
        There is a list of the planning authorities we currently cover
        #{link_to "here", authorities_path}. We're working on covering the whole country but we're not there yet.        
      .attention
        <span class="highlight">You can help</span>! <a href="http://www.openaustraliafoundation.org.au/donate/"><span class="highlight">Donate</span> to the OpenAustralia Foundation</a> which will allow us to add more local authorities, including yours!
        Or, if you're a programmer you can help directly by #{link_to "writing a screen scraper", get_involved_path}.
      %p
        To see an example of what the results would look like once your area is included see #{link_to "Bourke Street in Melbourne", address_applications_path(:q => "Bourke St, Melbourne 3000")}.
      %p
        If you #{link_to "sign up for email alerts", new_alert_path(:address => @q)} anyway, you will receive new applications when they become available. 
        The more people that sign up for your area, the sooner we'll add your area to PlanningAlerts. So, get your friends and neighbours to sign up too!
    - else
      %ul#subscribe
        %li
          - link_to new_alert_path(:address => @q) do
            = image_tag "email.png", :size => "28x28"
            Email me whenever there are new applications near here
          (No more than once per day)
        %li
          - link_to @rss do
            = image_tag "rss.png", :size => "28x28"
            Subscribe to an RSS feed for applications near here
      %h3 Recent applications within #{meters_in_words(@radius)} of #{@q}
      = paginated_section @applications, :previous_label => "« Newer", :next_label => "Older »" do
        %dl= render :partial => "application", :collection => @applications
- else
  %hr
  - cache 'news', :expires_in => 1.hour do
    .news
      .blog-feed
        %h4
          News via the blog
        = render_rss_feed("http://www.openaustraliafoundation.org.au/category/projects/planningalerts-org-au/feed/")
        = link_to "More&hellip;".html_safe, "http://www.openaustraliafoundation.org.au/category/projects/planningalerts-org-au/"
      .twitter-feed
        %h4
          and via Twitter
        = render_twitter_feed(97544430)
        = link_to "More&hellip;".html_safe, "http://twitter.com/PlanningAlerts"
