- content_for :page_title, "Applications nearby #{@application.address}"

%h3 Applications nearby
- if @applications.empty?
  %p There are no other applications in the last #{Application.nearby_and_recent_max_age_months} months within #{Application.nearby_and_recent_max_distance_km} km of #{@application.address}
- else
  %p Other applications in the last #{Application.nearby_and_recent_max_age_months} months within #{Application.nearby_and_recent_max_distance_km} km of #{@application.address}

  = render "sort_options", sort: @sort, extra_params: {}

  = render "pagination", applications: @applications
  %ol.applications= render @applications
  = render "pagination", applications: @applications
