- content_for :page_title, @description

= form_tag(search_applications_path, method: :get) do
  = text_field_tag(:q, @q, class: "textbox")
  = submit_tag "Search >>", class: "button", name: nil

- if @applications
  - if @applications.any?
    = paginate @applications
    %ol.applications
      - @applications.with_highlights.each do |application, highlights|
        = render application, highlights:
    = paginate @applications
  - else
    %br
    %p.attention Sorry, no results found!
