#application
  - if @application.location
    = link_to map(@application).div(:width => 330, :height => 330, :class => "map"), @application.map_url
    = map(@application).to_html

  %h3.address= @application.address
  %p.description= @application.description
  %p.council-reference Council reference: #{@application.council_reference}
  %p.dates
    We found this application for you on the planning authority's website #{time_ago_in_words(@application.date_scraped)} ago.
    - if @application.date_received
      It was received by them #{distance_of_time_in_words(@application.date_received, @application.date_scraped)} earlier.
    - else
      The date it was received by them was not recorded.
  %ul
    %li
      Source:
      = link_to @application.authority.full_name, @application.info_url
    %li= link_to "Support or object to this application", @application.comment_url
  %p= addthis_bookmark_button

- unless @nearby_applications.empty?
  #nearby-applications
    %h3 Other recent applications nearby (within #{meters_in_words(@nearby_distance)})
    %dl
      = render :partial => "application", :collection => @nearby_applications
