#application
  = @map.div(:width => 330, :height => 330, :class => "map")

  %h3= @application.address
  %p= @application.description
  %p Council reference: #{@application.council_reference}

  %ul
    %li= link_to "Look at the original application", @application.info_url
    %li= link_to "Support or object to this application", @application.comment_url

- unless @nearby_applications.empty?
  #nearby-applications
    %h3 Other recent applications nearby (within #{meters_in_words(@nearby_distance)})
    %ul
      - @nearby_applications.each do |app|
        %li
          = link_to app.address, application_path(app)
          %p= app.description