.info
  %h1= @application.address
  %h2= @application.description
  %p Council reference: #{@application.council_reference}
.highlight
  %p= scraped_and_received_text(@application)
  - if @application.on_notice_to
    %p= on_notice_text(@application)
  %p (Source: #{@application.authority.full_name})
.info= link_to("Other applications nearby", applications_url(:address => @application.address))
