- content_for :page_title, page_title(@application)
- content_for :meta_description, "Planning application: #{@application.description} Address: #{@application.address}"
.info
  %h1= @application.address
  %h2= @application.description
.highlight
  %p= scraped_and_received_text(@application)
  - if @application.on_notice_to
    %p= on_notice_text(@application)
  %p (Source: #{@application.authority.full_name}, reference #{@application.council_reference})
- unless @nearby_count == 0
  %p.info#nearby-applications
    - if @nearby_count == 1
      There is
      = link_to "1 other nearby and recent application", nearby_application_url(@application)
    - else
      There are
      = link_to "#{@nearby_count} other nearby and recent applications", nearby_application_url(@application)
