.info
  %h1= @application.address
  %h2= @application.description
  %p Council reference: #{@application.council_reference}
.highlight
  %p= scraped_and_received_text(@application)
  - if @application.on_notice_to
    %p= on_notice_text(@application)
  %p (Source: #{@application.authority.full_name})
- unless @nearby_applications.empty?
  #nearby-applications
    %h3.info Selection of other recent or nearby applications
    .list
      = render :partial => "application_mobile", :collection => @nearby_applications
    .info= link_to("more&hellip;", applications_url(:address => @application.address))
