#application
  - if @application.location
    = link_to map(@application).div(:width => 330, :height => 330, :class => "map"), @application.map_url
    = map(@application).to_html

  %h3.address= @application.address
  %p.description= @application.description
  %p.council-reference Council reference: #{@application.council_reference}
  %p.dates
    = scraped_and_received_text(@application)
  - if @application.on_notice_to
    %p.on_notice
      = on_notice_text(@application)
  %ul
    %li
      Source:
      = link_to @application.authority.full_name, @application.info_url
    %li= link_to "Support or object to this application", @application.comment_url
  %p= addthis_bookmark_button

- unless @nearby_applications.empty?
  #nearby-applications
    %h3 Other recent applications nearby (within #{meters_in_words(@nearby_distance)})
    %dl
      = render :partial => "application", :collection => @nearby_applications
