%p
  Council Name: #{@authority.full_name}

= form_for [@authority, @suggested_councillor], url: authority_suggested_councillors_path do |f|
  %fieldset
    %legend
      Add a councillor
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :email
      = f.text_field :email
    %p.button
      = f.submit "Submit"
