<%= form_with model: contact_message do |f| %>
  <% if current_user.nil? %>
    <div>
      <%= f.label :name, "Your name", class: "block mb-3" %>
      <%= f.text_field :name, size: 40, class: "block max-w-full" %>
      <%= f.error :name, class: "mt-2" %>
      <%= f.hint do %>
        Or <%= pa_link_to "sign in", new_user_session_path %>
      <% end %>
    </div>
    <div class="my-8">
      <%= f.label :email, "Your email", class: "block mb-3" %>
      <%= f.email_field :email, size: 40, class: "block max-w-full" %>
      <%= f.error :email, class: "mt-2" %>
    </div>
  <% end %>
  <div>
    <%= f.label :reason, "I'm getting in touch because", class: "block mb-3" %>
    <%# TODO: Make sure that we can't choose "Please select" %>
    <%# TODO: The grey border here does not match the design but matches other form elements %>
    <%# TODO: Use prompt option to make this a little nicer %>
    <%= f.select :reason, [["Please select", ""]] + ContactMessage::REASONS_LONG, {}, class: "block w-full sm:w-auto" %>
    <%= f.error :reason, class: "mt-2" %>
  </div>
  <div class="mt-8">
    <%= f.label :details, "Your message", class: "block mb-3" %>
    <%= f.text_area :details, placeholder: "Please describe your issue in as much detail as possible. Include screenshots or links to the page.", class: "block w-full", rows: 8 %>
    <%= f.error :details, class: "mt-2" %>
  </div>
  <div class="mt-8">
    <%= f.label :attachments, "Attach files or screenshots", class: "block mb-3" %>
    <%# TODO: Can we change the text on the button? %>
    <%# TODO: Not sure the direct_upload_url works here. I think it might depend on UJS. Need to check. %>
    <%= f.file_field :attachments,
                     multiple: true,
                     data: { direct_upload_url: rails_direct_uploads_url } %>
  </div>
  <% if current_user.nil? && Rails.application.credentials[:recaptcha] %>
    <div class="mt-8">
      <%= recaptcha_tags %>
      <%# TODO: Make sure recaptcha errors are shown here %>
      <%= f.error :base, class: "mt-2" %>
      <%= f.hint class: "mt-2" do %>
        Or <%= pa_link_to "sign in", new_user_session_path %> to remove this annoying reCaptcha
      <% end %>
    </div>
  <% end %>
  <div class="mt-8">
    <%= render ButtonWithSideTextComponent.new(tag: :button, size: "xl", type: :primary) do |c| %>
      Send message
      <% c.with_side_text do %>
        to the Planning Alerts team
      <% end %>
    <% end %>
  </div>
  <p class="mt-6 text-xl text-navy">We run this site, not the Government!</p>
<% end %>
