= link_to application, class: %w[list-group-item list-group-item-action] do
  - if application.visible_comments_count.positive?
    .comments= pluralize(application.visible_comments_count, "comment")
  %h4.address= application.address
  .appinfo
    - if application.respond_to? :distance
      #{time_ago_in_words(application.first_date_scraped)} ago, #{km_in_words(application.distance.to_f)} away
    - else
      #{time_ago_in_words(application.first_date_scraped)} ago
  .description
    -# rubocop:disable Rails/OutputSafety
    = application.respond_to?(:excerpts) && application.excerpts ? application.excerpts.description.html_safe : application.description
    -# rubocop:enable Rails/OutputSafety
