- content_for :meta_description, Rails.application.config.planningalerts_meta_description

= render "address_search_preamble"

= form_tag root_path, method: :get, enforce_utf8: false do
  .form-group
    = label_tag(:q, "Enter a street address")
    = text_field_tag(:q, @q, placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580", required: "required", class: "form-control address-autocomplete-input")
    -# TODO: Show errors
    -# - if @error
    -#   %p.inline-errors= @error
    = link_to "#", class: "form-text text-muted", id: "geolocate" do
      &hellip; or locate me automatically
  %button{type: "submit", class: "btn btn-primary"} Search

-# = render "trending", applications: @trending
-# = render "shared/tweets"
