<section class="main-content__body">
  <%# These URLs require you to login to our Kibana instance with a username and password. %>
  <%# So they're relatively safe to include here. %>
  <p>
    <%= link_to "View dashboard in Kibana", "https://d2ba5a791b81410f8d2365c8a6d59905.ap-southeast-2.aws.found.io:9243/app/kibana#/dashboard/8e1285f0-3582-11e9-8f74-c54feae3d9a2?_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-1y%2Cmode%3Aquick%2Cto%3Anow))" %>
  </p>

  <h1>Top 50 users of the API (by number of requests) over the last <%= pluralize(@period, "day") %></h1>

  <div>
    <%= link_to "last 30 days", { period: 30 }, class: "button" %>
    <%= link_to "last 7 days", { period: 7 }, class: "button" %>
    <%= link_to "last 1 day", { period: 1 }, class: "button" %>
  </div>

  <table>
    <thead>
      <th>Name</th>
      <th>Organisation</th>
      <th>Email</th>
      <th>Disabled</th>
      <th>Commercial</th>
      <th>Daily Limit</th>
      <th>Average daily requests</th>
    </thead>
    <tbody>
      <% @result.each do |api_key, requests| %>
        <tr>
          <td><%= link_to api_key.user.name,         admin_api_key_path(api_key) %></td>
          <td><%= link_to api_key.user.organisation, admin_api_key_path(api_key) %></td>
          <td><%= link_to api_key.user.email,        admin_api_key_path(api_key) %></td>
          <td><%= link_to api_key.disabled.to_s,     admin_api_key_path(api_key) %></td>
          <td><%= link_to api_key.commercial.to_s,   admin_api_key_path(api_key) %></td>
          <td><%= link_to api_key.daily_limit.to_s,  admin_api_key_path(api_key) %></td>
          <td><%= requests.round %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
