<h1 class="text-4xl font-bold text-fuchsia font-display">Sign in to PlanningAlerts</h1>

<%= form_with model: resource, url: session_path(resource_name) do |f| %>
  <%= f.label "Your email", class: "font-bold text-2xl" %>
  <%= f.text_field :email, class: "text-2xl", placeholder: "your@email.com", autofocus: true, autocomplete: "email" %>
  <%= f.label "Password", class: "font-bold text-2xl" %>
  <%= f.text_field :password, class: "text-2xl", placeholder: "••••••••", autocomplete: "current-password" %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-2xl font-light underline" %>
  <%= f.hidden_field :remember_me, value: true %>
  <%= render Tailwind::ButtonComponent.new(tag: :button, size: "2xl", colour: :green) do %>
    Sign in
  <% end %>
<% end %>

<h2 class="text-2xl font-bold">New to PlanningAlerts?</h2>
<p class="text-2xl">Get started here. It's easy.</p>

<%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", colour: :green, href: new_user_registration_path) do %>
  Create an account
<% end %>
