<%# TODO: This needs to link to the comment %>
<%# TODO: Fixup spacing with multiple comments %>
<% if comment.hidden %>
  <p class="py-3 text-2xl mb-9 text-navy bg-light-grey px-7">
    This comment is hidden from public view.
    <%# TODO: Where does this link to? %>
    <%= pa_link_to "Why?", "#" %>
  </p>
<% end %>

<p class="text-2xl text-navy">
  In response to <%= comment.application.authority.full_name %>,
  application reference <%= comment.application.council_reference %> for
  <strong><%= comment.application.address %></strong>
  you said:
</p>
<div class="flex pt-12 pb-10">
  <div class="mr-6 text-navy text-7xl" aria-hidden="true">”</div>
  <div>
    <div class="prose prose-2xl">
      <%= comment_as_html(comment.text) %>
    </div>
    <div class="mt-12 text-lg text-navy">
      <time datetime="<%= comment.published_at.strftime("%F") %>">
        <%= time_ago_in_words(comment.published_at) %> ago
      </time>
    </div>
    <div class="mt-4">
      <%# # TODO: We want the disclosure always open (or no disclosure) instead of what's on the public comments page %>
      <%= render "comments/delivery_status", comment: %>
    </div>
  </div>
</div>
