<ul class="ml-5 text-xl font-semibold text-orange list-image-dash">
  <li><%= link_to "Your alerts", profile_alerts_path, class: class_names("block", "pl-4", "underline" => current_page?(profile_alerts_path)) %></li>
  <li><%= link_to "Create new alert", new_profile_alert_path, class: class_names("block", "pl-4", "underline" => current_page?(new_profile_alert_path)) %></li>
  <li><%= link_to "Your comments", comments_profile_path, class: class_names("block", "pl-4", "underline" => current_page?(comments_profile_path)) %></li>
  <li><%= link_to "Edit account", edit_user_registration_path, class: class_names("block", "pl-4", "underline" => current_page?(edit_user_registration_path)) %></li>
  <%# Setting "Sign out" to a block breaks on ios/safari %>
  <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "cursor-pointer pl-4" %></li>
</ul>

<% if current_user.admin? %>
  <ul class="mt-10 ml-5 text-xl font-semibold text-orange list-image-dash">
    <li><%= link_to "Administration panel", admin_root_path, class: "block pl-4" %></li>
    <li><%= link_to "Feature flags", admin_flipper_path, class: "block pl-4" %></li>
  </ul>
<% end %>
