<% content_for :page_title, "Your comments" %>

<h2 class="mb-8 text-3xl font-bold text-navy font-display"><%= yield(:page_title) %></h2>

<% if @comments.empty? %>
  <%# TODO: We don't yet have a design for this bit %>
  <p class="text-2xl text-navy">You have not made any comments</p>
<% else %>
  <%# TODO: Design the pagination %>
  <%= paginate @comments %>
  <ol>
    <% @comments.each do |comment| %>
      <li>
        <%# TODO: Extract this out into a partial %>
        <%# TODO: This needs to link to the comment %>
        <%# TODO: This should also information about the application or address %>
        <%# TODO: Show a special message if the comment has been hidden %>
        <%# TODO: We need that tailwind plugin for styling formatted text %>
        <div class="text-2xl text-navy">
          <%= comment_as_html(comment.text) %>
        </div>
        <time datetime="<%= comment.confirmed_at.strftime("%F") %>" class="text-lg text-navy">
          <%= time_ago_in_words(comment.confirmed_at) %> ago
        </time>
        <% if comment.last_delivered_successfully.nil? %>
          <p class="text-lg font-bold text-orange">Sent to the planning authority</p>
        <% elsif comment.last_delivered_successfully %>
          <p class="text-lg font-bold text-orange">Delivered to the planning authority</p>
          <p class="text-lg text-navy">
            This comment was successfully delivered to the
            email server of
            <%= comment.application.comment_authority_with_fallback %>
            at
            <%= comment.last_delivered_at %>
          </p>
        <% else %>
          <p class="text-lg font-bold text-orange">There was a problem delivering this to the planning authority</p>
          <p class="text-lg text-navy">
            The comment was hard bounced by the email server of
            <%= comment.application.comment_authority_with_fallback %>
            at
            <%= comment.last_delivered_at %>
            Please follow up by
            <%# TODO: Style this link %>
            <%= link_to "contacting us", documentation_contact_path %>
            so that we can try to help resolve this issue
          </p>
        <% end %>
        <%# TODO: Link to actual page %>
        <%= render Tailwind::ButtonComponent.new(tag: :a, size: "2xl", type: :primary, href: "#") do %>
          View email preview
        <% end %>
      </li>
    <% end %>
  </ol>
  <%= paginate @comments %>
<% end %>
