%p
  Local councillor #{@comment.councillor.name} replied to your message
  about the planning application “#{@comment.application.description}”
  at #{@comment.application.address}:

%p Local councillor #{@comment.councillor.name} wrote:

%blockquote= @reply.text

%p Best wishes,

%p PlanningAlerts
