<% content_for :page_title, "Coverage" %>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  <%= yield :page_title %>
<% end %>

<%# TODO: Extract common partial from this and application search page %>
<p class="mt-12 text-2xl text-navy">
  We currently cover <%= @percentage_population_covered_by_all_active_authorities %>% of Australia's population
  within <%= @authority_count %> authorities.
  For this number we're only counting places where the main planning authority is covered.
  As an example, most of Victoria is covered by the SPEAR system but not all Victorian planning
  applications go through it. So, we don't include SPEAR in our population count.
</p>

<p class="mt-4 text-2xl text-navy">
  We don't yet cover the whole country, but we are working on it.
  New authorities are being added all the time, so if your local authority isn't listed below
  <%= pa_link_to "sign up anyway", new_alert_path %> and you'll start receiving alerts once it has been included.
</p>

<section class="py-12 mt-8 border-y">
  <h2 class="text-2xl font-bold text-navy font-display">
    Where does application data come from?
  </h2>
  <p class="mt-4 text-2xl text-navy">
    To be able to display and send alerts for planning applications,
    Planning Alerts needs to download applications from as many councils as possible.
    As the vast majority of councils don't supply the data in a reusable, machine-readable format
    we write web scrapers for each local government authority. These scrapers fetch the data from
    council web pages and present it in a structured format so we can load it into the
    Planning Alerts database.
  </p>
  <%# TODO: Extract partial from this and the get involved page %>
  <p class="mt-4 text-2xl text-navy">
    If you are a programmer and would like to write a scraper for your local authority
    <%= pa_link_to "read our guide on writing scrapers", how_to_write_a_scraper_path %>.
  </p>
  <p class="mt-4 text-2xl text-navy">
    If you work for a local authority and would like to make your data available we highly
    recommend using the
    <%= pa_link_to "Application Tracking Data Interchange Specification (ATDIS)", atdis_test_path %>.
  </p>
</section>

<%
=begin
%>

%p
  From time to time planning authorities change their websites which breaks the scrapers that gather the planning
  data. In the list below you can also see the authorities that we haven't received planning data from for a while
  which is a good indication that something is wrong. These are marked as
  <span class="highlight">possibly broken</span>. You can help by providing a
  = link_to "donation", donate_url
  or
  #{link_to "volunteering", get_involved_path} to help us fix it.
%p
  Note that you can also reorder the list by population if you're
  interested in fixing the scrapers for the authorities with the largest population.

%table
  %thead
    %tr
      %th= link_to "State", order: nil
      %th= link_to "Authority", order: nil
      %th
        = link_to "Population", order: "population"
        (2021 census)
  %tbody
    = render partial: "authority", collection: @authorities, cached: true

<%
=end
%>