<% content_for :page_title, "Coverage" %>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  <%= yield :page_title %>
<% end %>

<div class="flex flex-col justify-between gap-8 mt-12 md:flex-row-reverse">
  <div class="shrink-0">
    <%= render "coverage_percentage" %>
  </div>
  <div class="max-w-2xl">
    <%# TODO: Extract common partial from this and application search page %>
    <p class="text-2xl text-navy">
      We currently cover <%= @percentage_population_covered_by_all_active_authorities %>% of Australia's population
      within <%= @authority_count %> authorities.
      For this number we're only counting places where the main planning authority is covered.
      As an example, most of Victoria is covered by the SPEAR system but not all Victorian planning
      applications go through it. So, we don't include SPEAR in our population count.
    </p>

    <p class="mt-4 text-2xl text-navy">
      We don't yet cover the whole country, but we are working on it.
      New authorities are being added all the time, so if your local authority isn't listed below
      <%= pa_link_to "sign up anyway", new_alert_path %> and you'll start receiving alerts once it has been included.
    </p>
  </div>
</div>

<div class="mt-8 border-t divide-y divide-light-grey2 border-light-grey2">
  <section class="py-12">
    <h2 class="text-2xl font-bold text-navy font-display">
      Where does application data come from?
    </h2>
    <%# TODO: This paragraph is the same as used in "how to write a scraper". Extract partial? %>
    <p class="mt-4 text-2xl text-navy">
      To be able to display and send alerts for planning applications,
      Planning Alerts needs to download applications from as many councils as possible.
      As the vast majority of councils don't supply the data in a reusable, machine-readable format
      we write web scrapers for each local government authority. These scrapers fetch the data from
      council web pages and present it in a structured format so we can load it into the
      Planning Alerts database.
    </p>
    <div class="flex flex-col items-start gap-8 mt-8 sm:flex-row">
      <%# TODO: Extract partial from this and the get involved page %>
      <%= image_tag "tailwind/illustration/headshot1.svg", alt: "" %>
      <p class="max-w-2xl text-2xl text-navy">
        If you are a programmer and would like to write a scraper for your local authority
        <%= pa_link_to "read our guide on writing scrapers", how_to_write_a_scraper_path %>.
      </p>
    </div>
    <div class="flex flex-col items-start gap-8 mt-8 sm:flex-row">
      <%= image_tag "tailwind/illustration/headshot4.svg", alt: "" %>
      <p class="max-w-2xl text-2xl text-navy">
        If you work for a local authority and would like to make your data available we highly
        recommend using the
        <%= pa_link_to "Application Tracking Data Interchange Specification (ATDIS)", atdis_test_path %>.
      </p>
    </div>
  </section>
  <section class="py-12">
    <%# TODO: Not sure this is the best wording for the heading %>
    <h2 class="text-2xl font-bold text-navy font-display">
      Date reliability
    </h2>
    <p class="mt-4 text-2xl text-navy">
      From time to time planning authorities change their websites which breaks the scrapers that gather the planning
      data. Here is a complete list of all the planning authorities we source data from and their status.

      <dl class="flex gap-4 mt-4 text-2xl text-navy">
        <dt class="shrink-0">
          <%# TODO: Extract pill (or whatever we want to call it) into component %>
          <div class="inline-block px-1 bg-yellow">Possibly broken</div>
        </dt>
        <dd>
          Authorities marked like this means we haven't received planning data
          from them for a while so something is wrong, possibly a broken scraper.
        </dd>
      </dl>
    </p>

    <%# Super crappy way of making this table readable(ish) on small screens by
    making the font smaller %>
    <table class="w-full mt-16 text-base text-left md:text-2xl text-navy">
      <thead>
        <tr>
          <%# TODO: Show arrow on right of link when sorting by that column %>
          <th class="pb-6 pr-8">
            <%= pa_link_to "State", order: nil %>
          </th>
          <th class="pb-6 pr-4">
            <%= pa_link_to "Authority", order: nil %>
          </th>
          <%# Setting a width here to ensure that population heading isn't wrapped %>
          <th class="pb-6 md:w-72">
            <%= pa_link_to "Population (2021 census)", order: "population" %>
          </th>
        </tr>
      </thead>
      <tbody class="align-top">
        <%= render partial: "authority", collection: @authorities, cached: true %>
      </tbody>
    </table>
  </section>
</div>