<% content_for :page_title do %>
  Application information for <%= @authority.full_name %>
<% end %>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  Application information <span class="block mt-1 text-2xl font-bold font-display">for <%= @authority.full_name %></span>
<% end %>

<% if @authority.boundary && Flipper.enabled?(:show_authority_map, current_user) %>
  <%# TODO: Probably want to precompute the bounding box when the boundary data is loaded instead %>
  <div class="w-full my-8 h-80 bg-google-maps-green"
       x-init="initialiseAuthorityMap($el, <%= bb = RGeo::Cartesian::BoundingBox.create_from_geometry(@authority.boundary)
                                               { json: boundary_authority_url(format: :json), sw: { lng: bb.min_x, lat: bb.min_y }, ne: { lng: bb.max_x, lat: bb.max_y } }.to_json %>)">
  </div>
<% end %>

<% if @authority.population_2021 %>
  <p class="py-4 mt-8 text-2xl border-y text-navy border-light-grey2">Population <%= number_with_delimiter @authority.population_2021 %> (2021 census)</p>
<% end %>

<%# TODO: Handle situation where the authority is "broken" %>
<%# TODO: Handle situation where the authority is not covered yet %>

<div class="divide-y divide-light-grey2">
  <section class="py-12">
    <h2 class="text-3xl font-bold text-navy">Applications collected by Planning Alerts</h2>
    <table class="mt-8 text-2xl text-navy">
      <tbody>
        <tr>
          <td class="pr-8 font-bold text-7xl"><%= @authority.applications.where("first_date_scraped >= ?", 1.week.ago).count %></td>
          <th class="font-normal text-left">in the last week</th>
        </tr>
        <tr>
          <td class="pr-8 font-bold text-7xl"><%= @authority.applications.where("first_date_scraped >= ?", 1.month.ago).count %></td>
          <th class="font-normal text-left">in the last month</th>
        </tr>
        <tr>
          <td class="pr-8 font-bold text-7xl"><%= @authority.applications.count %></td>
          <th class="font-normal text-left">
            since <%= @authority.earliest_date.strftime("%-d %b %Y") %>
            (when this authority was first added to Planning Alerts)
          </th>
        </tr>
        <tr>
          <td class="pr-8 font-bold text-7xl"><%= @authority.median_new_applications_per_week %></td>
          <th class="font-normal text-left">
            <%= pa_link_to "median", "https://en.wikipedia.org/wiki/Median" %>
            per week
            (ignoring weeks without any new applications at all)
          </th>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="pt-12 pb-24">
    <%# TODO: This title isn't right because the section has comments in it too %>
    <h2 class="text-3xl font-bold text-navy">Browse applications from <%= @authority.full_name %></h2>
    <ul class="mt-8 text-2xl text-navy">
      <li>
        View all
        <%= pa_link_to "recent applications", authority_applications_path(@authority.short_name_encoded) %>
      </li>
      <li>
        View all
        <%= pa_link_to "comments on applications", authority_comments_path(@authority.short_name_encoded) %>
      </li>
    </ul>
  </section>

  <section class="pt-12 pb-24">
    <h2 class="pb-12 text-3xl font-bold text-navy">Number of new applications scraped over time</h2>
    <div class="h-52">
      <div class="chart bg-fuchsia" id="applications-chart">
      </div>
    </div>
  </section>

  <section class="clear-both pt-12 pb-24">
    <h2 class="pb-12 text-3xl font-bold text-navy">Number of comments posted over time</h2>
    <div class="h-52">
      <div class="chart bg-fuchsia" id="comments-chart">
      </div>
    </div>
  </section>

  <%# TODO: Move over to using alpinejs to initialise the chart %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js" %>
  <%= javascript_include_tag "tailwind/bar_graph" %>
  <script>
    barGraph(
      "#applications-chart",
      "<%= per_week_authority_applications_url(@authority.short_name_encoded, format: :json) %>",
      "new applications scraped"
    );
    barGraph(
      "#comments-chart",
      "<%= per_week_authority_comments_url(@authority.short_name_encoded, format: :json) %>",
      "comments posted"
    );
  </script>

  <section class="pt-12 pb-24">
    <h2 class="pb-12 text-3xl font-bold text-navy">Under the Hood</h2>
    <p class="text-2xl text-navy">
      Are you a developer or keen to learn some new things and help out in the process?
      Then, <%= pa_link_to "look under the hood", authority_under_the_hood_path(@authority.short_name_encoded) %>,
      see more about how the information gets into PlanningAlerts, what problems are
      happening and what you might do to help fix them.
    </p>
    <p class="mt-6 text-2xl text-navy">
      <%= pa_link_to "Look under the hood", authority_under_the_hood_path(@authority.short_name_encoded) %>
    </p>

  </section>
</div>

<%
=begin
%>

- if @authority.covered?
  - if @authority.broken? && @authority.applications.count != 0
    %p
      %span.highlight It looks like something might be wrong. The latest new application was received #{time_ago_in_words(@authority.date_last_new_application_scraped)} ago.
      = link_to "Why?", faq_path(anchor: "broken_scraper")

  - if @authority.applications.empty?
    %p
      No applications for #{@authority.full_name} have yet been collected.

- else
  %p
    This authority is
    %strong
      not yet covered by PlanningAlerts.
    This is because either
    %ul
      %li a scraper has not yet been written for it or...
      %li the authority doesn't publish the information in a way that a scraper can read or...
      %li the authority doesn't publish the information online at all!

  %h3 How you can help

  %p
    %strong
      If you're a developer
    you can help by writing a scraper. It can be in PHP, Python or Ruby. Read the
    #{link_to "step by step guide to writing a scraper for PlanningAlerts", how_to_write_a_scraper_path}.
  %p
    %strong
      If you're not a developer
    you can ask your developer friend to help (see above) or
    = link_to "lobby your authority", how_to_lobby_your_local_council_path
    to make it easy for us to add their planning data to our system.
  %p
    %strong
      If you work for the authority
    you can help by publishing the data in a simple machine readable format.

  %h3 Questions?

  %p= link_to "Contact us", documentation_contact_path

<%
=end
%>
