%p Hi #{@comment.name},

%p
  Local councillor #{@comment.councillor.name} replied to
  = link_to "your message", application_url(@comment.application,
                                            protocol: "https",
                                            anchor: "comment#{@comment.id}",
                                            utm_campaign: "view-comment",
                                            utm_source: "reply-notifications",
                                            utm_medium: "email")
  about the planning application “#{@comment.application.description}”
  at #{@comment.application.address}.

%p Local councillor #{@comment.councillor.name} replied:

%blockquote= comment_as_html(@reply.text)

%p
  %strong
    = link_to "View and share this reply on PlanningAlerts",
              application_url(@comment.application,
                              protocol: "https",
                              anchor: "reply#{@reply.id}",
                              utm_campaign: "view-reply",
                              utm_source: "reply-notifications",
                              utm_medium: "email")

%p Best wishes,

%p PlanningAlerts
