<%# TODO: This page needs a proper design %>
<%# TODO: Extract out component for this centred block %>
<div class="max-w-lg mx-auto">
  <%= render HeadingComponent.new(tag: :h1, extra_classes: "my-20 text-center") do %>
    Let's get you to create a new password. First we need to confirm you're you
  <% end %>
  <%= form_with model: resource, url: password_path(resource_name) do |f| %>
    <div class="flex flex-col items-center">
      <div class="w-full">
        <%= f.label :email, class: "block" %>
        <%= f.email_field :email, class: "mt-1 block w-full", autofocus: true, autocomplete: "email" %>
        <%= f.error :email, class: "mt-2" %>
      </div>
      <div class="mt-8">
        <%= f.button "Send me an email" %>
      </div>
    </div>
  <% end %>
</div>
