<%= link_to application do %>
  <div class="font-normal text-navy line-clamp-4">
    In
    <span class="font-bold"><%= application.suburb %>, <%= application.state %></span>
    the application for
    &ldquo;<%= application.description %>&rdquo;
  </div>
  <div class="inline-block px-3 py-1 mt-4 font-normal text-white rounded-lg bg-fuchsia">
    <%= pluralize(application.visible_comments_count, "comment") %>
  </div>
  <span class="relative inline-block text-6xl font-normal text-navy left-1 top-6">&rdquo;</span>
<% end %>
