<%# TODO: It would be good to integrate this back with our standard tailwind form builder %>
<%# Right now the styling is quite different from the other forms %>
<div class="px-6 py-10 sm:py-16 bg-navy sm:px-28">
  <%= form_with url: address_applications_path, method: :get, class: "space-y-4 sm:space-y-8 flex flex-col items-center" do |form| %>
    <%= form.label :q, "Enter a street address", class: "font-semibold text-3xl sm:text-4xl text-white" %>
    <%# TODO: Re-enable autofocus:true below after finished testing with livereload %>
    <div class="w-full space-y-2">
      <%= form.text_field :q,
                          placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580",
                          class: "text-2xl text-navy w-full px-4 py-3 sm:py-4 placeholder-shown:truncate",
                          required: "required",
                          # This handles both when google maps is ready before alpine and the
                          # other way around
                          "x-data" => "{ initAfterMaps() { new google.maps.places.Autocomplete($el, {componentRestrictions: {country: 'au'}, types: ['address']})} }",
                          "x-init" => "if('google' in window) initAfterMaps()",
                          "x-on:map-loaded.window" => "initAfterMaps()" %>
      <%= button_tag type: "button", class: "text-white sm:text-xl block w-full" do %>
        <span class="inline-block mr-2 align-middle">
          <%= render "application/svg/location" %>
        </span>
        <%# TODO: Make geolocate button work %>
        <span class="underline">or use my current location</span>
      <% end %>
    </div>

    <%= render Tailwind::ButtonComponent.new(tag: :button, size: "2xl", type: :primary) do %>
      Search for applications
    <% end %>
  <% end %>
</div>
