<div class="sm:grid sm:items-center sm:grid-cols-2 sm:gap-7 mb-9 sm:mb-7">
  <h2 class="text-3xl font-medium sm:text-4xl font-display text-navy">
    Find out for free what is being built and knocked down in your area.
  </h2>
  <div class="mt-9 sm:mt-0 justify-self-end">
    <%= image_tag "tailwind/illustration.svg" %>
  </div>
</div>

<div class="px-6 py-10 sm:py-16 bg-navy sm:px-28">
  <%= form_with url: address_applications_path, method: :get, class: "space-y-4 sm:space-y-6 text-center" do |form| %>
    <%= form.label :q, "Enter a street address", class: "font-semibold text-3xl sm:text-4xl text-white" %>
    <%# TODO: Re-enable autofocus:true below after finished testing with livereload %>
    <%= form.text_field :q, placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580", class: "text-xl w-full px-4 py-3 sm:py-4 placeholder-shown:truncate", required: "required" %>
    <%= button_tag type: "button", class: "text-white sm:text-xl block w-full" do %>
      &hellip; or locate me automatically
    <% end %>

    <%= form.submit "Search", name: nil, class: "text-xl font-semibold text-white bg-green px-11 sm:px-16 py-3 sm:py-4" %>
  <% end %>
</div>

<%= render "trending", applications: @trending %>
