<div class="sm:grid sm:items-center sm:grid-cols-2 sm:gap-7 mb-9 sm:mb-7">
  <h2 class="text-3xl font-medium sm:text-5xl font-display text-navy">
    Find out for free what is being built and knocked down in your area.
  </h2>
  <div class="mt-9 sm:mt-0 justify-self-end">
    <%= image_tag "tailwind/illustration.svg" %>
  </div>
</div>

<%= render "search_for_applications" %>
<%= render "how_it_works" %>
<hr class="text-[#D2CFC1] mt-8">
<%= render "trending", applications: @trending %>
<hr class="mt-12 text-[#D2CFC1]">
<%= render "stats" %>
