- content_for :page_title, "Frequently asked questions"
%h3= yield :page_title
%dl.faq
  = render "static/faqs/what_does_it_do"
  = render "static/faqs/where_does_data_come_from"
  = render "static/faqs/what_is_a_planning_authority"
  = render "static/faqs/how_to_stop_alerts"
  = render "static/faqs/coverage"
  = render "static/faqs/broken_scraper"
  = render "static/faqs/can_i_help"
  = render "static/faqs/can_i_copy_data"
  = render "static/faqs/license"
  = render "static/faqs/link_not_direct"
  = render "static/faqs/disclosure"
  = render "static/faqs/address"
