= render "shared/analytics"
- if @set_focus_control
  :javascript
    document.getElementById('#{@set_focus_control}').focus();
- if with_maps_scripts
  %script(src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&region=au" type="text/javascript")
= javascript_include_tag "application"
= vanity_js
