- if alerts.empty?
  %p You do not have any alerts.
- else
  %ul.email-alert-list
    - alerts.each do |alert|
      -# TODO: Show an error of some sort if the last delivery was not successful
      %li.email-alert
        = google_static_map_lat_lng(alert.lat, alert.lng, zoom: 12, size: "300x300")
        .email-alert-main
          %h4
            Within
            = link_to meters_in_words(alert.radius_meters.to_f), edit_profile_alert_path(alert)
            of
            = alert.address
          .last-sent
            - if alert.last_sent
              Last sent
              = time_ago_in_words(alert.last_sent)
              ago
            - else
              Not yet sent
          .unsubscribe= button_to "Unsubscribe", [:profile, alert], method: :delete, data: { confirm: "Are you sure you want to unsubscribe for email alerts for #{alert.address}?" }, class: "button button-action"
