%h2 Your active alerts
%dl

%table
  %thead
    %th Address
    %th Radius
    %th Last sent
  %tbody
  - @alerts.each do |alert|
    -# TODO: Show an error of some sort if the last delivery was not successful
    %tr
      %td= alert.address
      %td
        = meters_in_words(alert.radius_meters.to_f)
        = link_to "Change", edit_users_alert_path(alert)
      %td
        - if alert.last_sent
          = time_ago_in_words(alert.last_sent)
        - else
          Not yet sent
      %td
        = button_to "Unsubscribe", [:users, alert], method: :delete, class: "button button-action"

= link_to "Create new alert", new_alert_path(email: current_user.email)
