%h2 Your active alerts
%dl

%table
  %thead
    %th Address
    %th Radius
    %th Last delivered
    %th Last delivered successfully
  %tbody
  - @alerts.each do |alert|
    %tr
      %td= alert.address
      %td
        = meters_in_words(alert.radius_meters.to_f)
        = link_to "Change", edit_users_alert_path(alert)
      %td= alert.last_sent
      %td
        - if alert.last_delivered_at
          = time_ago_in_words(alert.last_delivered_at)
          ago
      %td= alert.last_delivered_successfully
      %td
        = button_to "Unsubscribe", [:users, alert], method: :delete, class: "button button-action"

= link_to "Create new alert", new_alert_path(email: current_user.email)
