%li
  %table
    %tbody
      %tr
        %th Address:
        %td= application_version.address
      %tr
        %th Description:
        %td= application_version.description
      %tr
        %th Info url:
        %td= application_version.info_url
      %tr
        %th Date received:
        %td= application_version.date_received
      %tr
        %th On notice from:
        %td= application_version.on_notice_from
      %tr
        %th On notice to:
        %td= application_version.on_notice_to
      %tr
        %th Lat:
        %td= application_version.lat
      %tr
        %th Lng:
        %td= application_version.lng
      %tr
        %th Suburb:
        %td= application_version.suburb
      %tr
        %th State:
        %td= application_version.state
      %tr
        %th Postcode:
        %td= application_version.postcode
      %tr
        %th Date scraped:
        %td= application_version.date_scraped
