<nav>
  <button data-collapse-toggle="navbar-default" type="button" class="inline-flex py-2 pr-2 text-sm text-white rounded-lg md:hidden focus:outline-none" aria-controls="navbar-default" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <svg class="w-7 h-7" aria-hidden="true" fill="currentColor" viewBox="3 3 15 15" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
  </button>
  <div class="hidden w-full md:block md:w-auto" id="navbar-default">
    <ul class="flex items-start space-x-2 text-lg font-medium text-white">
      <%= render NavItemComponent.new(text: "Home", url: root_path, selected: true) %>
      <%= render NavItemComponent.new(text: "Applications", url: "#") %>
      <%= render NavItemComponent.new(text: "FAQ", url: faq_path) %>
      <%= render NavItemComponent.new(text: "About", url: about_path) %>
      <% if current_user %>
        <%= render NavItemComponent.new(text: current_user.name_with_fallback, url: profile_path) %>
      <% else %>
        <%= render NavItemComponent.new(text: "Sign In", url: new_user_session_path) %>
      <% end %>
    </ul>
  </div>
</nav>
