<% content_for :page_title, "About" %>

<h1 class="mb-8 text-4xl font-bold text-navy font-display">
  About Planning Alerts
</h1>

<p class="mt-6 text-2xl text-navy">
  You'd probably know if your next door neighbour was going to knock their house down (you'd get a letter through
  the door telling you they had applied for planning permission and asking you what you thought about it). But you'd
  probably never find out if the old cinema or pub 5 streets away is going to be converted into luxury flats until
  the bulldozers turned up.
</p>

<p class="mt-6 text-2xl text-navy">
  Planning Alerts is a free service which searches as many planning authority websites as it can find and emails
  you details of applications near you. The aim of this to enable shared scrutiny of what is being built (and
  <%= pa_link_to "knocked down", "http://www.flickr.com/photos/kentjohnson/3634555801/", title: "Carlton and United Brewery Site, Broadway Sydney" %>)
  in peoples' communities.
</p>

<p class="mt-6 text-2xl text-navy">
  Planning Alerts is brought to you by the charity the
  <%= pa_link_to "OpenAustralia Foundation", "https://www.oaf.org.au/" %>.
  It was created by Matthew Landauer and Katherine Szuminska.
</p>

<section id="contributors" class="pt-8">
  <h2 class="mb-6 text-2xl font-bold text-navy font-display">Contributors</h2>
  <div class="flex flex-col items-start gap-8 lg:flex-row-reverse">
    <%= image_tag "tailwind/illustration/about.svg", class: "lg:pt-16", alt: "" %>
    <div>
      <p class="text-2xl text-navy">Thanks goes to these wonderful people:</p>
      <ul class="mt-8 text-2xl columns-2">
        <% contributors.each do |contributor| %>
        <li>
          <%= pa_link_to contributor[:name], contributor_profile_url(contributor) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <p class="mt-16 text-2xl text-navy">If you <%= pa_link_to "contribute", get_involved_path %> to the project you will get to be on this list.</p>
</section>

<div class="flex gap-8 py-12 mt-8 border-y border-light-grey2">
  <%= image_tag "tailwind/google_maps.png", size: 64 %>
  <p class="max-w-3xl text-2xl text-navy">
    Planning Alerts uses Google Maps services with support of a
    <%= pa_link_to "Google Earth Outreach Grant", "https://www.google.com/earth/outreach/index.html" %>.
  </p>
</div>

<p class="mt-8 text-2xl text-navy">
  You are using version
  <%= pa_link_to APP_VERSION, "https://github.com/openaustralia/planningalerts/commit/#{APP_VERSION}" %>
  of PlanningAlerts.
</p>
