<% content_for :page_title, "Contact us" %>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  <%= yield :page_title %>
<% end %>

<section class="mt-12">
  <%= render Tailwind::Heading.new(tag: :h2).with_content("Contact a planning authority") %>

  <p class="mt-4 text-xl text-navy">
    Are you trying to get in touch with your local council or state planning authority?
    In that case please contact them directly.
    Unfortunately we can't help you with all that official stuff because Planning Alerts is completely independent from Government.
    Planning Alerts is a free service, built and maintained by a tiny charity,
    <%= pa_link_to "the OpenAustralia Foundation", "https://www.oaf.org.au/" %>.
  </p>

  <p class="mt-6 text-xl text-navy">
    To find the contact details for your council or state planning authority the best way is to find their official website and look there.
    Good luck!
  </p>
</section>

<section class="mt-16">
  <%= render Tailwind::Heading.new(tag: :h2).with_content("Contact the Planning Alerts team") %>
  <div class="flex items-start gap-16 mb-8">
    <div>
      <p class="mt-4 text-xl text-navy">
        Did we mention that we're a tiny team and not the government?
        We do our best to respond to everyone but sometimes things slip through the cracks.
      </p>
      <p class="mt-6 text-xl text-navy">
        To help us better help you, please describe your issue with as much detail as possible and add links!
      </p>
    </div>
    <%= image_tag "tailwind/illustration/contact-us.svg", class: "hidden md:block" %>
  </div>
  <%= render "contact_messages/form", contact_message: @contact_message %>
</section>
