<% content_for :page_title, "Help" %>
<%# TODO: Extract header into a component %>
<h1 class="mb-16 text-4xl font-bold text-navy font-display"><%= yield :page_title %></h1>

<div class="flex items-start justify-between">
  <dl class="max-w-2xl text-2xl text-navy">
    <%= render "documentation/faqs/what_does_it_do" %>
    <%= render "documentation/faqs/where_does_data_come_from" %>
    <%= render "documentation/faqs/what_is_a_planning_authority" %>
    <%= render "documentation/faqs/how_to_stop_alerts" %>
    <%= render "documentation/faqs/coverage" %>
    <%= render "documentation/faqs/broken_scraper" %>
    <%= render "documentation/faqs/can_i_help" %>
    <%= render "documentation/faqs/can_i_copy_data" %>
    <%= render "documentation/faqs/link_not_direct" %>
    <%= render "documentation/faqs/disclosure" %>
    <%= render "documentation/faqs/address" %>
  </dl>
  <%= image_tag "tailwind/illustration/help.svg" %>
</div>
