- content_for :page_title, 'Back PlanningAlerts'

- if flash[:error]
  .notice.donations-notice
    .container
      %p= flash[:error]
.donations-hero-image
  .donations-page
    .container.main
      #content
        %div.donations-intro
          %h1.page-title
            You should be informed and have your say on changes to&nbsp;your local&nbsp;area.
          %p
            PlanningAlerts exists as a free, independent project
            because people like you back it with a small monthly&nbsp;donation.
        = render 'form', email: @email, price: @price
.donations-this-week
  .container
    %h2 Because of backers like you, here’s our week on PlanningAlerts
    - cache 'donations_new_thisweek_stats', :expires_in => 1.hour do
      %ul
        %li
          %p
            %span.number= number_with_delimiter(EmailBatch.total_sent_in_past_week)
            emails sent to subscribers
        %li
          %p
            - # FIXME: This stat would be better as the number of people
            %span.number= number_with_delimiter(Alert.active.in_past_week.count)
            new alerts registered
        %li
          %p
            %span.number= number_with_delimiter(Comment.visible.in_past_week.count)
            new comments on applications
    %h2.quote
      Thank you to all our backers and amazing volunteer contributors who make this all possible
      %span— Henare, Kat and Luke from the OpenAustralia Foundation
  %figure
    = image_tag path_to_image("2016-04-23_planningalerts_frontyard_compressed.jpg"), alt: "Photograph of the OpenAustralia Foundation team with volunteers standing together pointing at an example development application being redesigned."
    %figcaption
      %p.container
        Volunteer contributors working with the OpenAustralia Foundation team
        to make PlanningAlerts available in more parts of Australia and reimagine how planning notices work
        at our April 2016 Hackfest at Frontyard in Marrickville, Sydney.
        = link_to "Photo by Lisa Cross", "http://www.lisa-cross.com/"
