<div class="flex <%= @alignment_class %> <%= @padding_class %> text-2xl font-bold text-white rounded-lg <%= @bg_class %>">
  <%= image_tag @image_src, class: "mr-5", alt: @image_alt %>
  <div><%= content %></div>
</div>
