<div class="flex gap-5 <%= @alignment_class %> <%= @padding_class %> text-2xl font-bold text-white rounded-lg <%= @bg_class %>">
  <div class="<%= @icon_class %>">
    <%= render Tailwind::Icon.new(name: @icon_name) %>
  </div>
  <div><%= content %></div>
</div>
