<% if @tag == :a %>
  <%= link_to @href, class: (@classes + %w[inline-block]) do %>
    <div class="flex items-baseline justify-center gap-4">
      <% if @icon_path %><%= image_tag @icon_path, alt: @icon_alt %><% end %>
      <div><%= content %></div>
    </div>
  <% end %>
<% elsif @tag == :button %>
  <%= button_tag name: nil, class: @classes do %>
  <div class="flex items-baseline justify-center gap-4">
    <% if @icon_path %><%= image_tag @icon_path, alt: @icon_alt %><% end %>
    <div><%= content %></div>
  </div>
  <% end %>
<% end %>
