<%# extra classes are at the end so they can't override %>
<div class="flex flex-col items-center max-w-2xl m-auto text-center gap-8 <%= @extra_classes %>">
  <%= render Tailwind::Heading.new(tag: :h1) do %>
    <%= heading %>
  <% end %>
  <div class="flex flex-col-reverse items-center gap-8 sm:flex-col">
    <div class="w-[300px] mt-8 sm:w-[425px] sm:mt-0">
      <%= image %>
    </div>
    <div class="flex flex-col items-center">
      <%= content %>
    </div>
  </div>
</div>
