<div class="<%= class_names("flex flex-col justify-between gap-8 px-12 py-8 my-10 md:flex-row bg-light-grey", grayscale: disabled, "opacity-50" => disabled) %>">
  <div class="text-xl text-navy">
    <%= render HeadingComponent.new(tag: :h4).with_content("Get an instant access trial key") %>
    <p class="mt-4">
      Build, test and explore with live data capped at
      <%= ApiKey.default_daily_limit_trial %> calls per day for
      <%= pluralize(ApiKey.default_trial_duration_days, "day") %>.
    </p>
    <div class="mt-8 mb-4">
      <%= render ButtonComponent.new(disabled:, tag: :a, size: "xl", type: :primary, href: confirm_api_keys_path).with_content("Create API key") %>
    </div>
  </div>
  <%= image_tag "illustration/key.svg", alt: "", size: "177x116" %>
</div>
