<%# TODO: Is this the correct title? %>
<% content_for :page_title, "Create API key" %>

<%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-12").with_content(yield(:page_title)) %>

<%# TODO: Extract component for grey box %>
<div class="p-14 bg-light-grey">
  <%# TODO: Probably don't actually want to use the word dickhead! ;-) %>
  <%# TODO: Update the wording for all of this about it being a trial, etc.. %>
  <p class="text-2xl font-bold text-navy">
    We trust you. Don’t abuse that trust.
  </p>

  <div class="mt-8 mb-12">
    <%= render BulletListComponent.new(space: 6) do |c| %>
      <%= c.with_item do %>
        Only use this time-limited API key for evaluation, testing and development purposes
      <% end %>
      <%= c.with_item do %>
        Do NOT use this for bulk collection of data. e.g. Trying to collect every single historical application for an area.
      <% end %>
      <%= c.with_item do %>
        Do NOT store and use the resulting data in any way that is not strictly about evaluation, testing or development.
      <% end %>
      <%= c.with_item do %>
        To use the API in production you will need to <%= pa_link_to "join a plan", api_howto_path(anchor: "plans") %>.
      <% end %>
    <% end %>
  </div>

  <%= pa_button_to "Agree and continue", api_keys_path, method: :post %>

  <p class="mt-6 text-xl text-navy">
    <%= pa_link_to "Don't agree, go back", :back %>
  </p>
</div>
