<% content_for :page_title, "Your API keys" %>

<%= render HeadingComponent.new(tag: :h2).with_content(yield(:page_title)) %>

<div class="pt-10 text-xl pb-14 text-navy">
  <p>
    Planning application data is available programmatically.
  </p>
  <p class="pt-4">
    <%# TODO: Not sure about the use of NGOs here - acronyms not good without explanation but also why not charities or not-for-profits instead? %>
    Planning Alerts Application Programming Interface (API) serves community groups, businesses, NGOs, and civic-minded individuals
    by providing access to trusted planning and development application data sourced from planning authorities around Australia.
  </p>
</div>

<%# TODO: Sort them into a sensible order %>
<%= render @api_keys %>

<%# It would be better to show links to the developer documentation very near to the active key %>
<% unless @api_keys.empty? %>
  <p class="text-xl text-navy">
    Check out the <%= pa_link_to "API Developer Documentation", api_developer_path %>
  </p>
<% end %>

<% if @api_keys.empty? %>
  <%= render "create_key_box" %>
<% end %>

<%# Don't show the ongoing access box if they have an active license that doesn't expire %>
<% unless @api_keys.find(&:active?) && @api_keys.find(&:active?).expires_at.nil? %>
  <%= render "ongoing_access_box" %>
<% end %>
