<% content_for :page_title, "Your API keys" %>

<%= render HeadingComponent.new(tag: :h2).with_content(yield(:page_title)) %>

<div class="pt-10 text-xl pb-14 text-navy">
  <p>
    Planning application data is available programmatically.
  </p>
  <p class="pt-4">
    <%# TODO: Not sure about the use of NGOs here - acronyms not good without explanation but also why not charities or not-for-profits instead? %>
    Planning Alerts Application Programming Interface (API) serves community groups, businesses, NGOs, and civic-minded individuals
    by providing access to trusted planning and development application data sourced from planning authorities around Australia.
  </p>
</div>

<div class="divide-y divide-light-grey">
  <%# TODO: Only display this section if we have active keys? %>
  <section class="pt-10 pb-14">
    <%# TODO: Seems a bit weird having an "active keys" heading if there's no inactive keys heading. Hmmm.... %>
    <%= render HeadingComponent.new(tag: :h3, extra_classes: "mb-4").with_content("Active keys") %>

    <%# TODO: How should this look if there is more than one active key? %>
    <%# TODO: Add a sensible sort order %>
    <% if @api_keys.select(&:active?).empty? %>
      <% if @api_keys.empty? %>
        <div class="flex flex-col justify-between gap-8 px-12 py-8 my-10 md:flex-row bg-light-grey">
          <div class="text-xl text-navy">
            <%= render HeadingComponent.new(tag: :h4).with_content("Get a key") %>
            <p class="mt-4">
              Build, test and explore with live data capped at <%= ApiKey.default_daily_limit %> calls per day.
            </p>
            <div class="mt-8 mb-4">
              <%= render ButtonComponent.new(tag: :a, size: "xl", type: :primary, href: confirm_api_keys_path).with_content("Create API key") %>
            </div>
          </div>
          <%= image_tag "illustration/key.svg", alt: "", size: "177x116" %>
        </div>
      <% else %>
        <%# If a user already has a key (which is now inactive) don't allow them to create another %>
        <p class="mb-4 text-xl text-navy">No active keys</p>
      <% end %>
    <% else %>
      <%= render @api_keys.select(&:active?) %>
    <% end %>
    <p class="text-xl text-navy">
      <%# TODO: Link to actual place %>
      Check out the <%= pa_link_to "API Developer Documentation", api_howto_path %>
    </p>

    <p class="text-xl text-navy">
      <%# TODO: Link to actual place %>
      Remind yourself of our <%= pa_link_to "API code of conduct", api_howto_path(anchor: "be_nice") %>
    </p>
  </section>

  <% unless @api_keys.reject(&:active?).empty? %>
    <section class="pt-10 text-xl pb-14 text-navy">
      <%= render HeadingComponent.new(tag: :h3, extra_classes: "mb-4").with_content("Inactive keys") %>
      <%= render @api_keys.reject(&:active?) %>
    </section>
  <% end %>

  <section class="pt-16 text-xl text-navy">
    <%# TODO: Add a real link here %>
    <%# TODO: Under what circumstances do we say "for continued access"? %>
<%
=begin
%>
    <p class="pb-4">
      For continued access explore our ongoing plans <%= pa_link_to "here", "#" %>
    </p>
<%
=end
%>
    <%= image_tag "illustration/dog.svg", alt: "" %>
</section>
</div>
