.comment.module
  %h2.comment-location.panel-body
    On
    = link_to application_url_with_tracking(id: comment.application.id),
              title: "View application",
              class: "comment-application" do
      #{display_description_with_address(comment.application)}:
  .panel-body
    %p.comment-meta
      %span
        %span.comment-author= comment.name
        commented
    = comment_as_html(truncate(comment.text, length: 700))
    = link_to "View comment on PlanningAlerts", comment_url_with_tracking(comment:), class: "action-link"
