.reply-from-councillor.comment.module
  %h2.comment-location.panel-body
    On
    = link_to application_url_with_tracking(id: reply.comment.application.id),
              title: "View application",
              class: "comment-application" do
      #{display_description_with_address(reply.comment.application)}:
  .panel-body
    %p.comment-meta
      %span
        %span.comment-author= capitalise_initial_character(reply.councillor.prefixed_name)
        replied to
        %span.comment-recipient
          %span.p-name= reply.comment.name
    = our_sanitize(ApplicationController.helpers.simple_format(truncate(reply.text, length: 700)))
    = link_to "View reply on PlanningAlerts", reply_url_with_tracking(reply: reply)
