!!! 5
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    -# rubocop:disable Rails/OutputSafety
    %style= assets_manifest.find_sources("email.css").first.to_s.html_safe
    -# rubocop:enable Rails/OutputSafety

  %body
    = render "header"
    = render "eofy_fundraiser"
    - if @alert.user.requires_activation?
      = render "activate_account_call_to_action", alert: @alert
    - unless @comments.empty?
      = render "comments", comments: @comments, alert: @alert
    - unless @applications.empty?
      = render "applications", alert: @alert, applications: @applications
    -# = render "donation_banner"
    .footer-outer
      .footer-inner
        = render "footer_main"
        = render "footer_actions", alert: @alert
