= semantic_form_for alert do |f|
  = f.inputs do
    = f.input :address, label: "Enter a street address", placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580", input_html: { required: "required" }
    = f.input :email, label: "Enter your email address", placeholder: "your@email.com", input_html: { required: "required" }
  = f.actions do
    = f.action :submit, label: "Create alert", button_html: { class: "button button-rounded button-large button-action" }
