<p>What size area near #{@alert.address} would you like to receive alerts for?</p>

= @map.div(:width => 400, :height => 400)
= @map.to_html

- form_tag do
  %ul.nobullets
    %li
      = radio_button_tag(:size, "s", @size == "s")
      = label_tag(:size_s, "My street (about #{meters_in_words(@zone_sizes['s'])})")
      %small= link_to "view on a map (new window)", open_preview_window('s')
    %li
      = radio_button_tag(:size, "m", @size == "m")
      = label_tag(:size_m, "My neighbourhood (about #{meters_in_words(@zone_sizes['m'])})")
      %small= link_to "view on a map (new window)", open_preview_window('m')
    %li
      = radio_button_tag(:size, "l", @size == "l")
      = label_tag(:size_l, "My suburb (about #{meters_in_words(@zone_sizes['l'])})")
      %small= link_to "view on a map (new window)", open_preview_window('l')
    %noscript
      %li
        Note: viewing the alert area on a map requires javascript
    
  %p
    = submit_tag("Update size >>", :class => "button")
    
%script{:type => 'text/javascript'}
  function preview(lower_left_lat, lower_left_lng, upper_right_lat, upper_right_lng) {
  map.removeAllPolylines();
  var myPoly = new Polyline([
  new LatLonPoint(lower_left_lat, lower_left_lng),
  new LatLonPoint(lower_left_lat, upper_right_lng),
  new LatLonPoint(upper_right_lat, upper_right_lng),
  new LatLonPoint(upper_right_lat, lower_left_lng),
  new LatLonPoint(lower_left_lat, lower_left_lng)
  ]);
  myPoly.setWidth(5);
  myPoly.setOpacity(0.7);
  myPoly.setColor("#EF2C2C");
  map.addPolyline(myPoly);
  };
