- if flash[:notice]
  %div#warning= flash[:notice]

<h3>Change the size area around 24 Bruce Rd, Glenbrook you would like to receive alerts for</h3>

- form_tag do
  %ul.nobullets
    %li
      = radio_button_tag(:size, "s", @size == "s")
      = label_tag(:size_s, "My street (about #{meters_in_words(@zone_sizes['s'])})")
      %small= link_to "view on a map (new window)", "javascript:previewMap('#{@zone_sizes['s']}');"
    %li
      = radio_button_tag(:size, "m", @size == "m")
      = label_tag(:size_m, "My neighbourhood (about #{meters_in_words(@zone_sizes['m'])})")
      %small= link_to "view on a map (new window)", "javascript:previewMap('#{@zone_sizes['m']}');"
    %li
      = radio_button_tag(:size, "l", @size == "l")
      = label_tag(:size_l, "My suburb (about #{meters_in_words(@zone_sizes['l'])})")
      %small= link_to "view on a map (new window)", "javascript:previewMap('#{@zone_sizes['l']}');"
  = submit_tag("Update alert size >>", :class => "button")
