- if @alert && @alert.errors
  #warning
    = @alert.errors.full_messages.join("<br>")
- form_for :alert, @alert do |f|
  %ul#ulSignup.form.nobullets
    %li#liEmail
      = f.label(:email, '<span class="number">1</span> Enter your email address')
      = text_field_tag 'alert[email]', (@alert.email if @alert), :type => 'email', :class => (@alert && @alert.errors.on(:email) ? "textbox error" : "textbox")
    %li#liAddress
      = f.label(:address, '<span class="number">2</span> Enter a street address')
      = f.text_field(:address, :class => (@alert && @alert.errors.on(:address) ? "textbox error" : "textbox"))
      %small e.g. 1 Sowerby St, Goulburn, NSW 2580
    = submit_tag "Create alert >>", :class => "button"
    %p#privacy
      Our
      %em Privacy Policy
      is very simple: We will not sell or distribute any personal information
      you share with us - at all, ever.
    %p#spnBeta
      It's early days for this service so your local authority may not be included yet. Sign up
      anyway and you'll receive alerts as soon as they're available.
