<%# TODO: Obviously need to make this look like the designs %>
<%= render HeadingComponent.new(tag: :h1).with_content("Sign in to save") %>

<p>
  You'll receive email alerts when new applications match this search
</p>

<%# TODO: Send this to the correct place %>
<%= form_with model: User, url: new_user_registration_path, method: "get" do |f| %>
  <%= f.hidden_field :address, value: @alert.address %>
  <%= f.hidden_field :radius_meters, value: @alert.radius_meters %>
  <%= f.button "Create an account" %>
<% end %>

<%= form_with model: User, url: new_alerts_user_session_path, method: "get" do |f| %>
  <%= f.hidden_field :address, value: @alert.address %>
  <%= f.hidden_field :radius_meters, value: @alert.radius_meters %>
  <%= f.button "Sign in" %>
<% end %>
