%ul
  %li number confirmed alerts / total alerts: #{@no_confirmed_alerts} / #{@no_alerts}
  %li number alerts in active areas / total alerts: #{@no_alerts_in_active_areas} / #{@no_alerts}
%p
  Below is a list of all the areas (local authorities) where people have signed up for alerts but have not yet received any planning applications because a scraper
  has not yet been written for the authority. Basically, it's a list of scrapers to write with the important ones at the top.
%table
  %tr
    %th Local Government Authority
    %th Number of alerts
  - @freq.each do |lga_code, count|
    %tr
      %td= lga_code
      %td= count
