<% content_for :page_title, "Unsubscribed" %>

<%= render CentreBlockWithImageComponent.new(extra_classes: "mt-16") do |c| %>
  <% c.with_heading.with_content("Done!") %>
  <% c.with_image do %>
    <%= image_tag "tailwind/illustration/goodbye.svg", alt: "Illustration of someone waving goodbye" %>
  <% end %>
  <div class="text-xl text-navy">
    <p>
      <% if @alert %>
        You will no longer receive alerts for:
        <span class="block"><%= @alert.address %></span>
      <% else %>
        You will no longer receive alerts.
      <% end %>
    </p>
    <p class="mt-4">
      Changed your mind? <%= pa_link_to "Resubscribe", new_profile_alert_path(address: @alert&.address) %>
    </p>
    <p class="mt-4">
      <%= pa_link_to "Go to home", root_path %>
    </p>
  </div>
<% end %>
