= semantic_form_for alert do |f|
  = render "alerts/signup_introduction" if with_intro
  = f.inputs do
    - if address_hidden
      = f.input :address, as: :hidden
    - else
      = f.input :address, label: "Enter a street address",
                          placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580",
                          input_html: { class: "address-autocomplete-input", autofocus: true }
    - if current_user.nil?
      = f.semantic_fields_for :user do |user|
        = user.input :email, label: "Enter your email address",
                             placeholder: "your@email.com"
  = f.actions do
    = f.action :submit, label: "Create alert",
                        button_html: { class: "button button-rounded button-large button-action" }
