- content_for :page_title, "Change the size of your alert"
%h3= yield :page_title

#map_div

.map-settings
  %p What size area near #{@alert.address} would you like to receive alerts for?

  = form_tag alert_path(confirm_id: @alert.confirm_id), method: :put do
    %ul.sizes
      - @zone_sizes.each_key do |size|
        %li
          = radio_button_tag(:radius_meters, @zone_sizes[size], @zone_sizes[size] == @alert.radius_meters)
          = label_tag("radius_meters_#{@zone_sizes[size]}", size_option_sentence(@zone_sizes[size]))
      %noscript
        %li
          Note: viewing the alert area on a map requires javascript

    %p= submit_tag("Update size", class: "button button-action button-rounded")

= javascript_include_tag "maps"
:javascript
  var map;
  $(document).ready(function(){
    map = new mxn.Mapstraction("map_div","googlev3");
    centre = new mxn.LatLonPoint(#{@alert.lat},#{@alert.lng});
    map.setCenterAndZoom(centre,13);
    map.addSmallControls();
    map.addMapTypeControls();
    marker = new mxn.Marker(centre)
    marker.setLabel("#{escape_javascript(@alert.address)}");
    map.addMarker(marker);
    #{draw_box_javascript(@size, @alert, @zone_sizes)}
    $('#radius_meters_#{@zone_sizes["s"]}').click(function(){ #{draw_box_javascript("s", @alert, @zone_sizes)} });
    $('#radius_meters_#{@zone_sizes["m"]}').click(function(){ #{draw_box_javascript("m", @alert, @zone_sizes)} });
    $('#radius_meters_#{@zone_sizes["l"]}').click(function(){ #{draw_box_javascript("l", @alert, @zone_sizes)} });
  });
