- content_for :page_title, "Change the size of your alert"
%h3= yield :page_title

#map_div

.map-settings
  %p What size area near #{@alert.address} would you like to receive alerts for?

  = form_tag do
    %ul.sizes
      %li
        = radio_button_tag(:size, "s", @size == "s")
        = label_tag(:size_s, "My street (within #{meters_in_words(@zone_sizes['s'].to_f)})")
      %li
        = radio_button_tag(:size, "m", @size == "m")
        = label_tag(:size_m, "My neighbourhood (within #{meters_in_words(@zone_sizes['m'].to_f)})")
      %li
        = radio_button_tag(:size, "l", @size == "l")
        = label_tag(:size_l, "My suburb (within #{meters_in_words(@zone_sizes['l'].to_f)})")
      %noscript
        %li
          Note: viewing the alert area on a map requires javascript

    %p= submit_tag("Update size", class: "button button-action button-rounded")

= javascript_include_tag "maps"
:javascript
  var map;
  $(document).ready(function(){
    map = new mxn.Mapstraction("map_div","googlev3");
    centre = new mxn.LatLonPoint(#{@alert.lat},#{@alert.lng});
    map.setCenterAndZoom(centre,13);
    map.addSmallControls();
    map.addMapTypeControls();
    marker = new mxn.Marker(centre)
    marker.setLabel("#{escape_javascript(@alert.address)}");
    map.addMarker(marker);
    #{draw_box_javascript(@size, @alert, @zone_sizes)}
    $('#size_s').click(function(){ #{draw_box_javascript("s", @alert, @zone_sizes)} });
    $('#size_m').click(function(){ #{draw_box_javascript("m", @alert, @zone_sizes)} });
    $('#size_l').click(function(){ #{draw_box_javascript("l", @alert, @zone_sizes)} });
  });
