- content_for :page_title, "About"
%h3 About PlanningAlerts
%p
  You'd probably know if your next door neighbour was going to knock their house down (you'd get a letter through
  the door telling you they had applied for planning permission and asking you what you thought about it). But you'd
  probably never find out if the old cinema or pub 5 streets away is going to be converted into luxury flats until
  <a href="http://www.youtube.com/watch?v=srGsCYSYjwA">the bulldozers turned up</a>.
%p
  PlanningAlerts.org.au is a free service which searches as many planning authority websites as it can find and emails
  you details of applications near you. The aim of this to enable shared scrutiny of what is being built (and
  <a href="http://www.flickr.com/photos/kentjohnson/3634555801/" title="Carlton and United Brewery Site, Broadway Sydney">knocked down</a>)
  in peoples' communities.
%p
  PlanningAlerts.org.au is brought to you by the charity the
  <a href="http://www.openaustraliafoundation.org.au">OpenAustralia Foundation</a>. The initial prototype was developed
  with financial assistance from the Australian
  <a href="http://gov2.net.au/blog/2009/09/22/allocating-the-project-fund-we-want-your-ideas/#comment-4672">Government 2.0 Taskforce</a>.
  It was adapted for Australia by Matthew Landauer and Katherine Szuminska, and is based on the UK site
  <a href="http://www.planningalerts.com">PlanningAlerts.com</a>, built by Richard Pope, Mikel Maron, Sam Smith,
  Duncan Parkes, Tom Hughes and Andy Armstrong.
%p
  PlanningAlerts.org.au keeps getting better thanks to the contributions from the volunteers:
%ul.contributors
  %li
    = image_tag("http://www.gravatar.com/avatar/dd6c985d22e3bf6ea849e8d2e6750d76?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Roger Barnes")
    Roger Barnes
  %li
    = image_tag("http://www.gravatar.com/avatar/64afebb884d0f21f860076f4b8a92f50?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Sam Cavenagh")
    Sam Cavenagh
  %li
    = image_tag("http://www.gravatar.com/avatar/b30d37e67e4c4584a71d977763651513?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Henare Degan")
    Henare Degan
  %li
    = image_tag("http://www.gravatar.com/avatar/7289b45ea6e9ac313bd4c34d7f4e461b?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Nick Evershed")
    Nick Evershed
  %li
    = image_tag("http://www.gravatar.com/avatar/7284ad488e18a2b052a9c7b8fe1e3922?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Andrew Harvey")
    Andrew Harvey
  %li
    = image_tag("http://www.gravatar.com/avatar/1aac9f1adece54cc394b8cf6d8c84a1a?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Mark Kinkade")
    Mark Kinkade
  %li
    = image_tag("http://www.gravatar.com/avatar/5a600494d91ea4223e7256989155f687?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Matthew Landauer")
    Matthew Landauer
  %li
    = image_tag("http://www.gravatar.com/avatar/fab3189512311073ccf49928112c98fa?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Adrian Miller")
    Adrian Miller
  %li
    = image_tag("http://www.gravatar.com/avatar/00477410c5069d49fad6eedaea32fd61?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Peter Neish")
    Peter Neish
  %li
    = image_tag("http://www.gravatar.com/avatar/353d83d3677b142520987e1936fd093c?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Daniel O'Connor")
    Daniel O'Connor
  %li
    = image_tag("http://www.gravatar.com/avatar/06a0058c9d6dc0eac55c3311a99beeda?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for James Polley")
    James Polley
  %li
    = image_tag("http://www.gravatar.com/avatar/d330c3271cdd9aab9e9e5c360235b6dc?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Kris Splittgerber")
    Kris Splittgerber
  %li
    = image_tag("http://www.gravatar.com/avatar/f1b38bb55fedf270d3cd7c049176c09e?s=32&d=identicon&r=g", :size => "32x32", :alt => "Avatar for Adam Stiskala")
    Adam Stiskala
%p
  If you #{link_to "contribute", get_involved_path} to the project you will get to be on this list.

%h4#contact
  Contact
%p
  You can get in touch at
  = mail_to "contact@planningalerts.org.au"
