- content_for :page_title, "About"

%h3 About PlanningAlerts
%p
  You'd probably know if your next door neighbour was going to knock their house down (you'd get a letter through
  the door telling you they had applied for planning permission and asking you what you thought about it). But you'd
  probably never find out if the old cinema or pub 5 streets away is going to be converted into luxury flats until&nbsp;
  %a(href="http://www.youtube.com/watch?v=srGsCYSYjwA")> the bulldozers turned up
  \.
%p
  PlanningAlerts is a free service which searches as many planning authority websites as it can find and emails
  you details of applications near you. The aim of this to enable shared scrutiny of what is being built (and&nbsp;
  %a(href="http://www.flickr.com/photos/kentjohnson/3634555801/" title="Carlton and United Brewery Site, Broadway Sydney")> knocked down
  )
  in peoples' communities.
%p
  PlanningAlerts is brought to you by the charity the&nbsp;
  %a(href="http://www.openaustraliafoundation.org.au")> OpenAustralia Foundation
  \.
  It was adapted for Australia by Matthew Landauer and Katherine Szuminska, and is based on the UK site&nbsp;
  %a(href="http://www.planningalerts.com")> PlanningAlerts.com
  , built by Richard Pope, Mikel Maron, Sam Smith,
  Duncan Parkes, Tom Hughes and Andy Armstrong.
%h4#contributors Contributors
%p PlanningAlerts keeps getting better thanks to the contributions from the volunteers:
%ul.contributors= render :partial => "contributor", :collection => contributors.shuffle
%p
  If you #{link_to "contribute", get_involved_path} to the project you will get to be on this list.

%p
  = link_to "Menu", "http://thenounproject.com/term/menu/45517/"
  and
  = link_to "External Link", "http://thenounproject.com/term/external-link/45763/"
  icons designed by
  = link_to "useiconic.com", "https://useiconic.com/"
  from
  #{link_to "the Noun Project", "http://thenounproject.com/"}.

%p
  PlanningAlerts receives free access to use Google Maps services through the
  #{link_to "Google Grants Program", "https://www.google.com/grants/"}.
