- content_for :page_title, "Get involved"
%h3= yield :page_title
%p
  PlanningAlerts is run by the charity <a href="http://www.openaustraliafoundation.org.au">OpenAustralia Foundation</a>,
  and relies on the support of volunteers and <a href="http://www.openaustraliafoundation.org.au/donate/">donations</a> from people
  like you. If you would like to get involved we'd love to hear from you:

%h4
  I am a programmer and want to add my local planning authority
%p
  You can help by writing a <a href="http://en.wikipedia.org/wiki/Screen_scraping">screen scraper</a>
  for your local planning authority, all without leaving your web browser, in any one of your favorite languages: Ruby, Python or PHP.
%p= link_to "Read our step-by-step instructions", how_to_write_a_scraper_path

%h4
  I'm not technical and I want to get my local authority on to PlanningAlerts. What can I do?
%p
  You can lobby your local authority to publish its planning data in a machine readable format. Email the council planning department and General Manager. Contact your councillors and get them to support your mission.
%p
  Here is our #{link_to "quick guide on how to lobby your local authority", how_to_lobby_your_local_authority_path}.

%h4
  I don't have the time or I don't have the skills. How can I help?
%p
  If you value the service provided by PlanningAlerts but simply don't have the time or
  the specialist skills to help out personally then the best thing that you can do is
  to #{link_to "donate to the OpenAustralia Foundation", "http://www.openaustraliafoundation.org.au/donate/"},
  the charity behind PlanningAlerts.
%p
  Your donation will go to improving the service.

%h4
  I work for a local council or planning authority and would like to make our data available
%p
  The most important thing you can do is publish your data in a simple format that is freely available on the internet.
  Something <a href="/brisbane.xml">like this</a> is good but we can work with most formats.

%p
  Please
  = mail_to "contact@planningalerts.org.au", "get in touch"
  if you would like to discuss how you can help.
