= comment_as_html(@comment.text)

%p From #{@comment.name} to #{@comment.councillor.prefixed_name}

%hr

%p #{@comment.name} posted this message to you on PlanningAlerts in response to a local planning application.

%p You can publicly respond by simply replying to this email.

%p
  The planning application is for
  = succeed ":" do
    = link_to @comment.application.address,
              application_url(@comment.application,
                              protocol: "https",
                              utm_source: "councillor-notifications",
                              utm_medium: "email",
                              utm_campaign: "view-application")
  “#{@comment.application.description}”.

%p= link_to "Learn more about the application and see what others have to say at PlanningAlerts.",
            application_url(@comment.application,
                            protocol: "https",
                            utm_source: "councillor-notifications",
                            utm_medium: "email",
                            utm_campaign: "view-application")

%p Best wishes,

%p PlanningAlerts
