#banner-wrapper
  = render "banner"
  = render "maintenance"

#header-wrapper
  .pa-container#header
    #statsbanner
      #stats
        #{number_to_human(Stat.applications_sent).downcase} applications sent across Australia
    %h1= link_to ENV.fetch("EMAIL_FROM_NAME", nil), root_path
    %h2
      Email alerts of planning applications
      %em near you

    .hidden= link_to "Skip navigation", "#content"
    #menu
      = image_tag "standard/menu.png", size: "50x50", class: "toggle hideable", alt: "Toggle menu", data: { target: "#menu ul" }
      %ul.hideable-target
        = menu_item(root_path) do
          Home
        = menu_item(address_applications_path) do
          Search
        = menu_item(faq_path) do
          %abbr{ title: "Frequently asked questions" } FAQ
        = menu_item(authorities_path) do
          Coverage
        = menu_item(get_involved_path) do
          Get Involved
        = menu_item(api_howto_path) do
          Get the Data
        = menu_item(about_path) do
          About
        - if current_user
          = menu_item(profile_path, extra_classes: [:user]) do
            = current_user.name_with_fallback
        - else
          = menu_item(new_user_session_path, extra_classes: [:user]) do
            Sign In
