#banner-wrapper= render "banner"
#header-wrapper
  .pa-container#header
    #statsbanner
      #stats
        #{number_to_human(alert_count).downcase} applications sent across Australia
    %h1= link_to ENV.fetch("EMAIL_FROM_NAME", nil), root_path
    %h2
      Email alerts of planning applications
      %em near you

    .hide= link_to "Skip navigation", "#content"
    #menu
      = image_tag "standard/menu.png", size: "50x50", class: "toggle", alt: "Toggle menu"
      %ul.collapse.hidden
        = li_selected(controller: "/applications", action: "address") do
          = link_to "Search", address_applications_path
        = li_selected(controller: "/alerts", action: %w[new create]) do
          = link_to "Sign Up", new_alert_path
        = li_selected(controller: "/static", action: "faq") do
          = link_to faq_path do
            %abbr{ title: "Frequently asked questions" } FAQ
        = li_selected(controller: "/authorities", action: "index") do
          = link_to "Coverage", authorities_path
        = li_selected(controller: "/static", action: "get_involved") do
          = link_to "Get Involved", get_involved_path
        = li_selected(controller: "/api", action: "howto") do
          = link_to api_howto_path do
            Get the Data
        = li_selected(controller: "/static", action: "about") do
          = link_to "About", about_path
        - if current_user
          %li{ class: ([:user] + (current_page?(profile_path) ? [:selected] : [])) }= link_to current_user.name, profile_path
        - elsif Flipper.enabled?(:force_login_to_comment)
          %li{ class: ([:user] + (current_page?(new_user_session_path) ? [:selected] : [])) }= link_to "Sign In", new_user_session_path
