- content_for :page_title, 'Back PlanningAlerts'

.backer-hero-image
  .backers-page
    .container.main
      #content
        %div.backers-intro
          %h1.page-title
            You should be informed and have your say on changes to&nbsp;your local area.
          %p
            PlanningAlerts exists as a free, independent project
            because people like you back it with a small monthly&nbsp;donation.
        = form_tag backers_create_path, class: 'backers-payment-form', id: "subscription-payment-form" do
          %fieldset.amount-setter
            %label
              %span.amount-setter-label-text Choose your contribution
              %div.amount-setter-container
                %div.amount-setter-input
                  %i &#36;
                  - # TODO: Add more helpful restrictions on input to make this as easy as possible
                  = number_field_tag :amount, 4, pattern: "[0-9]*", placeholder: 0, required: "required", min: 2
                %span Per month
          %p
            -# %button.button-action{type: 'submit'}
            -#   - # Make this dynamic based on the selection
            -#   Donate $4 each month
            = render partial: "stripe_button_backers", locals: {email: @email, price: @price}
          %p.quiet.small
            Donations over $2 are tax deductible.
.backers-this-week
  .container
    %h2 Because of backers like you, here’s our week on PlanningAlerts
    - cache 'stats', :expires_in => 1.hour do
      %ul
        %li
          %p
            - #%span.number= number_with_delimiter(EmailBatch.total_sent_in_past_week)
            %span.number 115,299
            emails sent to subscribers
        %li
          %p
            - # FIXME: This stat is actually alerts signed up, not unique people signed up
            -# %span.number= number_with_delimiter(Alert.active.in_past_week.count)
            %span.number 447
            new people signed up for alerts
        %li
          %p
            -# %span.number= number_with_delimiter(Comment.visible.in_past_week.count)
            %span.number 76
            new comments on applications
    %h2.quote
      Thank you to all our backers and amazing volunteer contributors who make this all possible
      %span— Henare, Kat and Luke from the OpenAustralia Foundation
  %figure
    = image_tag path_to_image("daveb_hackfest_photo.jpg"), alt: "Photograph of people with laptops working on PlanningAlerts together."
    %figcaption
      %p.container
        Volunteer contributors making PlanningAlerts available in more parts of Australia
        at our April 2016 Hackfest at Frontyard in Marrickville, Sydney.
        = link_to "Photo by BIKE Sydney", "https://twitter.com/BIKESydney/status/723686583786852353"
