- content_for :page_title, 'Back PlanningAlerts'

.backer-hero-image
  .backers-page
    .container.main
      #content
        %div.backers-intro
          %h1.page-title
            You should be informed and have your say on changes to&nbsp;your local area.
          %p
            PlanningAlerts exists as a free, independent project
            because people like you back it with a small monthly&nbsp;donation.
        = form_tag subscriptions_path, class: 'backers-payment-form', id: "subscription-payment-form" do
          %fieldset.amount-setter
            %label
              %span.amount-setter-label-text Choose your contribution
              %div.amount-setter-container
                %div.amount-setter-input
                  %i &#36;
                  - # TODO: Add more helpful restrictions on input to make this as easy as possible
                  = number_field_tag :amount, 4, pattern: "[0-9]*", placeholder: 0, required: "required", min: 1
                %span Per month
          %div= render partial: "stripe_button", locals: {email: @email, price: @price}
          %p.quiet.small
            Donations over $2 are tax deductible.
.backers-this-week
  .container
    %h2 Because of backers like you, here’s our week on PlanningAlerts
    - cache 'stats', :expires_in => 1.hour do
      %ul
        %li
          %p
            - #%span.number= number_with_delimiter(EmailBatch.total_sent_in_past_week)
            %span.number 115,299
            emails sent to subscribers
        %li
          %p
            - # FIXME: This stat is actually alerts signed up, not unique people signed up
            -# %span.number= number_with_delimiter(Alert.active.in_past_week.count)
            %span.number 447
            new people signed up for alerts
        %li
          %p
            -# %span.number= number_with_delimiter(Comment.visible.in_past_week.count)
            %span.number 76
            new comments on applications
    %h2.quote
      Thank you to all our backers and amazing volunteer contributors who make this all possible
      %span— Henare, Kat and Luke from the OpenAustralia Foundation
  %figure
    = image_tag path_to_image("2016-04-23_planningalerts_frontyard_compressed.jpg"), alt: "Photograph of the OpenAustralia Foundation team with volunteers standing together pointing at an example development application being redesigned."
    %figcaption
      %p.container
        Volunteer contributors working with the OpenAustralia Foundation team
        to make PlanningAlerts available in more parts of Australia and reimagine how planning notices work
        at our April 2016 Hackfest at Frontyard in Marrickville, Sydney.
        = link_to "Photo by Lisa Cross", "http://www.lisa-cross.com/"
