<%= content_for :page_title, "Planning Alerts API" %>

<%= render HeadingComponent.new(tag: :h1) do %>
  <%= yield :page_title %>
<% end %>

<div class="flex flex-col items-center p-6 mt-12 bg-light-grey">
  <%= image_tag "illustration/data.svg" %>
</div>

<div class="mt-8">
  <%= render ProseComponent.new do %>
    <p>
      Planning application data is available programmatically.
    </p>
    <p>
      Planning Alerts Application Programming Interface (API) serves community groups, businesses, NGOs, and civic-minded individuals by providing access to trusted planning and development application data sourced from planning authorities around Australia.
    </p>
    <p>
      Using the API you can seamlessly integrate Planning Alerts data into your custom application.
    </p>
    <p>
      You can test out the API to see if it works for your needs.
    </p>
    <%# TODO: Not sure we should just yet allow someone to jump to the documentation %>
    <p>
      Go to the
      <%= pa_link_to "API Developer Documentation", api_developer_path %>
      to get started.
    </p>
  <% end %>
</div>

<section class="pt-8 pb-16 mt-12 text-xl border-t text-navy border-t-light-grey2">
  <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-6").with_content("Who uses our API?") %>
  <div class="flex flex-col justify-between gap-8 sm:flex-row">
    <p class="max-w-2xl">
      Lots of people! Real estate developers and agents, construction companies, urban planners and architects,
      local government and municipalities, property management firms, community advocacy groups, environmental and heritage organizations,
      legal firms, conveyancers, utility companies, insurance companies, and tech startups and app developers are interested in this data.
    </p>
    <%= image_tag "illustration/headshots_three_people.svg", alt: "Illustration of headshot of three different people", class: "max-w-64" %>
  </div>
</section>

<div class="grid justify-center grid-cols-3 gap-4 py-16 text-xl border-t border-t-light-grey text-navy">
  <section class="p-10 my-8 text-center bg-light-grey">
    <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-4") do %>
      Community Plan
    <% end %>
    <div class="min-h-[27rem]">
      <p>
        API data for strictly non-commercial use for public benefit.
      </p>
      <p class="my-8">
        <span class="block mb-1 text-3xl font-bold font-display">$0</span>
        / month
      </p>
      <%# TODO: Use extracted component %>
      <ul class="pl-6 text-left list-disc list-outside">
        <%# TODO: Calculate and format this automatically %>
        <li>Return up to 100,000 applications per day</li>
      </ul>
    </div>
    <p class="my-4">
      <%# TODO: Send to correct place %>
      <%= pa_link_to "Contact us", "#", extra_classes: "block" %> to apply
    </p>
  </section>

  <section class="py-10 text-center px-14 bg-light-grey">
    <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-4") do %>
      Standard Plan
    <% end %>
    <div class="min-h-[27rem]">
      <p>
        Set and forget reliable API data, effortlessly integrated into your application.
      </p>
      <p class="my-8">
        <span class="block mb-1 text-3xl font-bold font-display">$3499</span>
        + GST / month
      </p>
      <%# TODO: Use extracted component %>
      <ul class="pl-6 text-left list-disc list-outside">
        <%# TODO: Calculate and format this automatically %>
        <li>Return up to 500,000 applications per day</li>
        <li>1 product</li>
        <li>Priority email support</li>
      </ul>
    </div>
    <p class="my-4">
      <%# TODO: Send to correct place %>
      <%= pa_link_to "Contact us", "#", extra_classes: "block" %>
      to sign up
    </p>
  </section>

  <section class="p-10 my-8 text-center bg-light-grey">
    <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-4") do %>
      Premium Plan
    <% end %>
    <div class="min-h-[27rem]">
      <p>
        <%# TODO: Put some real content here %>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in libero velit. Talk to us for pricing.
      </p>
      <p class="mt-8 mb-4 text-left">
        Potential add ons can include:
      </p>
      <%# TODO: Use extracted component %>
      <ul class="pl-6 text-left list-disc list-outside">
        <li>Access to bulk data API</li>
        <li>Multiple products</li>
        <%# TODO: Calculate and format this automatically %>
        <li>Return more than 500,000 applications per day</li>
        <li>Customised integration options</li>
        <%# TODO: Should we include this? %>
        <li>Potential for resale of data</li>
      </ul>
    </div>
    <p class="my-4">
      <%# TODO: Send to correct place %>
      <%= pa_link_to "Contact us", "#", extra_classes: "block" %>
      to discuss your needs
    </p>
  </section>
</div>

<section class="pt-8 pb-16 text-xl border-t border-t-light-grey2 text-navy">
  <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-6").with_content("What's in the API?") %>
  <div class="flex flex-col items-start justify-between gap-8 sm:flex-row">
    <div class="max-w-2xl">
      <p>
        In our API you can find Australia-wide data, updated daily:
      </p>
      <%# TODO: Extract component for bulleted list %>
      <ul class="pl-6 my-6 list-disc list-outside">
        <li>Single Location by longitude/latitude</li>
        <li>Area by longitude/latitude</li>
        <li>Planning authority</li>
        <li>Postcode</li>
        <li>Suburb</li>
      </ul>

      <%# # TODO: Explain the general shape of the returned data. So far we've only explained how we can search for it. %>

      <%= pa_link_to "View the developer documentation", api_developer_path %>

      <section class="pt-8">
        <%= render HeadingComponent.new(tag: :h3).with_content("What's not in the API?") %>
        <p>
          Our API does not have any personal user information.
          <%# TODO: This bit isn't about what's in the API - it's about how you're allowed to use it %>
          We will not supply access to the API for direct marketing purposes to individuals.
          Please don't ask.
        </p>
      </section>
    </div>
    <%= image_tag "illustration/person_big_arms.svg", alt: "Illustration of headshot of three different people", class: "max-w-64" %>
  </div>
</section>

<%# TODO: Won't populate this with names until we've checked that we can use them %>
<section class="pt-8 pb-16 text-xl border-t border-light-grey2 text-navy">
  <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-6").with_content("What people say") %>
  <div class="flex flex-col max-w-2xl gap-8">
    <div>
      <blockquote>
        "Totally stable unlike all other data feeds! It's set and forget."
      </blockquote>
      <p class="font-bold">Customer</p>
    </div>
    <div>
      <blockquote>
        "Our customers can see what new developments or new services are proposed around investment properties.
        We use Planning Alerts (API) as an enticement to activate customers to sign on."
      </blockquote>
      <p class="font-bold">Customer</p>
    </div>
    <div>
      <blockquote>
        "Planning Alerts API works well, no issues at all. If there are I just jump on a call with Kat!"
      </blockquote>
      <p class="font-bold">Customer</p>
    </div>
    <div>
      <blockquote>
        "Having an API speeds the whole process up. We are not dependant on anyone stepping in - ie with flat data you need people"
      </blockquote>
      <p class="font-bold">Customer</p>
    </div>
    <div>
      <blockquote>
        "People want it and find it useful. Everything has been really clear cut with the API."
      </blockquote>
      <p class="font-bold">Customer</p>
    </div>
  </div>
</section>

<section id="usage" class="pt-8 text-xl border-t text-navy border-t-warm-grey">
  <%= render HeadingComponent.new(tag: :h2).with_content("Usage") %>
  <p class="mt-8">
    Low volume,
    <strong>non&ndash;commercial</strong>
    use of the API service is free. We ask that personal and non&ndash;profit use of this service attribute the OpenAustralia Foundation on your website or application.
  </p>
  <p class="mt-8">
    Standard agreements for commercial use are at
    <%= pa_link_to "oaf.org.au/standard-agreements/planningalerts-commercial", "https://www.oaf.org.au/standard-agreements/planningalerts-commercial/" %>.
    Please
    <%= pa_link_to "contact us", documentation_contact_path(reason: "I want API access or commercial use") %>
    for
    <strong>commercial</strong>
    use. Commercial users may include Real Estate Agencies, Architects, Planners or Builders.
  </p>
  <p class="mt-8">
    Also, please
    <%= pa_link_to "get in touch", documentation_contact_path(reason: "I want API access or commercial use") %>
    if you intend to use the service on a large scale.
    In order to maintain quality of service for our API users, this service is rate limited by default to approximately <%= ApiKey.default_daily_limit %> requests per day.
  </p>
  <p class="mt-8">
    We offer a range of paid options, from rate&ndash;limited to unlimited use of this service.
  </p>
</section>
<section id="be_nice" class="pt-8 mt-16 text-xl border-t text-navy border-t-warm-grey">
  <%= render HeadingComponent.new(tag: :h2).with_content("Be Nice") %>
  <p class="mt-8">
    The Planning Alerts service is intended to help people be aware of what's happening in their local neighborhood, and to enable a civil discussion about those changes.
  </p>
  <p class="mt-8">
    Don't use the service (or information obtained from the service) to market goods or services to individuals.
  </p>
  <p class="mt-8">
    Don't use the service (or information obtained from the service) to harass or intimidate a person.
  </p>
</section>
