<%= content_for :page_title, "Planning Alerts API" %>

<div class="flex flex-col items-center">
  <%# Using non-standard size %>
  <%= render HeadingComponent.new(tag: :h1, size: "2xl") do %>
    <%= yield :page_title %>
  <% end %>

  <p class="max-w-2xl mt-6 mb-16 text-3xl font-bold text-center text-navy font-display">
    Seamlessly integrate planning alerts data into your custom application
  </p>

  <%= image_tag "illustration/data.svg", alt: "Abstract illustration of data moving around" %>
</div>

<div class="mt-16">
  <%= render ProseComponent.new do %>
    <p>
      <%# TODO: Is this saying too much of the same thing as the "who uses our API" section below? %>
      Planning Alerts Application Programming Interface (API) serves community groups, businesses, NGOs, and civic-minded individuals by providing access to trusted planning and development application data.
    </p>
    <ul>
      <li>Sourced from planning authorities around Australia</li>
      <li>Easy to use REST API</li>
      <li>Data updated daily</li>
      <%# TODO: Find a better way to say this! %>
      <li>Save considerable time and money by not having to develop this stuff yourself</li>
      <li>Delivering reliable and trustworthy service for over 14 years</li>
      <li>As a bonus support a charity doing good work</li>
    </ul>
  <% end %>
</div>

<section class="pt-12 pb-16 mt-12 text-xl border-t text-navy border-t-light-grey2">
  <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-6").with_content("Who uses our API?") %>
  <div class="flex flex-col justify-between gap-8 sm:flex-row">
    <div class="max-w-2xl">
      <p>Lots of people!</p>
      <p class="mt-6">
        Real estate developers and agents, construction companies, urban planners, architects,
        local government and municipalities, property management firms, community advocacy groups, environmental and heritage organizations,
        academics,
        legal firms, conveyancers, utility companies, insurance companies, researchers, tech startups and app developers are interested in this data.
      </p>
    </div>
    <%= image_tag "illustration/headshots_three_people.svg", alt: "Illustration of headshot of three different people", class: "max-w-64" %>
  </div>
</section>

<div id="plans" class="flex flex-col items-center gap-4 py-16 text-xl border-t lg:items-stretch lg:grid lg:grid-cols-3 border-t-light-grey text-navy">
  <section class="flex flex-col justify-between max-w-lg p-10 my-8 text-center bg-light-grey">
    <div class="flex flex-col items-center">
      <%= image_tag "plans/community.svg", alt: "", class: "mb-8" %>
      <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-8") do %>
        Community Plan
      <% end %>
      <div class="pb-4">
        <p>
          API data for strictly non-commercial use for public benefit.
        </p>
        <p class="my-8">
          <span class="text-3xl font-bold font-display">$0</span>
          AUD
          <span class="block mt-1">/ month</span>
        </p>
        <div class="text-left">
          <%= render BulletListComponent.new do |c| %>
            <%= c.with_item do %>
              Return up to
              <%= number_with_delimiter(ApiKey.default_daily_limit_community * Application.max_per_page) %>
              applications per day
            <% end %>
            <%= c.with_item.with_content("Full use of the API") %>
          <% end %>
        </div>
      </div>
    </div>
    <p class="my-4">
      <%= pa_link_to "Contact us", api_contact_path, extra_classes: "block" %> to apply
    </p>
  </section>

  <section class="flex flex-col justify-between max-w-lg py-10 text-center px-14 bg-light-grey">
    <div class="flex flex-col items-center">
      <%= image_tag "plans/standard.svg", alt: "", class: "mb-8" %>
      <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-8") do %>
        Standard Plan
      <% end %>
      <div class="pb-4">
        <p>
          Set and forget reliable API service, effortlessly integrated into your application.
        </p>
        <p class="my-8">
          <span class="text-3xl font-bold font-display">$3499</span>
          AUD
          <span class="block mt-1">+ GST / month</span>
        </p>
        <div class="text-left">
          <%= render BulletListComponent.new do |c| %>
            <%= c.with_item do %>
              Return up to
              <%= number_with_delimiter(ApiKey.default_daily_limit_commercial * Application.max_per_page) %>
              applications per day
            <% end %>
            <%= c.with_item do %>
              1 product
            <% end %>
            <%= c.with_item do %>
              Priority email support
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <p class="my-4">
      <%= pa_link_to "Contact us", api_contact_path, extra_classes: "block" %>
      to sign up
    </p>
  </section>

  <section class="flex flex-col justify-between max-w-lg p-10 my-8 text-center bg-light-grey">
    <div class="flex flex-col items-center">
      <%= image_tag "plans/premium.svg", alt: "", class: "mb-8" %>
      <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-8") do %>
        Premium Plan
      <% end %>
      <div class="pb-4">
        <p>
          More power and flexibility. Talk to us for pricing.
        </p>
        <p class="mt-8 mb-4 text-left">
          Potential add ons can include:
        </p>
        <div class="text-left">
          <%= render BulletListComponent.new do |c| %>
            <%= c.with_item do %>
              <%# TODO: Add documentation for bulk data API %>
              Access to bulk data API
            <% end %>
            <%= c.with_item do %>
              Multiple products
            <% end %>
            <%= c.with_item do %>
              Return more than
              <%= number_with_delimiter(ApiKey.default_daily_limit_commercial * Application.max_per_page) %>
              applications per day
            <% end %>
            <%= c.with_item do %>
              Search for applications by description
            <% end %>
            <%= c.with_item do %>
              Customised integration options
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <p class="my-4">
      <%= pa_link_to "Contact us", api_contact_path, extra_classes: "block" %>
      to discuss your needs
    </p>
  </section>
</div>

<%# Only show this section if you don't have an API key yet %>
<% if api_key.nil? %>
  <section class="pb-16">
    <div class="flex flex-col items-center p-16 text-xl bg-light-grey text-navy">
      <div class="text-center">
        <%= render HeadingComponent.new(tag: :h2) do %>
          Instant access <%= ApiKey.default_trial_duration_days %> day trial
        <% end %>
        <p class="mt-1 text-3xl font-bold text-navy">
          Build, test and explore with live API data
        </p>
      </div>
      <p class="max-w-lg mt-8 text-center">
        Enjoy up to
        <%= ApiKey.default_daily_limit_trial %>
        requests a day (returning up to a total of
        <%= number_with_delimiter(ApiKey.default_daily_limit_trial * Application.max_per_page) %>
        applications per day) for
        <%= pluralize(ApiKey.default_trial_duration_days, "day") %>.
      </p>
      <%= image_tag "illustration/key.svg", alt: "", size: "237x155", class: "my-8" %>
      <% if current_user %>
        <%= render ButtonComponent.new(tag: :a, size: "xl", type: :primary, href: confirm_api_keys_path).with_content("Create API key") %>
      <% else %>
        <p class="max-w-md text-center">
          To get an instant API key simply
          <%= pa_link_to "create an account", new_user_registration_path %>
          or
          <%= pa_link_to "sign in", new_user_session_path %>.
        </p>
      <% end %>
    </div>
  </section>
<% end %>

<section class="pt-12 pb-16 text-xl border-t border-t-light-grey2 text-navy">
  <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-6").with_content("What's in the API?") %>
  <div class="flex flex-col items-start justify-between gap-8 sm:flex-row">
    <div class="max-w-2xl">
      <p>
        In our API you can find Australia-wide data, updated daily:
      </p>
      <div class="my-6">
        <%= render BulletListComponent.new do |c| %>
          <%= c.with_item.with_content("Single Location by longitude/latitude") %>
          <%= c.with_item.with_content("Area by longitude/latitude") %>
          <%= c.with_item.with_content("Planning authority") %>
          <%= c.with_item.with_content("Postcode") %>
          <%= c.with_item.with_content("Suburb") %>
        <% end %>
      </div>

      <%# # TODO: Explain the general shape of the returned data. So far we've only explained how we can search for it. %>

      <%= pa_link_to "View the developer documentation", api_developer_path %>

      <section class="pt-8">
        <%= render HeadingComponent.new(tag: :h3).with_content("What's not in the API?") %>
        <p>
          For privacy reasons our API does not return personal information including Planning Alerts user comments or names associated with applications.
        </p>
      </section>
    </div>
    <%= image_tag "illustration/person_big_arms.svg", alt: "Illustration of headshot of three different people", class: "max-w-64" %>
  </div>
</section>

<section class="pt-12 pb-32 text-xl border-t border-light-grey2 text-navy">
  <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-16").with_content("Some of our customers") %>
  <ul class="grid items-center grid-cols-1 gap-x-16 gap-y-8 sm:grid-cols-4">
    <li class="max-w-52"><%= image_tag "customers/domain-group.svg", alt: "Domain Group logo" %></li>
    <li class="max-w-52"><%= image_tag "customers/property-dollar.png", alt: "Property Dollar logo" %></li>
    <li class="max-w-52"><%= image_tag "customers/valocity.webp", alt: "Valocity logo" %></li>
    <li class="max-w-52"><%= image_tag "customers/nurture-cloud.svg", alt: "Nurture Cloud logo" %></li>
  </ul>
</section>

<section class="pt-16 text-xl border-t text-navy border-light-grey2">
  <%= render HeadingComponent.new(tag: :h2, extra_classes: "mb-6") do %>
    Trustworthy and up to date data
  <% end %>
  <div class="flex flex-col justify-between gap-8 sm:gap-16 sm:flex-row-reverse">
    <div class="font-bold text-lavender font-display text-8xl shrink-0">
      14 <span class="relative text-2xl top-3 -left-6">yrs</span>
    </div>
    <p class="max-w-2xl">
      <%# TODO: Add something about complex automations and data integrity checks, etc.. %>
      We've been doing this for more than 14 years with an extremely experienced team.
      Leverage that for your own needs rather than trying to reinvent the wheel.
    </p>
  </div>
</section>
