- content_for :page_title, "How to lobby your local council"
%h3= yield :page_title
%p
  Here are just a few of the arguments that you can use when lobbying your local council to publish its planning data in a machine readable format. These are jumping off points to get you started.
%p
  Be prepared for the first response being "No". That's normal. Have your arguments ready and be persistent.

%p
  Use Mosman Council as an example of what good local councils can do. They provide a #{link_to "list of machine readable feeds", "http://portal.mosman.nsw.gov.au/pages/xc.track/ChooseFeed.aspx"} which are licensed under a #{link_to "Creative Commons licence", "https://creativecommons.org/licenses/by/2.5/au/"}.
%p
  In NSW the
  = link_to "Government Information (Public Access) Act 2009", "http://www.legislation.nsw.gov.au/viewtop/inforce/act+52+2009+FIRST+0+N/"
  (the GIPA Act) places requirements on local councils to publish the information they hold
  about development applications on their websites. For further arguments you can use, see the Federal Government's "#{link_to "Declaration of Open Government", "http://www.finance.gov.au/e-government/strategy-and-governance/gov2/declaration-of-open-government.html"}"
  of 2010 in which it was stated that the government supports

%blockquote
  &ldquo;&hellip; strengthening citizen’s rights of access to information, establishing a pro-disclosure culture across Australian Government agencies including through online innovation, and making government information more accessible and usable&rdquo;

%p
  Would you like to discuss the best approach? Have questions? Then #{link_to "contact us", documentation_contact_path}.
