<div class="oaf-footer bg-[#03827a] text-white font-sans text-lg py-20">
    <%= render Tailwind::ContainerComponent.new do %>
        <h2 class="pb-2 text-3xl font-extrabold font-logo">Planning Alerts</h2>
        <div class="grid grid-cols-12">
            <div class="col-span-5">
                <div>
                    <p>A site to help anyone submit a Freedom of Information request. Planning Alerts also publishes and archives requests and responses, building a massive archive of information.</p>
                </div>
            </div>

            <div class="col-span-4">
                <nav class="grid grid-cols-2 font-semibold">
                    <ul>
                        <li><%= link_to "Make a request", "#" %></li>
                        <li><%= link_to "Browse requests", "#" %></li>
                        <li><%= link_to "View authorities", "#" %></li>
                    </ul>
                    <ul>
                        <li><%= link_to "Help", "#" %></li>
                        <li><%= link_to "Contact us", "#" %></li>
                        <li><%= link_to "Privacy", "#" %></li>
                        <li><%= link_to "API", "#" %></li>
                    </ul>
                </nav>
            </div>

            <div class="col-span-3 bg-[#2B948D] p-6">
                <div class="oaf-footer__donate">
                    <p>Your tax deductible donations keep this site and others like it running</p>
                    <a href="https://www.oaf.org.au/donate/" class="inline-block px-4 py-2 mt-4 font-semibold oaf-footer__donate__button bg-navy">
                      Donate now
                    </a>
                </div>
            </div>
        </div>
    <% end %>
    <hr class="mt-12 text-[#479590]">
    <%= render Tailwind::ContainerComponent.new do %>
        <div class="grid grid-cols-12 gap-4 pt-16 row">
            <div class="col-span-5">
                <div class="oaf-footer__orgs">
                    <p class="oaf-footer__org">
                        Built and maintained by
                        <a href="https://www.oaf.org.au/" class="block h-6 mt-4 bg-no-repeat oaf-footer__org__logo oaf-footer__org__logo--oaf bg-oaf-logo">
                          <span class="hidden">OpenAustralia Foundation</span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-span-4">
                <div class="space-y-8 oaf-footer__legal">
                    <p>
                        <a href="https://www.oaf.org.au/" class="underline">OpenAustralia Foundation</a> is a <a href="https://www.acnc.gov.au/charity/55c2c06e21ac71e9359a0590b9fc100e" class="underline">registered charity</a> in Australia - company limited by guarantee and endorsed as a deductible gift recipient.
                        ABN&nbsp;<a href="https://www.abr.business.gov.au/ABN/View/24138089942" class="underline">24&nbsp;138&nbsp;089&nbsp;942</a>.
                    </p>
                    <p>
                      We acknowledge the traditional owners of the land now known as Australia.
                    We pay our respects to their elders past, present and emerging.
                    </p>
                </div>
            </div>
        </div>
        <% if Flipper.enabled?(:switch_themes, current_user) %>
            <%= button_to "Toggle theme", toggle_theme_path, class: "text-white bg-navy font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
        <% end %>
    <% end %>
</div>
