<div class="bg-orange">
  <%= render Tailwind::ContainerComponent.new do %>
    <div class="flex flex-row-reverse items-center h-8">
      <div class="text-[#704608] font-medium text-sm">
          An OpenAustralia Foundation project
      </div>
    </div>
  <% end %>
</div>
<div class="hidden pt-4 pb-5 sm:block sm:py-8 bg-yellow">
  <%= render Tailwind::ContainerComponent.new do %>
    <%= render "logo_block" %>
  <% end %>
</div>
<div class="sm:bg-[#F3F2F2]">
  <%= render Tailwind::ContainerComponent.new do %>
    <nav>
      <%= render "menu_mobile" %>
      <%= render "menu_desktop" %>
    </nav>
  <% end %>
</div>
<%= render Tailwind::ContainerComponent.new do %>
  <div class="font-['Inter_var'] font-extrabold text-5xl text-navy sm:hidden">
    Planning Alerts
  </div>
<% end %>
