<header>
  <div class="bg-orange">
    <%= render Tailwind::ContainerComponent.new do %>
      <div class="flex flex-row-reverse items-center h-8">
        <div class="text-[#704608] font-medium text-sm hidden sm:block">
            An <a href="https://www.oaf.org.au/">OpenAustralia Foundation</a> service
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col">
    <div class="sm:bg-light-grey sm:order-last">
      <%= render Tailwind::ContainerComponent.new do %>
        <nav>
          <%= render "menu_mobile" %>
          <%= render "menu_desktop" %>
        </nav>
      <% end %>
    </div>
    <div class="sm:bg-yellow sm:bg-header-pattern xl:bg-center">
      <%= render Tailwind::ContainerComponent.new do %>
        <div class="pt-2 sm:py-8">
          <%= render "logo_block" %>
        </div>
      <% end %>
    </div>
  </div>
</header>
