<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if yield(:meta_description) %>
  <meta name="description" content="<%= yield(:meta_description) %>">
<% end %>
<title><%= yield(:page_title).presence || "Email alerts of planning applications near you" %> | PlanningAlerts</title>

<%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<%# TODO: Only load the font weights that we're actually using so that this is faster %>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;500;700;900&display=fallback" rel="stylesheet">
<%= javascript_include_tag "https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js", defer: true %>
<%= javascript_include_tag "tailwind/application" %>
