<div x-data="{ open: false }">
  <button x-on:click="open = true; bodyScrolling = false" type="button" class="inline-flex items-center py-2 text-sm rounded-lg text-navy lg:hidden focus:outline-none">
    <span class="pr-2 text-base font-medium">Menu</span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>
  <div x-show="open" x-cloak class="fixed top-0 left-0 w-full h-full overflow-y-scroll text-2xl text-right text-white bg-orange">
    <div class="fixed w-full bg-orange">
    <%= render Tailwind::ContainerComponent.new do %>
      <button x-on:click="open = false; bodyScrolling = true" class="inline-flex items-center py-2">
        <span class="pr-2 text-base font-medium">Close</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    <% end %>
    </div>
    <%= render Tailwind::ContainerComponent.new do %>
      <div class="my-12 mr-8">
        <ul>
          <li><%= link_to "Home", root_path, class: class_names("underline" => current_page?(root_path)) %></li>
          <li><%= link_to "Search Applications", address_applications_path, class: class_names("underline" => current_page?(address_applications_path)) %></li>
          <li><%= link_to "Coverage", authorities_path, class: class_names("underline" => current_page?(authorities_path)) %></li>
          <li><%= link_to "Help", faq_path, class: class_names("underline" => current_page?(faq_path)) %></li>
          <li><%= link_to "Get the Data", api_howto_path, class: class_names("underline" => current_page?(api_howto_path)) %></li>
          <li><%= link_to "About", about_path, class: class_names("underline" => current_page?(about_path)) %></li>
          <li>
            <% if current_user %>
              <%= link_to current_user.name_with_fallback, profile_path, class: class_names("underline" => current_page?(profile_path)) %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path, class: class_names("underline" => current_page?(new_user_session_path)) %>
            <% end %>
          </li>
        </ul>
        <ul class="mt-8 font-light">
          <li><%= link_to "Contact", "#" %></li>
          <li><%= link_to "Get Involved", "#" %></li>
          <li><%= link_to "Source Code", "#" %></li>
          <li><%= link_to "Blog", "#" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
