<%# TODO: This page needs a proper design %>

<div class="max-w-lg mx-auto">
  <%= render Tailwind::Heading.new(tag: :h1, extra_classes: "my-12 text-center") do %>
    Activate your account
  <% end %>

  <%= form_with model: @user, url: users_activation_path, builder: FormBuilders::Tailwind do |f| %>
    <div>
      <%= f.label :email, class: "block" %>
      <%= f.email_field :email, class: "mt-1 block w-full", autocomplete: "email", autofocus: true %>
      <%= f.error :email, class: "mt-2" %>
    </div>
    <%# TODO: Should this button be centered just like on the sign in page? %>
    <div class="flex justify-center mt-8">
      <%= f.button "Send instructions" %>
    </div>
  <% end %>

  <%# TODO: The words in this paragraph are fairly incomprehensible. Fix this. %>
  <p class="mt-16 text-xl text-center text-navy">
    Note that you only need to activate your account if you've had an alert or made any
    comments on Planning Alerts using the same email address
  </p>
</div>
