<div class="login-block">
  <h2>Reset your password</h2>
  <p class="login-explanation">
    Or <%= link_to "sign in", new_user_session_path %> if you know your password.
  </p>

  <%= semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.inputs do %>
      <%= f.input :email, input_html: { autofocus: true, autocomplete: "email" } %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, label: "Send me reset password instructions", button_html: { class: "button button-rounded button-large button-action" } %>
    <% end %>
  <% end %>
</div>
