- content_for :page_title, "Planning authorities currently covered by the service"
%h3= yield :page_title
%p
  This service doesn't yet cover all of NSW so we’re working with planning authorities via the
  = link_to "Application Tracking program", "http://www.planning.nsw.gov.au/en-au/buildinginnsw/e-planningfornsw/applicationtracking.aspx"
  to improve coverage.
%p
  We are bringing in new councils to the Application Tracking program all the time. So if your local
  NSW council is not listed below please
  = link_to "sign up", new_alert_path
  and encourage your council to become a part of the
  #{link_to "Application Tracking program", "http://www.planning.nsw.gov.au/en-au/buildinginnsw/e-planningfornsw/applicationtracking.aspx"}.
%p
  If on the other hand you are looking for a service
  with covers all of Australia, then head over to #{link_to "PlanningAlerts", "http://www.planningalerts.org.au"}.
%p
  We currently cover #{Authority.percentage_population_covered_by_all_active_authorities(@themer).to_i}% of NSW's population within #{@authorities["NSW"].count} authorities.
%p
  From time to time planning authorities change their websites which breaks the scrapers that gather the planning
  data. In the list below you can also see the authorities that we haven't received planning data from for a while
  which is a good indication that something is wrong. These are marked as
  <span class="highlight">possibly broken</span>.

%ul.authorities
  - @authorities["NSW"].each do |authority|
    %li
      = link_to authority.full_name, authority_url(authority.short_name_encoded)
      - if authority.broken?
        %span.highlight possibly broken
      - elsif !authority.covered?
        &mdash; not covered
