<h3>Sign in</h3>

<%= semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email, required: false %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Sign in", button_html: { class: "button button-rounded button-large button-action" } %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
