- content_for :page_title, "Test your ATDIS feed"

%h2= yield :page_title

- if @url.nil?
  %p
    The Application Tracking Data Interchange Specification (ATDIS) is a modern, straightforward specification for publishing development
    applications online in a consistent machine readable format. It has been developed by the
    = link_to "NSW Department of Planning & Infrastructure", "http://www.planning.nsw.gov.au/"
    and
    = link_to "Carpadium Pty Ltd", "http://www.carpadium.com/"
    in cooperation with a number of software vendors and
    #{link_to "the OpenAustralia Foundation", "http://www.openaustraliafoundation.org.au"}.
  %p
    This page allows software vendors to automatically check that their ATDIS feed is compliant with the specification.
%p
  Warning - This is <strong>alpha</strong> software. Most of the core validation functionality is available but the user
  interface is still in a very early stage of development. Things might change without warning. Also, there might be unexpected bugs. Beware!

%form.formtastic{:action => url_for({}), :method => "get"}
  %fieldset.inputs
    %ol
      %li
        = label_tag 'url', 'ATDIS Feed URL'
        = url_field_tag 'url', @url
  %fieldset.actions
    %ol
      %li
        = submit_tag "Test feed", :name => nil

- if @page
  %p
    - if @page.previous_url
      = link_to "Test previous page", {:url => @page.previous_url}, :class => "btn"
    - else
      %span.btn.disabled Test previous page
    - if @page.next_url
      = link_to "Test next page", {:url => @page.next_url}, :class => "btn"
    - else
      %span.btn.disabled Test next page

%h3 Example feeds to test

%ul
  %li
    = link_to atdis_test_feed_example_url(:number => 1), atdis_test_feed_authorities_path(:url => atdis_test_feed_example_url(:number => 1))
    (#{link_to "view json", atdis_test_feed_example_url(:number => 1)})
  %li
    = link_to atdis_test_feed_example_url(:number => 2), atdis_test_feed_authorities_path(:url => atdis_test_feed_example_url(:number => 2))
    (#{link_to "view json", atdis_test_feed_example_url(:number => 2)})
    <em>This feed has intentional errors</em>

- if @page
  %h3 Test Results
  - if @page.valid?
    %p
      %strong Success!
      We've not found any errors on this page. It's worth looking through the information below to see how the data is actually loaded to make sure and double check that everything is as expected.
    %h3 How the applications get loaded
    %p
      Note that the field names (and some of the block level indentation) here is different than the json and this is showing all L1, L2 and L3 parameters, irrespective of whether they were actually used or not.
    = attribute_table(@page)
  - else
    %p
      %strong Errors found.
      = link_to "This page", @url
      does not validate. See the errors below.
    %h3 Errors
    = attribute_error_table(@page)

%h3 About this service
%p
  This ATDIS test service has been developed by
  = link_to "the OpenAustralia Foundation", "http://www.openaustraliafoundation.org.au"
  for the #{link_to "NSW Department of Planning & Infrastructure", "http://www.planning.nsw.gov.au/"}.
  Most of the heavy validation and parsing lifting is done by a standalone
  #{link_to "open-source (MIT) Ruby gem atdis", "https://github.com/openaustralia/atdis"}.
