- content_for :page_title, "Test your ATDIS feed"

%h2= yield :page_title

%form.formtastic{:action => url_for({}), :method => "get"}
  %fieldset.inputs
    %ol
      %li
        = label_tag 'url', 'ATDIS Base URL'
        = url_field_tag 'url', @url
  %fieldset.actions
    %ol
      %li
        = submit_tag "Test feed", :name => nil

%h3 Example feeds to test

%ul
  %li= link_to "http://localhost:3000", atdis_test_feed_authorities_path(:url => "http://localhost:3000")

- if @errored_application
  %h3 Application which errored
  %table
    %tr
      %th Field
      %th Value
      %th Errors
    - ATDIS::Application.attribute_names.each do |name|
      %tr
        %td= name
        %td= @errored_application.attributes[name]
        %td
          %span.highlight= @errored_application.errors[name].join(", ")

- if @applications
  %h3 How the applications get loaded
  - @applications.each do |application|
    %table.scraper_fields
      - ATDIS::Application.attribute_names.each do |name|
        %tr
          %td.field= name
          %td
            - if application.attributes[name].class.respond_to?(:attribute_names)
              %table.scraper_fields
                - application.attributes[name].class.attribute_names.each do |name2|
                  %tr
                    %td.field= name2
                    %td= application.attributes[name].attributes[name2]
            - else
              = application.attributes[name]
