- content_for :page_title, "Test your ATDIS feed"

%h2= yield :page_title

%p
  Warning - This is <strong>alpha</strong> software. Most of the core validation functionality is there but the user interface is still in a
  very early stage of development. Also, there might be unexpected bugs. Beware!

%form.formtastic{:action => url_for({}), :method => "get"}
  %fieldset.inputs
    %ol
      %li
        = label_tag 'url', 'ATDIS Feed URL'
        = url_field_tag 'url', @url
  %fieldset.actions
    %ol
      %li
        = submit_tag "Test feed", :name => nil

%h3 Example feeds to test

%ul
  %li
    = link_to atdis_test_feed_example_url, atdis_test_feed_authorities_path(:url => atdis_test_feed_example_url)
    (#{link_to "view json", atdis_test_feed_example_url})

- if @page
  - if @page.valid?
    %h3 How the applications get loaded
    %p
      - if @page.previous_url
        = link_to "Test previous page", :url => @page.previous_url
      - if @page.next_url
        = link_to "Test next page", :url => @page.next_url
    = attribute_table(@page)
  - else
    %h3 Errors
    = attribute_error_table(@page)
