- content_for :page_title, "Test your ATDIS feed"

%h2= yield :page_title

%form.formtastic{:action => url_for({}), :method => "get"}
  %fieldset.inputs
    %ol
      %li
        = label_tag 'url', 'ATDIS Feed URL'
        = url_field_tag 'url', @url
  %fieldset.actions
    %ol
      %li
        = submit_tag "Test feed", :name => nil

%h3 Example feeds to test

%ul
  %li= link_to "http://localhost:3000/atdis_test_feed/1/atdis/1.0/applications.json", atdis_test_feed_authorities_path(:url => "http://localhost:3000/atdis_test_feed/1/atdis/1.0/applications.json")

- if @page
  - if @page.valid?
    %h3 How the applications get loaded
    %p
      - if @page.previous_url
        = link_to "Test previous page", :url => @page.previous_url
      - if @page.next_url
        = link_to "Test next page", :url => @page.next_url
    = attribute_table(@page)
  - else
    %h3 Errors
    = attribute_error_table(@page)
