- content_for :page_title, "Planning authorities currently covered by the service"
%h3= yield :page_title
%p
  We don't yet cover the whole country, but we are working on it.
  New authorities are being added all the time, so if your local authority isn't listed below
  #{link_to "sign up anyway", new_alert_path} and you'll start receiving alerts once it has been included.
%p
  We currently cover #{@percentage_population_covered_by_all_active_authorities}% of Australia's population within #{@authority_count} authorities. For this number we're only counting places where the main planning authority is covered. As an example, most of Victoria is covered by the SPEAR system but not all Victorian planning applications go through it. So, we don't include SPEAR in our population count.
%p
  If you are a programmer and would like to write a scraper for your local authority, or work for a local authority
  and would like to make your data available, #{link_to "find out how you can get involved", get_involved_path}.
%p
  From time to time planning authorities change their websites which breaks the scrapers that gather the planning
  data. In the list below you can also see the authorities that we haven't received planning data from for a while
  which is a good indication that something is wrong. These are marked as
  <span class="highlight">possibly broken</span>. You can help by providing a
  = link_to "donation", donate_path
  or
  #{link_to "volunteering", get_involved_path} to help us fix it.

%ul.list-options
  %li
    %b Go to state
  - @authorities.each_with_index do |a, i|
    %li
      %a.button-small.button.button-pill{ :href => "##{a.first.downcase}" }= a.first

- @authorities.each do |state, authorities|
  %h4{:id => state.downcase}= state
  %ul.authorities
    - authorities.each do |authority|
      %li
        = link_to authority.full_name, authority_url(authority.short_name_encoded)
        - if authority.broken?
          %span.highlight possibly broken
        - elsif !authority.covered?
          &mdash; not covered
