- content_for :page_title, "Planning authorities currently covered by the service"
%h3= yield :page_title
%p
  We don't yet cover the whole country, but we are working on it.
  New authorities are being added all the time, so if your local authority isn't listed below
  #{link_to "sign up anyway", new_alert_path} and you'll start receiving alerts once it has been included.
%p
  If you are a programmer and would like to write a scraper for your local authority, or work for a local authority
  and would like to make your data available, #{link_to "find out how you can get involved", get_involved_path}.
%p
  - @authorities.each_with_index do |a, i|
    = "|" unless i == 0
    = link_to a.first, :anchor => a.first.downcase
- @authorities.each do |state, authorities|
  %h4{:id => state.downcase}= state
  %ul.authorities
    - authorities.each do |authority|
      %li= link_to authority.full_name, authority_applications_url(authority.short_name_encoded)
