- content_for :page_title, @authority.full_name
%h3= yield :page_title

- if @authority && @authority.broken?
  %p
    %span.highlight It looks like something might be wrong. The latest application was received #{time_ago_in_words(@authority.latest_application)} ago.
    = link_to "Why?", faq_path(:anchor => "broken_scraper")

%p
  For #{@authority.full_name} #{@authority.applications.where("date_scraped >= ?", 1.week.ago).count} applications have been collected in the last week, #{@authority.applications.where("date_scraped >= ?", 1.month.ago).count} in the last month and #{@authority.applications.count} since #{@authority.earliest_date.strftime("%-d %b %Y")}, when this authority was first added to PlanningAlerts.

%p
  = link_to "Browse all recent applications", authority_applications_path(@authority.short_name_encoded)

- if @authority.scraperwiki_url
  %p
    Are you a developer? See (and edit) the code that gets the data: #{link_to @authority.scraperwiki_url}
  %p
    via
    = link_to "ScraperWiki", "http://scraperwiki.com"
    &mdash; A brilliant online platform for collaborating on writing and maintaining scrapers

