- content_for :page_title, "Test your feed"

%h2= yield :page_title

%form.formtastic{action: url_for({}), method: "get"}
  %fieldset.inputs
    %ol
      %li
        = label_tag 'url', 'Feed url'
        = url_field_tag 'url', @url
  %fieldset.actions
    %ol
      %li
        = submit_tag "Test feed", name: nil

- if @errored_application
  %h3 Application which errored
  %table
    %tr
      %th Field
      %th Value
      %th Errors
    - Application.public_attribute_names.each do |name|
      %tr
        %td= name
        %td= @errored_application.attributes[name]
        %td
          %span.highlight= @errored_application.errors[name].join(", ")

- if @applications
  %h3 How the applications get loaded
  - @applications.each do |application|
    %table.scraper_fields
      - Application.public_attribute_names.each do |name|
        %tr
          %td.field= name
          %td= application.attributes[name]
