- content_for :page_title, "Under the hood of #{@authority.full_name}"
%h3= yield :page_title

%p
  The information comes via our scraping platform #{link_to "morph.io", "https://morph.io"}. You are able to fork scrapers and collaborate
  via Git.
%ul
  %li= link_to "View the scraper on morph.io", @authority.morph_url
  %li= link_to "Report or view scraper issues", "https://github.com/#{@authority.morph_name}/issues"
