:markdown
  <h3 id="section4.3">4.3 Schema</h3>


  The *schema* defines the specific data elements that are published in a compliant ATDIS-1.0.7 *feed*. The schema has a defined structure, broken down into one or more *application* records, which are further decomposed into *blocks* and *fields*.

  To comply with the Specification at any level, a feed must support the basic conceptual structure of a **list** of application records. Then the feed will provide blocks and fields for each application record, depending on the level of compliance.

  If a feed chooses to include a record type then it must include all mandatory fields for that record type. A feed can chose whether or not to include any optional fields within a block.

  Figure 4 describes the conceptual structure of a complying feed:

  ![image alt text](/assets/atdis/image_3.png)

  <p align="center">
   Figure 4: Feed structure
  </p>


  There are *seven* record types defined by the Specification:

  1. Info
  2. Reference
  3. Location
  4. Events
  5. Documents
  6. People
  7. Extended

  The following sections describe the semantics of each of the seven record types that make up the Specification. For each record type, the Specification indicates in which compliance level (L1, L2 or L3) the record belongs.

= render "section_4.3.1"
= render "section_4.3.2"
= render "section_4.3.3"
= render "section_4.3.4"
= render "section_4.3.5"
= render "section_4.3.6"
= render "section_4.3.7"
= render "section_4.3.8"
