- content_for :page_title, "ATDIS Specification"
%h2= yield :page_title

%p= link_to "Back to the ATDIS test page", atdis_test_path

%p For ease of reference we're including selected excerpts (Sections 4 & 6.4) from the full ATDIS specification here. The complete specification is available on Github (as part of the atdis ruby gem) in pdf and the proprietary doc format.

%ul
  %li= link_to "Full ATDIS 1.0.2 specification (pdf format)", "https://github.com/openaustralia/atdis/raw/master/docs/ATDIS-1.0.2%20Application%20Tracking%20Data%20Interchange%20Specification%20(v1.0.2).pdf"
  %li= link_to "Full ATDIS 1.0.2 specification (proprietary doc format)", "https://github.com/openaustralia/atdis/raw/master/docs/ATDIS-1.0.2%20Application%20Tracking%20Data%20Interchange%20Specification%20(v1.0.2).doc"

%p A few words of warning: Please do not use this page as the definitive reference of the specification. We've made every effort to make this version an accurate copy of the original but there is always a possibility that there is a mistake or that this version is not up to date.

.atdis-specification
  = render "section_4"
  %hr
  = render "section_6.4"
