#footer-wrapper
  #footer.container
    %ul.keepintouch
      %li
        Email us at
        = mail_to "contact@planningalerts.org.au"
      %li
        Chat with us on Twitter
        = link_to "@PlanningAlerts", "http://twitter.com/planningalerts"
        = link_to "@OpenAustralia", "http://twitter.com/openaustralia"
      %li
        Source code
        = link_to "github.com/openaustralia/planningalerts", "https://github.com/openaustralia/planningalerts"
    .oaf
      %h4
        An
        %a(href="http://openaustraliafoundation.org.au" title="The OpenAustralia Foundation") OpenAustralia Foundation
        Project
      %h5 Other wonderful projects from us
      %ul
        %li= link_to "They Vote For You", "https://theyvoteforyou.org.au/"
        %li= link_to "Right To Know", "https://www.righttoknow.org.au/"
        %li= link_to "OpenAustralia.org", "https://www.openaustralia.org.au/"
        %li= link_to "Election Leaflets", "http://www.electionleaflets.org.au/"
      %h5 Read our blog
      %ul
        %li
          = link_to "openaustraliafoundation.org.au/blog", "https://www.openaustraliafoundation.org.au/blog/"
