#footer-wrapper
  #footer.container
    %ul.keepintouch
      %li
        Email us at
        = mail_to "contact@planningalerts.org.au"
      %li
        Chat with us on Twitter
        = link_to "@PlanningAlerts", "http://twitter.com/planningalerts"
        = link_to "@OpenAustralia", "http://twitter.com/openaustralia"
      %li
        Read our blog
        = link_to "openaustraliafoundation.org.au/blog", "http://www.openaustraliafoundation.org.au/blog"
    .oaf
      %h4
        An
        %a(href="http://openaustraliafoundation.org.au" title="The OpenAustralia Foundation") OpenAustralia Foundation
        Project
      %h5 Other wonderful projects from us
      %ul
        %li= link_to "Right To Know", "http://www.righttoknow.org.au/"
        %li= link_to "OpenAustralia.org", "http://www.openaustralia.org/"
        %li= link_to "Election Leaflets", "http://www.electionleaflets.org.au/"
