<footer class="bg-[#03827a] text-white font-sans text-lg leading-tight py-20">
  <%= render ContainerComponent.new do %>
    <%= image_tag "logo-white.svg", class: "w-60 mb-4", alt: "Planning Alerts", size: "240x32" %>
    <div class="grid grid-cols-12 gap-6 gap-y-8 md:gap-4">
      <div class="col-span-12 md:col-span-5">
        <div class="space-y-2">
          <p>Find out what is being built and knocked down in your community and have your say.</p>
          <p>A free Australian service run for the benefit of the general public.</p>
        </div>
      </div>

      <div class="col-span-12 leading-normal md:col-span-4">
        <nav class="grid grid-cols-1 gap-6 font-semibold md:gap-2 md:grid-cols-2">
          <ul>
            <%# TODO: The white text hover is too strong IMHO %>
            <%# Repeat the main nav in the footer %>
            <li><%= link_to "Home", root_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
            <li><%= link_to "Search", address_applications_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
            <li><%= link_to "Get the Data (API)", api_howto_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
            <li><%= link_to "Help", faq_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
          </ul>
          <ul>
            <li><%= link_to "About", about_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
            <li><%= link_to "Get involved", get_involved_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
            <li><%= link_to "Coverage", authorities_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
            <li><%= link_to "Source code", "https://github.com/openaustralia/planningalerts", class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
            <li><%= link_to "Contact us", documentation_contact_path, class: "text-white underline hover:opacity-80 focus:outline-none focus:text-navy focus:bg-sun-yellow" %></li>
          </ul>
        </nav>
      </div>

      <div class="col-span-12 p-6 border border-white md:col-span-3">
        <div class="flex flex-col items-start gap-4">
          <%= image_tag "illustration/love-letter.svg", size: "68x52", alt: "Illustration of love letter" %>
          <p>Your donations keep this site and others like it running</p>
          <%= render ButtonComponent.new(tag: :a, size: "lg", type: :inverse, href: "https://donate.planningalerts.org.au") do %>
            Donate now
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <hr class="mt-12 text-[#479590]">
  <%= render ContainerComponent.new do %>
    <div class="grid grid-cols-12 gap-4 pt-8 md:pt-16 row">
      <div class="col-span-12 md:col-span-5">
        <div>
          <p>
            Built and maintained by
            <a href="https://www.oaf.org.au/" class="block h-6 mt-4 bg-no-repeat bg-oaf-logo focus:outline-none focus:ring-4 focus:ring-sun-yellow">
              <span class="sr-only">OpenAustralia Foundation</span>
            </a>
          </p>
        </div>
      </div>

      <div class="col-span-12 md:col-span-4">
        <div class="space-y-8">
          <p>
            <a href="https://www.oaf.org.au/" class="text-white underline hover:opacity-80 focus:outline-none focus:bg-sun-yellow focus:text-navy">OpenAustralia Foundation</a> is a <a href="https://www.acnc.gov.au/charity/charities/6bf25724-39af-e811-a960-000d3ad24282/profile" class="text-white underline hover:opacity-80 focus:outline-none focus:bg-sun-yellow focus:text-navy">registered charity</a> in Australia - company limited by guarantee.
            ABN&nbsp;<a href="https://www.abr.business.gov.au/ABN/View/24138089942" class="text-white underline hover:opacity-80 focus:outline-none focus:bg-sun-yellow focus:text-navy">24&nbsp;138&nbsp;089&nbsp;942</a>.
          </p>
          <p>
            We acknowledge the traditional owners of the land now known as Australia.
          We pay our respects to their elders past, present and emerging.
          </p>
        </div>
      </div>

      <div class="flex items-start col-span-12 md:justify-end md:col-span-3">
        <%= link_to "https://www.acnc.gov.au/charity/charities/6bf25724-39af-e811-a960-000d3ad24282/profile", class: "inline-block focus:outline-none focus:ring-4 focus:ring-sun-yellow" do %>
          <%= image_tag "charity-tick.svg", size: "100x100", alt: "ACNC Registered Charity Tick" %>
        <% end %>
      </div>
    </div>
  <% end %>
</footer>
