<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if yield(:meta_description) %>
  <meta name="description" content="<%= yield(:meta_description) %>">
<% end %>
<title>
  <% if yield(:page_title).present? %>
    <%= yield(:page_title) %> | Planning Alerts
  <% else %>
    Planning Alerts
  <% end %>
</title>
<%= yield :extra_meta_tags %>

<%= render "google_tag_manager" %>
<% if Rails.env.production? %>
  <%# plausible.io analytics %>
  <%# TODO: Reinstate outbound link tracking and tracking of whether user is signed in %>
  <script defer data-domain="planningalerts.org.au" src="/js/script.manual.js"></script>
  <script>
    window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    plausible('pageview', { u: "https://www.planningalerts.org.au<%= request.route_uri_pattern.gsub("(.:format)", "") %>" + window.location.search });
  </script>
<% end %>

<%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<%# TODO: #1769 Only load the font weights that we're actually using so that this is faster %>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Merriweather:wght@700;900&display=fallback" rel="stylesheet">
<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.1", defer: true %>
<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.5", defer: true %>
<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js", defer: true %>
<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js", defer: true %>
<%= javascript_include_tag "application" %>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= Rails.application.credentials.dig(:google_maps, :api_key) %>",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
    region: "au"
  });
</script>
