<div class="hidden md:block">
  <div class="flex justify-between h-16 text-xl font-medium text-navy">
    <ul class="flex space-x-8">
      <%= render NavItemComponent.new(href: root_path, selected: current_page?(root_path)).with_content("Home") %>
      <%= render NavItemComponent.new(href: address_applications_path, selected: current_page?(address_applications_path)).with_content("Search") %>
      <%= render NavItemComponent.new(href: api_howto_path, selected: current_page?(api_howto_path)).with_content("Get the Data") %>
      <%= render NavItemComponent.new(href: faq_path, selected: current_page?(faq_path)).with_content("Help") %>
    </ul>
    <ul class="flex">
      <% if current_user %>
        <%= render NavItemComponent.new(href: alerts_path, selected: current_page?(alerts_path)) do %>
          <div class="flex space-x-3">
            <div><%= current_user.name_with_fallback %></div>
            <div><%= render "application/svg/user" %></div>
          </div>
        <% end %>
      <% else %>
        <%= render NavItemComponent.new(href: new_user_session_path, selected: current_page?(new_user_session_path)).with_content("Sign In") %>
      <% end %>
    </ul>
  </div>
</div>
