%h1 Thank you!
%p
  This data you contributed will be reviewd
  by an administrator, and go live shortly.
= form_for @contributor do |f|
  = f.hidden_field :councillor_contribution_id, value: params[:councillor_contribution_id]
  %fieldset
    %legend
      Please tell us about yourself, so we can send you a little note of appreciation
      and updates about your contribution when it goes live.
      %p This field is optional.
      %p
        = f.label :name, 'Full name'
        = f.text_field :name
      %p
        = f.label :email
        = f.text_field :email
    %p.button
      = f.submit "Submit"
    = link_to "I prefer not to", root_url
