#header-wrapper
  #header.container
    %h1= link_to 'NSW PlanningAlerts', root_path
    %h2
      Email alerts of planning applications
      %em near you

    .hide= link_to "Skip navigation", "#content"
    #menu
      = image_tag "menu.png", size: "30x30", class: "toggle"
      %ul.collapse
        = li_selected(:controller => "/applications", :action => "address") do
          = link_to 'Search', address_applications_path
        = li_selected(:controller => "/alerts", :action => ["new", "create"]) do
          = link_to 'Sign Up', new_alert_path
        = li_selected(:controller => "/static", :action => "faq") do
          = link_to faq_path do
            %abbr(title="Frequently asked questions") FAQ
        = li_selected(:controller => "/authorities", :action => "index") do
          = link_to 'Coverage', authorities_path
        = li_selected(:controller => "/static", :action => "about") do
          = link_to 'About', about_path
