- content_for :meta_description, Rails.configuration.planningalerts_meta_description

%h3 Applications within #{meters_in_words(@radius)} of #{@full_address}

- unless @other_addresses.empty?
  %h4 Or did you want?
  %ul
    - @other_addresses.each do |a|
      %li= link_to a, q: a

- if @applications.empty?
  = render "no_applications", full_address: @full_address, q: @q
- else
  .attention
    = render "alerts/signup_introduction"
    = render "alerts/signup_form", alert: @alert, address_hidden: true

  %ul.list-options
    %li
      %b Sorted by
    %li= link_to "most recent first", { sort: "time", q: @q, page: nil }, class: "button button-pill button-small #{"button-active" if @sort == "time"}"
    %li= link_to "closest first", { sort: "distance", q: @q, page: nil }, class: "button button-pill button-small #{"button-active" if @sort == "distance"}"

  -# Only show the top pagination links beyond the first page
  - if @page.to_i > 1
    = paginate @applications
  %ol.applications= render partial: "application", collection: @applications
  = paginate @applications
