- content_for :meta_description, Rails.configuration.planningalerts_meta_description

%h3 Applications within #{meters_in_words(@radius)} of #{@full_address}

- unless @other_addresses.empty?
  %h4 Or did you want?
  %ul
    - @other_addresses.each do |a|
      %li= link_to a, q: a

-# TODO: Figure out how to handle no results when extra_options_on_address_search is enabled
- if @applications.empty? && !Flipper.enabled?(:extra_options_on_address_search, current_user)
  = render "no_applications", full_address: @full_address, q: @q
- else
  .attention
    = render "alerts/signup_introduction"
    = render "alerts/signup_form", alert: @alert, address_hidden: true

  .filter-and-sort-options
    = render "sort_options", sort: @sort, extra_params: { q: @q }
    - if Flipper.enabled?(:extra_options_on_address_search, current_user)
      = render "filter_options", sort: @sort, q: @q, radius: @radius, time: @time

  -# Only show the top pagination links beyond the first page
  - if @page.to_i > 1
    = paginate @applications
  %ol.applications= render partial: "application", collection: @applications
  = paginate @applications
