- content_for :meta_description, Rails.configuration.planningalerts_meta_description

%h3 Applications within #{meters_in_words(@radius)} of #{@q}

- unless @other_addresses.empty?
  %h4 Or did you want?
  %ul
    - @other_addresses.each do |a|
      %li= link_to a, q: a

- if @applications.empty?
  %p
    Unfortunately, we don't know of any applications near #{@q}.
    This is most likely because we haven't yet been able to add your local planning authority.
    There is a list of the planning authorities we currently cover
    #{link_to "here", authorities_path}. We're working on covering the whole country but we're not there yet.

  .attention
    %h4 You can help!
    %p Donations allow us to add more local authorities, including yours! Or, if you're a programmer you can help directly by #{link_to "writing a screen scraper", get_involved_path}.
    = link_to "Donate", donate_url, class: "button button-rounded button-action"

  %p
    To see an example of what the results would look like once your area is included see #{link_to "Bourke Street in Melbourne", address_applications_path(q: "Bourke St, Melbourne 3000")}.
  %p
    If you #{link_to "sign up for email alerts", new_alert_path(address: @q)} anyway, you will receive new applications when they become available.
    The more people that sign up for your area, the sooner we'll add your area to PlanningAlerts. So, get your friends and neighbours to sign up too!

- else
  = render "alerts/signup_form", alert: @alert,
                                 with_intro: true,
                                 address_hidden: true,
                                 form_classes: "attention"

  %ul.list-options
    %li
      %b Sort results
    %li= link_to "Most recent first", { sort: "time", q: @q, page: nil }, class: "button button-pill button-small #{"button-active" if @sort == "time"}"
    %li= link_to "Closest first", { sort: "distance", q: @q, page: nil }, class: "button button-pill button-small #{"button-active" if @sort == "distance"}"

  :ruby
    p = @sort == "distance" ? "Closer" : "Newer"
    n = @sort == "distance" ? "Further" : "Older"

  -# Only show the top pagination links beyond the first page
  - if @page.to_i > 1
    = will_paginate @applications, previous_label: "« #{p}", next_label: "#{n} »"
  %ol.applications= render partial: "application", collection: @applications
  = will_paginate @applications, previous_label: "« #{p}", next_label: "#{n} »"
