- content_for :page_title, @description

%h3= @description

= render "alerts/signup_form", alert: @alert,
                               with_intro: true,
                               address_hidden: false,
                               form_classes: "attention"

- if @authority&.broken?
  - if @authority.date_last_new_application_scraped.nil?
    %span.highlight There are no applications yet for this authority
  - else
    %span.highlight It looks like something might be wrong. The latest application was received #{time_ago_in_words(@authority.date_last_new_application_scraped)} ago.
    = link_to "Why?", faq_path(anchor: "broken_scraper")

= paginated_section @applications, previous_label: "« Newer", next_label: "Older »" do
  %ol.applications= render partial: "application", collection: @applications

- if current_user && @authority
  -# TODO: If people are logged out, should we show them a link to get an API key?
  = link_to "Get applications as JSON", authority_applications_json_url_for_current_user(@authority)
