- content_for :page_title, "Report comment"
%h3= yield :page_title
= render @comment
%p
  This form is for reporting comments that should be removed. Reasons can include that
  the comment is spam, abusive, unlawful or harassing &mdash; in other words, where people are going
  out of their way to cause harm. Please explain clearly why
  you think the comment should be removed.
= semantic_form_for [@comment, @report] do |f|
  = f.inputs do
    = f.input :name, label: "Your name"
    = f.input :email, label: "Your email"
    = f.input :details, label: "Why should this comment be removed?", as: :text
    -# This is a spam bot honeytrap. A human being should not be filling this in
    -# It's not awesome for screenreaders though
    %li{style: "display: none;"}
      = label_tag :little_sweety, 'Little Sweety'
      = text_field_tag :little_sweety, "", placeholder: "Please leave this blank"
  = f.actions do
    = f.action :submit, label: "Send report"
