- content_for :page_title, "Report comment"
%h3= yield :page_title
%p= render :partial => 'comments/comment', :locals => {:comment => @comment}
%p
  This form is for reporting comments that should be removed. Reasons can include that
  the comment is spam, is abusive, unlawful, harrasing &mdash; in other words, where people are going
  out of their way to cause harm and trouble. Below, please explain clearly your reason why
  the comment should be removed.
= semantic_form_for [@comment, @report] do |f|
  = f.inputs do
    = f.input :name, :label => "Your name"
    = f.input :email, :label => "Your email"
    = f.input :details, :as => :text
  = f.buttons do
    = f.commit_button :label => "Send report"
