= f.inputs id: "comment-receiver-inputgroup" do
  %li.input{ class: ("error" if add_comment.errors[:comment_for].any?) }
    - if add_comment.errors[:comment_for].any?
      %p.inline-errors= add_comment.errors[:comment_for].first.to_s
    %legend Who should this go to?
    = f.radio_button(:comment_for,
                     "planning authority",
                     id: "receiver-to-authority-option",
                     class: "receiver-select-radio receiver-type-option")
    %label.receiver-select-label{ for: "receiver-to-authority-option" }
      %strong The planning authority
      - if application.official_submission_period_expired?
        %p
          You’re too late to have your comment officially considered
          when the planning authority (#{application.authority.full_name}) decide on this application.
          The period for officially commenting on this application finished
          #{days_ago_in_words(application.on_notice_to)}.
          - if application.on_notice_from
            It lasted for #{distance_of_time_in_words(application.on_notice_from, application.on_notice_to)}.
          If you choose to write to them now,
          your comment will still be sent through
          and displayed here.
      - else
        %p
          Write to the planning authority (#{application.authority.full_name}) if you want your comment considered
          when they decide whether to approve this application.
