= semantic_form_for [application, add_comment] do |f|
  = f.inputs id: "comment-base-inputgroup" do
    - label_for_text = capture do
      %h4#add-comment Have your say on this application
      = render "comments/comment_form_introduction", application: application
    = f.input :text, label: label_for_text.html_safe,
                     placeholder: "Be polite, clear, and to the point so your comment gets listened to.",
                     hint: "Have you made a donation or gift to a Councillor or Council employee? #{link_to("You may need to disclose this", faq_path(anchor: "disclosure"))}.".html_safe,
                     as: :text,
                     input_html: { rows: "10", required: "required" }
    .inline-hints.hidden#disclosure_explanation
      = render partial: "static/disclosure_explanation"
    = f.input :name, label: "Your name",
                     placeholder: "e.g. Jane Citizen",
                     hint: "Please use your real full name if possible.",
                     input_html: { required: "required" }
  = f.inputs id: "comment-detail-inputgroup" do
    = f.input :email, label: "Your email",
                      placeholder: "e.g. your@email.com",
                      hint: "We never display your email address.",
                      as: :email,
                      input_html: { required: "required" }
    = f.input :address, label: "Your street address",
                        placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580",
                        hint: "We never display your street address. #{link_to("Why do you need my address?", faq_path(anchor: "address"))}".html_safe,
                        input_html: { required: "required" }
    .inline-hints.hidden#faq_commenting_address
      = render partial: "static/faq_commenting_address"
    -#
      This is a spam bot honeytrap. A human being should not be filling this in
      It's not awesome for screenreaders though
      haml-lint:disable InlineStyles
    %li{ style: "display: none;" }
      = label_tag :little_sweety, "Little Sweety"
      = text_field_tag :little_sweety, "", placeholder: "Please leave this blank"
    -# haml-lint:enable InlineStyles
  = f.actions id: "comment-action-inputgroup" do
    - if application.authority.ignoring_planning_alert_comments?
      %div{class: "flash_message"}
      %p{class: "alert"} This council may or may not accept your submission via planning alerts. Instead you may need to email the council. For convience there is a button below that you can press to prompt emailing this form to the council. You may still wish to submit your comment to planning alerts to share your comments with others.

      #{ link_to 'Email Council', '#', id: 'council-mail-button',  target: '_blank', class: "button button-action"}
      <br>
      = f.action :submit, label: "Post your public comment", button_html: { class: "button button-primary" }

    - else
      = f.action :submit, label: "Post your public comment",
                        button_html: { class: "button button-action" }
