%h4#add-comment Have your say on this application

- if application.authority.email.present?
  = render "comments/comment_form_introduction", application: application
  = render "comments/comment_form_inputs", application: application, comment: comment
- else
  %p
    To comment on this application you will need to go to the
    original source on #{link_to application.authority.full_name, application.info_url}
    and find any instructions from there.
  %p
    This is because unfortunately we don't know an email address for this authority
    to send official comments to. If you can find one please #{mail_to "contact@planningalerts.org.au", "let us know"}.

  - if application.on_notice_to
    %p= on_notice_text(application)
