- if comment.visible?
  %figure.comment-item.panel{ id: "comment#{comment.id}" }
    = render "comments/comment_location_heading", comment: comment if with_address
    .panel-body
      %figcaption.comment-meta.comment-heading
        = render "comments/comment_meta_sentence", comment: comment
      %blockquote.comment-text= comment_as_html(comment.text)
      %footer
        %p.comment-meta
          - if comment.last_delivered_successfully.nil?
            sent to the planning authority
          - elsif comment.last_delivered_successfully
            = link_to "delivered to the planning authority", { anchor: "delivery-info-#{comment.id}" }, class: "hideable", data: { target: "#delivery-info-#{comment.id}" }
          - else
            = link_to "there was a problem delivering this to the planning authority", { anchor: "delivery-info-#{comment.id}" }, class: "hideable", data: { target: "#delivery-info-#{comment.id}" }

        %p.comment-meta.hidden{ id: "delivery-info-#{comment.id}" }
          - if comment.last_delivered_successfully.nil?
            -#
              Don't display any extra message if the comment has been sent but not yet delivered
              Do we want to stick with this?
          - elsif comment.last_delivered_successfully
            This comment was successfully delivered to the
            email server of
            = comment.application.authority.full_name
            at
            = comment.last_delivered_at
          - else
            The comment was hard bounced by the email server of
            = comment.application.authority.full_name
            at
            = comment.last_delivered_at
            Please follow up by emailing us at contact@planningalerts.org.au so
            that we can try to help resolve this issue

        .comment-actions= render "comments/actions", comment: comment
- else
  %figure.comment-item.panel{ id: "comment#{comment.id}" }
    = render "comments/comment_location_heading", comment: comment if with_address
    .panel-body
      %figcaption.comment-meta.comment-heading
        %span.comment-time-block
          commented
          = link_to comment_path(comment), title: "View comment" do
            %time.comment-time{ datetime: comment.confirmed_at.strftime("%F") }
              #{time_ago_in_words(comment.confirmed_at)} ago
      %blockquote.comment-text
        %em Hidden by site administrators
