= semantic_form_for [application, comment] do |f|
  = f.inputs id: "comment-base-inputgroup" do
    = f.input :text, as: :text, input_html: { rows: "10" },
                     hint: t("formtastic.hints.comment.text", link: faq_path(anchor: "disclosure"), target: "#disclosure_explanation", class: "hideable")
    .inline-hints.hidden#disclosure_explanation
      = render partial: "static/disclosure_explanation"
    = f.input :name
  = f.inputs id: "comment-detail-inputgroup" do
    - if current_user.nil?
      = f.semantic_fields_for :user do |user|
        = user.input :email, as: :email
    = f.input :address, input_html: { class: "address-autocomplete-input" },
                        hint: t("formtastic.hints.comment.address", link: faq_path(anchor: "address"), target: "#faq_commenting_address", class: "hideable")
    .inline-hints.hidden#faq_commenting_address
      = render partial: "static/faq_commenting_address"
    -#
      This is a spam bot honeytrap. A human being should not be filling this in
      It's not awesome for screenreaders though
      haml-lint:disable InlineStyles
    %li{ style: "display: none;" }
      = label_tag :little_sweety, "Little Sweety"
      = text_field_tag :little_sweety, "", placeholder: "Please leave this blank"
    -# haml-lint:enable InlineStyles
  = f.actions id: "comment-action-inputgroup" do
    = f.action :submit, label: "Post your public comment",
                        button_html: { class: "button button-action" }
