= semantic_form_for [application, comment] do |f|
  = f.inputs id: "comment-base-inputgroup" do
    -# rubocop:disable Rails/OutputSafety
    = f.input :text, label: "Your comment",
                     placeholder: "Be polite, clear, and to the point so your comment gets listened to.",
                     hint: "Have you made a donation or gift to a Councillor or Council employee? #{link_to("You may need to disclose this", faq_path(anchor: "disclosure"))}.".html_safe,
                     as: :text,
                     input_html: { rows: "10" }
    -# rubocop:enable Rails/OutputSafety
    .inline-hints.hidden#disclosure_explanation
      = render partial: "static/disclosure_explanation"
    = f.input :name, label: "Your name",
                     placeholder: "e.g. Jane Citizen",
                     hint: "Please use your real full name if possible.",
                     input_html: { required: "required" }
  = f.inputs id: "comment-detail-inputgroup" do
    = f.semantic_fields_for :user do |user|
      = user.input :email, label: "Your email",
                           placeholder: "e.g. your@email.com",
                           hint: "We never display your email address.",
                           as: :email,
                           input_html: { required: "required" }
    -# rubocop:disable Rails/OutputSafety
    = f.input :address, label: "Your street address",
                        placeholder: "e.g. 1 Sowerby St, Goulburn, NSW 2580",
                        hint: "We never display your street address. #{link_to("Why do you need my address?", faq_path(anchor: "address"))}".html_safe,
                        input_html: { required: "required" }
    -# rubocop:enable Rails/OutputSafety
    .inline-hints.hidden#faq_commenting_address
      = render partial: "static/faq_commenting_address"
    -#
      This is a spam bot honeytrap. A human being should not be filling this in
      It's not awesome for screenreaders though
      haml-lint:disable InlineStyles
    %li{ style: "display: none;" }
      = label_tag :little_sweety, "Little Sweety"
      = text_field_tag :little_sweety, "", placeholder: "Please leave this blank"
    -# haml-lint:enable InlineStyles
  = f.actions id: "comment-action-inputgroup" do
    = f.action :submit, label: "Post your public comment",
                        button_html: { class: "button button-action" }
