!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title PlanningAlerts.org.au | #{@page_title}
    %link{ :href => "./stylesheets/memespring.css", :rel => "stylesheet", :type => "text/css", :media => "all" }
    %link{ :href => "./stylesheets/main.css", :rel => "stylesheet", :type => "text/css", :media => "all" }
    %script{ :src => "./javascripts/main.js", :type => "text/javascript" }
    %script{ :type => "text/javascript" }

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{Configuration::GOOGLE_ANALYTICS_KEY}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
  %body
    #divHeader
      %h1
        = link_to "PlanningAlerts<span>.</span>org<span>.</span>au", root_path
        %sup> beta
      %h2 Email alerts of planning applications <em>near you</em>
      #statsbanner
        %p#pStats
          #{@alert_count} alerts sent for
          = link_to "#{@authority_count} authorities", about_path(:anchor => "authorities")
    .hide
      %a{ :href => "#divContent" } Skip navigation
    = menu
    #divPage
      #divContent
        #divWarning{ :class => ("hide" if @warnings.nil?) }
          = @warnings
        = yield
      #divFooter
        %ul.inline
          %li= link_to "Contact", about_path(:anchor => "contact")
          %li= link_to "Blog", "http://blog.openaustralia.org"
          %li= link_to "Twitter", "http://twitter.com/planningalerts"
        %span#oaf An OpenAustralia Foundation Project
    - if @set_focus_control
      %script{ :type => "text/javascript", :defer => "defer" }<
        setFocus('#{@set_focus_control}');;
