!!! Strict
%html(xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    - if @page_title
      %title PlanningAlerts | #{@page_title}
    - else
      %title PlanningAlerts | Email alerts of planning applications near you
    - if @rss
      %link(rel="alternate" type="application/rss+xml" title="RSS" href=@rss)
    = stylesheet_link_tag "memespring", "main", :media => "all"
    %script(type="text/javascript")

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{Configuration::GOOGLE_ANALYTICS_KEY}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    %script(src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{Configuration::GOOGLE_MAPS_KEY}" type="text/javascript")
    %style(type="text/css")
      v:* { behavior:url(#default#VML);}
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "mxn.js"
    = javascript_include_tag "mxn.core.js"
    = javascript_include_tag "mxn.google.core.js"
  %body
    #header
      %h1
        = link_to "PlanningAlerts<span>.</span>org<span>.</span>au", root_path
        %sup> beta
      %h2 Email alerts of planning applications <em>near you</em>
      #statsbanner
        %p#stats
          #{@alert_count} applications sent for
          = link_to "#{@authority_count} authorities", about_path(:anchor => "authorities")
    .hide= link_to "Skip navigation", "#content"
    #menu
      %ul.collapse
        = li_selected(:controller => "static", :action => "about") do
          - link_to 'About', about_path
        = li_selected(:controller => "api", :action => "howto") do
          - link_to api_howto_path do
            %acronym(title="Application programming interface") API
        = li_selected(:controller => "static", :action => "get_involved") do
          - link_to 'Get Involved', get_involved_path
        = li_selected(:controller => "static", :action => "faq") do
          - link_to faq_path do
            %acronym(title="Frequently asked questions") FAQ
        = li_selected(:controller => "alerts", :action => ["signup", "check_mail"]) do
          - link_to 'Sign Up', signup_path
    #page
      #content
        = yield
      #footer
        %ul.inline
          %li= link_to "Contact", about_path(:anchor => "contact")
          %li= link_to "Blog", "http://blog.openaustralia.org"
          %li= link_to "Twitter", "http://twitter.com/planningalerts"
        %span#oaf An <a href="http://openaustraliafoundation.org.au">OpenAustralia Foundation</a> Project
    - if @set_focus_control
      %script(type="text/javascript" defer="defer")
        document.getElementById('#{@set_focus_control}').focus();
    %script(type="text/javascript")
      var uservoiceOptions = {key: 'planningalerts', host: 'planningalerts.uservoice.com', forum: '49635', alignment: 'right', background_color:'#F4F322', text_color: 'black',
      hover_color: '#FF8C00', lang: 'en', showTab: true};
      function _loadUserVoice() {
      var s = document.createElement('script');
      s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
      document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    
