!!! 5
%html
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    - if yield(:meta_description)
      %meta{:name => "Description", :content => yield(:meta_description)} 
    %meta(name="viewport" content="width=900, initial-scale=0.35")
    %title
      - if yield(:page_title) != ""
        = yield(:page_title)
      - else
        Email alerts of planning applications near you
      | PlanningAlerts
    - if @rss
      %link(rel="alternate" type="application/rss+xml" title="RSS" href=@rss)
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    %style(type="text/css")
      v:* { behavior:url(#default#VML);}
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = csrf_meta_tag
  %body
    #container
      #header
        #banner
          %h1
            = link_to root_path do
              PlanningAlerts
              %span<> .
              org
              %span<> .
              au
          %h2 Email alerts of planning applications <em>near you</em>
        #statsbanner
          %p#stats
            #{number_to_human(@alert_count).downcase} applications sent for
            = link_to "#{@authority_count} authorities", authorities_path
      .hide= link_to "Skip navigation", "#content"
      #menu
        %ul.collapse
          = li_selected(:controller => "/applications", :action => "address") do
            = link_to 'Search', address_applications_path
          = li_selected(:controller => "/alerts", :action => ["new", "create"]) do
            = link_to 'Sign Up', new_alert_path
          = li_selected(:controller => "/static", :action => "faq") do
            = link_to faq_path do
              %abbr(title="Frequently asked questions") FAQ
          = li_selected(:controller => "/authorities", :action => "index") do
            = link_to 'Coverage', authorities_path
          = li_selected(:controller => "/static", :action => "get_involved") do
            = link_to 'Get Involved', get_involved_path
          = li_selected(:controller => "/api", :action => "howto") do
            = link_to api_howto_path do
              Get the Data
          = li_selected(:controller => "/static", :action => "about") do
            = link_to 'About', about_path
      #page
        #content
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
          - if flash[:error]
            %p.error= flash[:error]
          = yield
      #footer
        %ul.inline
          %li= link_to "Contact", about_path(:anchor => "contact")
          %li= link_to "Blog", "http://blog.openaustralia.org"
          %li= link_to "Twitter", "http://twitter.com/planningalerts"
        %span#oaf An <a href="http://openaustraliafoundation.org.au">OpenAustralia Foundation</a> Project
        #mobile= mobile_switcher_links
      - if @set_focus_control
        %script(type="text/javascript")
          document.getElementById('#{@set_focus_control}').focus();
    = render "shared/analytics"
    :javascript
      var uservoiceOptions = {key: 'planningalerts', host: 'planningalerts.uservoice.com', forum: '49635', alignment: 'right', background_color:'#F4F322', text_color: 'black',
      hover_color: '#FF8C00', lang: 'en', showTab: true};
      function _loadUserVoice() {
      var s = document.createElement('script');
      s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
      document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    - if yield(:map)
      %script(src="http://maps.google.com/maps?file=api&v=2&key=#{Configuration::GOOGLE_MAPS_KEY}" type="text/javascript")
      %script(src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript")
      = javascript_include_tag "mxn.js", "mxn.core.js", "mxn.google.core.js", :cache => "mxn_bundle"
    = vanity_js
