<!doctype html>
<html lang="en">
  <head>
    <%= render "html_head" %>
  </head>
  <body x-data="{ bodyScrolling: true }" x-bind:class="{ 'overflow-hidden': !bodyScrolling}">
    <%= render "header" %>
    <main>
      <%= render Tailwind::ContainerComponent.new do %>
        <%= render "maintenance" %>
        <%# render "fundraising_banner" %>
        <%= render "welcome_banner" %>
        <%= render "flashes" %>

        <div class="mb-32 mt-9 sm:mt-16">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
        <%# This is for an illustration that is stuck to the top of the
        footer on the right hand side %>
        <% if content_for?(:footer_illustration) %>
          <div class="flex justify-end">
            <div class="pr-24">
              <%= yield(:footer_illustration) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </main>
    <%= render "footer" %>
  </body>
</html>
