!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    - if yield(:meta_description)
      %meta{:name => "Description", :content => yield(:meta_description)}
    %meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0")
    %meta(name="format-detection" content="telephone=no") 
    %title PlanningAlerts | #{yield(:page_title) || "Email alerts of planning applications near you"}
    = stylesheet_link_tag "mobile"
  %body
    .page
      .head
        %h1.logo= link_to "PlanningAlerts.org.au", root_url
      .body= yield
      .foot
        .mobile= mobile_switcher_links
