- content_for :meta_description, Rails.configuration.planningalerts_meta_description

= render "home/address_search_preamble"

%form.address-search.formtastic.one-field{ "accept-charset" => "UTF-8", "action" => address_applications_path, "method" => "get" }
  %fieldset.inputs
    %ol
      %li.string#q_input{ class: ("error" if @error) }
        = label_tag(:q, "Enter a street address")
        = render "home/address_field_with_geolocate", q: @q, error: @error

  %fieldset.actions
    %ol
      %li.submit= submit_tag "Search", name: nil, class: "button button-rounded button-large button-action"

= render "home/trending", applications: @trending
= render "home/tweets"
